input[readonly] {
    color: #777;
}

input {
    padding: 5px;
    font-size: 0.9em;
    background: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

input:focus, {
    background: rgb(240, 244, 255);
    border: 1px solid #B6B6B6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.map {
    width: 925px;
    height: 400px;
    border: 1px solid #888;
}

.mapinfo {
    font-size: 0.85em;
    color: #888;
}

.mapinfo > div {
    display: inline;
    padding-right: 10px;
}

.address {
    margin-bottom: 20px;
}

.address li {
    list-style: disc inside;
}

.address .options ul {
    margin: 10px;
}

.address > .caption {
    font-size: 1.5em;
    padding: 10px 0;
    line-height: 23px;
}

.address table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #bbb;
    border-collapse: separate;
    background-color: transparent;
    border-spacing: 0;
    /* border-left: 0; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.address table tr:first-child th:first-child {
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
}

.address table tr:first-child th:last-child {
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.address table th, .address table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.address table th,
.address table td {
    text-align: center;
}

.address table td:first-child {
    text-align: left;
}

.address table tr:nth-child(odd) td,
.address table tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.address table tr:first-child th,
.address table tr:first-child td {
    border-top: 0;
}

.address table tr th:first-child,
.address table tr td:first-child {
    border-left: 0;
}

.address > .item .photos {
    clear: both;
    margin: 10px 0;
}

.address > .item .photos img {
    cursor: pointer;
}

.address > .item .photos img,
.address > .item > .photo {
    border: 1px solid #ccc;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
    position: relative;
}

.content .list-view .items .empty {
    margin: 20px 0;
    display: inline-block;
}

.content .list-view .summary {
    display: inline;
    float: right;
    margin-top: -20px;
}

.content .list-view .summary.fl-n {
    float: none;
    display: block;
}

.content form .list-view .summary {
    display: block;
    float: none;
}

.bulk-actions #select-all {
    margin-left: 16px;
}

.address .price {
    margin-top: 10px;
}

.address .price table small {
    display: block;
}

.address_caption {
    clear: both;
    overflow: hidden;
}

.address_caption h1,
.address_caption h2 {
    float: left;
}

.address_caption .sign {
    margin: 23px 10px 0 0;
}

.address_caption .sign.gray {
    background-color: #cccccc;
    color: #fff;
}

.address_caption .actions {
    overflow: hidden;
}

.address_caption .actions li {
    float: left;
    position: relative;
    border-left: 1px solid #ddd;
    list-style: none;
    margin-right: 5px;
    padding-left: 5px;
}

.address_caption .actions li:first-child {
    border: none;
    padding-left: 0;
}

.address_caption .actions li a {
    opacity: .5;
}

.address_caption .actions li a:hover {
    opacity: 1;
}

.address_caption .actions li input {
    margin-left: 0;
}

.address_caption .actions li .member-feedback {
    display: block;
    background: url("/ximg/icons/mail.png") no-repeat 50% 1px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.address_name {
    font-size: larger;
}

.address-summary img {
    width: 180px;
    padding: 1px;
}

.address-summary .no-photo {
    display: block;
    height: 120px;
    width: 180px;
    background: url('../ximg/icons/camera.png') no-repeat 50% 50%;
}

.address-summary img,
.address-summary .no-photo {
    border: 1px solid #ccc;
}

.address-visits {
    font-size: 11px;
    margin-top: 30px;
    color: #333;
}

.content .list-view .items .address_caption .sign {
    margin-top: 20px;
}

.content .list-view .items .controls {
    display: none;
}

/* list view */
.content .list-view.list {
    margin-top: 12px;
}

.content .list-view.list .summary {
    margin-top: -32px;
    padding: 5px 0;
}

.list-view .address {
    border-top: 1px solid #eee;
}

.list-view .address:first-child {
    border-top: none;
}

.list .address {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    display: block;
    padding: 15px;
    margin-bottom: 16px;
    overflow: hidden;
}

.list.list-view .address {
    padding: 5px 15px;
    border: 1px solid #eee;
}

.list .address .item {
    display: none;
}

.list .address .controls {
    display: block !important;
    float: left;
    width: 195px;
    border-left: 1px solid #eee;
    padding-left: 10px;
}

.list .address .controls li {
    list-style: none;
}

.list .address .address_caption {
    width: 426px;
    float: left;
}

.list .address .address_caption > h2 {
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    float: left;
    font-weight: normal;
    padding: 0;
    width: 100%;
}

.list .address .address_caption > h2 a {
    letter-spacing: normal;
}

.list .address .address_caption .sign {
    margin: 2px 0 0 0 !important;
}

.list .address .errorSummary {
    margin: 5px 0;
    padding: 0;
    border: none;
    background: none;
    font-size: smaller;
    color: #dd1517;
}

.switcher li {
    float: left;
    margin-right: 30px;
}

.switcher li+li {
    line-height: 2;
    height: 2em;
    padding: 0 1em;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.switcher li+li.selected:hover,
.switcher li.selected {
    background: #7a7dca;
    color: #fff;
    z-index: 3;
    cursor: auto;
}

.switcher li span {
    border-bottom: 1px dashed #333;
    cursor: pointer;
}

.switcher li+li:hover {
    background-color: #DFDDF9;
}

.switcher li+li:hover span,
.switcher li.selected span {
    border: none;
}

.switcher li.selected span {
    cursor: default;
}

/* for moderators */
.content#admin .group_ctrl.narrow {
    width: 620px;
}

.content#admin .attract {
    background-color: #e5e3ff;
}

#dialog-form label {
    display: block;
    margin-bottom: 10px;
}

#dialog-form #_address_comment {
    width: 300px;
}

#admin.content .filter-list {
    margin-bottom: 40px;
}

#admin.content .filter-list select {
    margin: 0 3% 0 0;
    width: 47%;
}

/* Market grid */
#content-address-grid,
#content-address-grid .box {
    width: 964px;
}

#content-address-grid .box {
    width: 962px;
}

#content-address-grid h1 {
    margin-top: 8px;
}

#address_grid.grid-view-loading {
    background: url('/ximg/small-loader.gif') repeat-x 0 12px;
}

#address_grid .sort-link,
#address_grid .sort-link:hover {
    text-decoration: none;
}

#address_grid .sort-link.asc,
#address_grid .sort-link.desc {
    display: block;
}

#address_grid .sort-link span {
    border-bottom: 1px dotted #4444ba;
}

#address_grid .sort-link.asc:after,
#address_grid .sort-link.desc:after {
    font-size: 13px;
    width: 16px;
    height: 10px;
    display: inline-block;
    content: '';
}

#address_grid .sort-link.asc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") -14px -3px no-repeat;
}

#address_grid .sort-link.desc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") 3px -3px no-repeat;
}

#address_grid.grid-view {
    padding: 0 0 15px 0;
}

#address_grid.grid-view .summary {
    margin-top: -22px;
    clear: both;
}

#address_grid th {
    font-weight: normal;
    font-size: 13px;
}

#address_grid th#ag_price_11m,
#address_grid th#ag_price_6m,
#address_grid td .small {
    font-size: 11px;
}

#address_grid th#ag_price_11m,
#address_grid th#ag_price_6m {
    width: 9%;
}

#address_grid th,
#address_grid td {
    vertical-align: middle;
    padding: 7px 10px 6px 10px;
    border: 1px solid #ccc;
    text-align: center;
    /* white-space: nowrap; */
}

#address_grid.bd-n th,
#address_grid.bd-n td {
    border: none;
}

#address_grid.bd-n td {
    padding-left: 0;
}

#ag_bc_name,
#ag_address_short,
#address_grid td.ta-l {
    text-align: left !important;
}

#ag_tax_office_id {
    width: 8%;
}

#ag_address_short {
    width: 33%;
}

#ag_square {
    width: 6%;
}

#ag_price_post {
    width: 9%;
}

#ag_rating {
    width: 9%;
}

#ag_bc_name {
    width: 17%;
}

#address_grid tr {
    background-color: #fff;
}

#address_grid td.whs-n {
    white-space: normal !important;
}

#address_grid td img {
    float: left;
    margin-right: 10px;
    padding: 1px;
    border: 1px solid #ccc;
}

#address_grid th small {
    display: block;
    font-size: 0.85em;
}

#address_grid th .help {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
}

#address_grid i.new-label {
    width: 32px;
    height: 32px;
    display: block;
    background: url('/ximg/icons/flag_new.png') no-repeat 50% 50%;
    position: absolute;
    margin-top: -5px;
    margin-left: -3px;
}

#address_grid i.ico-empty,
#address_grid i.ico-office,
#address_grid i.ico-warranty {
    width: 16px;
    height: 16px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#address_grid i.ico-office {
    background-image: url('/ximg/icons/icon_office.png');
}

#address_grid i.ico-warranty {
    background-image: url('/ximg/icons/icon_warranty.png');
}

.boxtitle .add_favorite,
.boxtitle .remove_favorite {
    display: inline-block;
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

.address-view .box {
    float: none;
}

.address-view .address-summary {
    clear: both;
    overflow: hidden;
}

.address-view .address-summary img,
.address-view .address-summary .no-photo {
    float: left;
    margin-right: 10px;
}

.address-view .address-summary table {
    width: 440px;
}

.address-view .address-summary table td.btn {
    vertical-align: middle;
    text-align: right;
}

.content.flow .grid-view td.price,
.address-view .address-summary td {
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.address-view .address-summary td div {
    padding: 2px 0 1px 0;
}

.address-view .address-summary td.price div {
    padding: 0;
}

.content.flow .grid-view td.price,
.address-view .address-summary td.price {
    font-size: 18px;
}

.content.flow .grid-view td.price {
    text-align: right;
}

.address-view .address-summary td.price span {
    font-weight: normal;
}

.address-view .address-summary td small {
    font-size: 12px;
    font-weight: normal;
}

.address-view .address-summary .button {
    font-size: 16px;
    font-weight: normal;
    padding: 10px 25px;
    background-color: #bec0ff;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eae7ff), color-stop(25%, #fcfcff), to(#bec0ff));
    background-image: -webkit-linear-gradient(#eae7ff, #fcfcff 25%, #bec0ff);
    background-image: -moz-linear-gradient(top, #eae7ff, #fcfcff 25%, #bec0ff);
    background-image: -ms-linear-gradient(#eae7ff, #fcfcff 25%, #bec0ff);
    background-image: -o-linear-gradient(#eae7ff, #fcfcff 25%, #bec0ff);
    background-image: linear-gradient(#eae7ff, #fcfcff 25%, #bec0ff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae7ff', endColorstr='#bec0ff', GradientType=0);
    border-color: #d9dbff;
    border-bottom-color: #7a7dca;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.address-view .address-summary .button:hover {
    color: #434195;
}

.address-view .address-options {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    clear: both;
    padding-bottom: 20px;
}

.address-view .address-options li {
    width: 50%;
    float: left;
}

.address-view .address-options li:before {
    content: "\203A  ";
}

.address-view .box .boxbottom {
    margin-left: -15px;
    padding-top: 0;
}

.address-view h2 {
    padding: 10px 0 0 0 !important;
}

.address-view h1 {
    margin-bottom: 0;
}

.address-view #add_references_form {
    margin-top: -40px;
    margin-bottom: 40px;
}

.address-view .response-controls {
    margin-top: -25px;
}

.address-docs-delivery input {
    width: 535px !important;
}

.related-addresses .boxbottom {
    border-top: 1px solid #ccc;
}

.related-addresses .boxbottom p {
    padding: 10px 0 5px 0;
}

.calendar-add,
.calendar-delete {
    padding: 2px 0 2px 25px;
    color: #4D4D4D;
    font-size: 11px;
}

.calendar-add {
    background: url('../ximg/icons/calendar_add.png') no-repeat 0 50%;
}

.calendar-delete {
    background: url('../ximg/icons/calendar_delete.png') no-repeat 0 50%;
}

#market-address-filter {
    padding: 10px;
    overflow: hidden;
}

#market-address-filter .ctrls {
    overflow: hidden;
    display: inline;
}

#market-address-filter .ctrls li {
    position: relative;
    float: left;
    margin: 0 20px 2px 5px;
    height: 16px;
}

#market-address-filter .ctrls li {

}

#market-address-filter .ctrls span.sign {
    border: none !important;
    font-size: 13px;
    margin: -1px -8px 0 -8px;
}

#market-address-filter .ctrls span.sign:hover {
    color: #fff;
}

#market-address-filter .ico-clear {
    /*
    background: url('/ximg/icons/remove_gray.png') no-repeat 50% 50%;
    width: 16px;
    */
    height: 16px;
    display: block;
    position: relative;
    float: right;
    font-style: normal;
    border-bottom: 1px dotted #dd1517;
    color: #dd1517;
}

#market-address-filter-lists > ul,
#market-address-filter-lists > span {
    position: absolute;
    top: -10px;
    left: 0;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 10px 14px;
    z-index: 10;
    display: none;
}

#data-ctrl-company,
#data-ctrl-tax-office {
    white-space: nowrap;
    min-width: 120px;
    max-width: 400px;
    max-height: 210px;
    overflow: auto;
    overflow-x: hidden;
}

#data-ctrl-moscow-area li {
    cursor: pointer;
}

#data-ctrl-moscow-area li:hover {
    color: #4444ba;
}

#data-ctrl-moscow-area li.active {
    color: #679BE6;
    cursor: default;
}

#data-ctrl-company-search {
    width: 210px;
}

#data-ctrl-company {
    overflow: hidden;
}

#data-ctrl-company-wrapper {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    max-height: 180px;
    margin: 5px -14px 5px 0px;
}

#data-ctrl-company-wrapper label {
    padding-right: 24px;
    /*
    max-width: 200px;
    display: inline-block;
    */
}

/* jcarousel regforum skin */

.address-view .jcarousel-wrapper {
    width: 664px !important;
    padding: 0 8px;
}

.address-view .jcarousel-wrapper img {
    padding: 1px;
    border: 1px solid #ccc;
}

.jcarousel-skin-rf .jcarousel-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.jcarousel-skin-rf .jcarousel-direction-rtl {
    direction: rtl;
}

.jcarousel-skin-rf .jcarousel-container-horizontal {
    width: 640px;
    padding: 20px;
}

.address-view .jcarousel-wrapper,
.jcarousel-skin-rf .jcarousel-container-horizontal {
    margin-left: -8px;
}

.jcarousel-skin-rf .jcarousel-container-vertical {
    width: 80px;
    height: 640px;
    padding: 40px 20px;
}

.jcarousel-skin-rf .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-rf .jcarousel-clip-horizontal {
    width: 610px;
    height: 80px;
    padding: 2px 10px 0 2px;
    margin-left: 10px;
}

.jcarousel-skin-rf .jcarousel-clip-vertical {
    width:  80px;
    height: 640px;
}

.jcarousel-skin-rf .jcarousel-item {
    width: 120px;
    height: 80px;
}

.jcarousel-skin-rf .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 5px;
}

.jcarousel-skin-rf .jcarousel-direction-rtl .jcarousel-item-horizontal {
    margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-rf .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-rf .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */

.jcarousel-skin-rf .jcarousel-next-horizontal,
.jcarousel-skin-rf .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


.jcarousel-skin-rf .jcarousel-next-horizontal {
    right: 0;
    background: url('../ximg/icons/arrow_right_32x32.png') no-repeat scroll 50% 50%;
}

.jcarousel-skin-rf .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url('../ximg/icons/arrow_right_32x32.png');
}

/*.jcarousel-skin-rf .jcarousel-next-horizontal:hover,
.jcarousel-skin-rf .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}*/

.jcarousel-skin-rf .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-rf .jcarousel-next-disabled-horizontal,
.jcarousel-skin-rf .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-rf .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-rf .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-rf .jcarousel-prev-horizontal {
    left: 0;
    background: url('../ximg/icons/arrow_left_32x32.png') no-repeat scroll 50% 50%;
}

.jcarousel-skin-rf .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url('../ximg/icons/arrow_left_32x32.png');
}

/*.jcarousel-skin-rf .jcarousel-prev-horizontal:hover,
.jcarousel-skin-rf .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}*/

.jcarousel-skin-rf .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-rf .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-rf .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-rf .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-rf .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.order-captcha {
    width: 150px;
}

.order-captcha img,
.order-captcha a {
    display: block;
}

.order-captcha a {
    font-size: 11px;
}