.page-addresses button.btn.btn-primary {
    background-color: #2f76dc;
}

.page-addresses button.btn.btn-primary:hover {
    background-color: #ffffff;
}

.page-addresses button.btn-default:hover {
    background-color: #2f76dc !important;
}

.page-addresses .block1 {
    background-color: #54d45a;
}

.page-addresses .block1 .info {
    overflow: hidden;
    padding: 20px 0;
    margin-bottom: 20px;
}

.page-addresses .block1 .info-left {
    float: left;
}

.page-addresses .block1 .info-left span {
    font-size: 120px;
    color: #ffffff;
}

.page-addresses .block1 .info-count {
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 17px;
    position: absolute;
    top: 55px;
    left: 68px;
}

.page-addresses .block1 .info-right {
    overflow: hidden;
}

.page-addresses .block1 .info-title {
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 20px;
}

.page-addresses .block1 .map {
    background: url("../ximg/russia-map.png") no-repeat right;
    width: 100%;
    height: 430px;
    padding: 0 20px;
    position: relative;
}

.page-addresses .block1 .map .region-list {
    position: absolute;
    right: 0;
    width: 200px;
    bottom: 0;
    height: 100%;
    background-color: #383838;
    border: 0 solid #93dda5;
}

.page-addresses .block1 .map .region-list .region-list-search {
    height: 50px;
    background-color: #383838;
    padding: 11px 20px;
    line-height: 30px;
    border-bottom: 1px solid #4c4c4c;
}

.page-addresses .block1 .map .region-list .region-list-search span {
    color: #5f5f5f;
    font-size: 17px;
    margin-right: 5px;
}

.page-addresses .block1 .map .region-list .region-list-search input {
    background: transparent;
    border: none;
    font-size: 14px;
    color: #a2a2a2;
    padding: 0 10px;
    width: 134px;
}

.page-addresses .block1 .map .region-list .region-list-search input:focus {
    outline: 1px solid #a2a2a2;
}

.page-addresses .block1 .map .region-list ul {
    padding: 20px;
    list-style: none;
}

.page-addresses .block1 .map .region-list ul li.active {
    font-size: 15px;
    margin-bottom: 8px;
}

.page-addresses .block1 .map .region-list ul li {
    color: gainsboro;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}

.page-addresses .block1 .map .region-list ul li span {
    font-size: 9px;
    position: absolute;
    top: -5px;
    color: #9b9b9b;
    margin-left: 2px;
}

.page-addresses .block1 .map .select-title {
    color: #2e6442;
    font-size: 18px;
}

.page-addresses .block2 {

}

.page-addresses .block2 .top .new-addresses-star {
    background: url("/ximg/new-addresses-star.svg");
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 20px;
}

.page-addresses .block2 .top {
    padding: 20px 20px 20px 40px;
}

.page-addresses .block2 .bottom {

}

.page-addresses .block2 .top .new-addresses-title {
    color: #494949;
    font-size: 22px;
    float: left;
    line-height: 35px;
    margin-right: 20px;
}

.page-addresses .block2 .top .add-addresses {
    margin-top: 7px;
}

.page-addresses .block2 .bottom .address-list {
    margin-top: 20px;
}

.page-addresses .block2 .bottom .address-list th {
    color: #a2a2a2;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.55px;
    padding: 10px 20px;
}

.page-addresses .block2 .bottom .address-list tbody tr:hover {
    background-color: #f7fbf2;
}

.page-addresses .block2 .bottom .address-list td {
    vertical-align: middle;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;

}

.page-addresses .block2 .bottom .address-list .address-list-preview {
    float: left;
    margin-right: 10px;
}

.page-addresses .block2 .bottom .address-list .address-list-item {
    font-size: 12px;
    margin-bottom: 3px;
}

.page-addresses .block2 .bottom .address-list .address-list-agreement {
    color: #b0b0b0;
    font-size: 9px;
    text-transform: uppercase;
}

.page-addresses .block2 .bottom .address-list .address-list-cost {

}

.page-addresses .block2 .bottom .address-list .address-list-cost-description {
    color: #a6a6a6;
    font-size: 11px;
}

.page-addresses .block2 .bottom .buttons {
    text-align: center;
    margin: 50px 20px;
}

.page-addresses .block2 .bottom .buttons .btn {
    height: 50px;
    font-size: 12px;
    font-weight: 700;
}

.page-addresses .block2 .bottom .buttons .btn.btn-primary {
    margin-right: 20px;
}

.page-addresses .block2 .bottom .buttons .btn span {
    font-size: 15px;
}

.page-addresses .block3 .carousel-inner .item {
    background-color: #54d45a;
    height: 350px;
}

.page-addresses .block3 .carousel-control {
    background-image: none;
    font-size: 35px;
    padding-top: 150px;
}

.page-addresses .block3 .carousel-indicators {
    bottom: 10px;
}


.page-addresses .block3 .carousel-indicators .active {
    background-color: #307942;
    border: 1px solid #307942;
}

.page-addresses .block3 .carousel-item {
    max-width: 670px;
    margin: auto;
    overflow: hidden;
    padding-top: 80px;
}

.page-addresses .block3 .carousel-item-quote {
    color: #494949;
    font-size: 68px;
    font-weight: 400;
    top: 0;
    left: -25px;
    position: absolute;
}

.page-addresses .block3 .carousel-item-left {
    float: left;
    margin-right: 50px;
}

.page-addresses .block3 .carousel-item-left img {
    width: 180px;
    height: 180px;
}

.page-addresses .block3 .carousel-item-right {
    max-width: 650px;
    margin-left: 220px;
    position: relative;
}

.page-addresses .block3 .carousel-item-right p {
    font-size: 18px;
    color: #313131;
    margin-top: 30px;
    margin-bottom: 30px;
}

.page-addresses .block3 .carousel-item-right .carousel-item-author-name {
    color: #353535;
    font-size: 13px;
    font-weight: 700;
}

.page-addresses .block3 .carousel-item-right .carousel-item-author-post {;
    color: #353535;
    font-size: 11px;
    font-style: italic;
}

.page-addresses .block4 {
    padding: 25px 35px 40px 25px;
}

.page-addresses .block4 h2 {
    max-width: 450px;
    margin-bottom: 20px;
}