.advertising table {
    background-color: #ffffff;
    border: 1px solid #ccc;
}
.advertising table tr {
    border: 1px solid #ccc;
}
.advertising table tr td {
    border: 1px solid #ccc;
    padding: 5px;
}
td.name {
    width: 85%;
}
ul.advertising {/* Список первого уровня */
    counter-reset: list1;
}
ul.advertising ul { /* Список второго уровня*/
    counter-reset: list2;
}
ul.advertising li:before { /* Список первого уровня */
    font-size: 18px;
    counter-increment: list1; /* Увеличиваем значение счетчика */
    content: counter(list1) ". "; /* Выводим значение в виде 1., 2.*/
}
ul.advertising ul li:before { /* Список второго уровня */
    font-size: 17px;
    counter-increment: list2; /* Увеличиваем значение счетчика */
    content: counter(list1) "." counter(list2) ". "; /* Выводим значение типа 2.1, 2.2,... */
}
ul.advertising li {
    padding-top: 10px;
}
div.head_name {
    display: inline;
    font-size: 18px;
    padding-bottom: 5px;
    letter-spacing: -1px;
}
ul.advertising li ul li div.head_name {
    font-size: 17px;
}

.advertising span.format {
    display: block;
    font-size: 12px;
    color: #7E7E7E;
}
.advertising table {
    margin: 10px 0;
}
.footnote {
    padding-bottom: 10px;
}

.footnote ul {
    list-style: disc;
    margin-left: 23px;
}

.advertising s {
    color: #777;
}

.advertising .cost {
    font-size: 14px;
}