/*-----------------------------------------Стандартные правила начало-------------------------------------------------*/
/*------------------------------------*\
          TEXT COLORS CLASSES
\*------------------------------------*/
.indianred {
    color: #cd5c5c;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
/*------------------------------------*\
     END OF THE TEXT COLORS CLASSES
\*------------------------------------*/
/*------------------------------------*\
     STANDARD CLASSES
\*------------------------------------*/
.help {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: help;
    background: url('/ximg/icons/ico-help.png') no-repeat;
}
.right {
    float: right;
}
.left {
    float: left;
}
.list_decimal {
    list-style: decimal;
}
.list_decimal li {
    margin-left: 30px;
}
.list_disc {
    list-style: disc;
}
.list_disc li {
    margin-left: 30px;
}
.text_justify {
    text-align: justify;
}
.bold{
    font-weight: bold;
}
div.error {
    color: #ff0000;
}
/*------------------------------------*\
     END OF THE STANDARD CLASSES
\*------------------------------------*/
/*------------------------------------*\
     STANDARD BORDER COLORS CLASSES
\*------------------------------------*/
.border {
    border: 1px solid #ccc;
    padding: 5px;
}
.border_bottom {
    border-bottom: 1px solid #ccc;
}
.border_top {
    border-top: 1px solid #ccc;
}
.border_left {
    border-left: 1px solid #ccc;
}
.border_right {
    border-right: 1px solid #ccc;
}
.border.mt-1 {
    margin-top: -1px;
}
/*------------------------------------*\
     END OF THE BORDER CLASSES
\*------------------------------------*/
.no-margin {
    margin: 0!important;
}
/*-----------------------------------------Стандартные правила конец--------------------------------------------------*/
/*------------------------------------*\
	$RESET
\*------------------------------------*/
/*
A more considered reset; more of a restart...
*/
html, body, ul, ol, li, form, fieldset, legend {
    margin: 0;
    padding: 0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section {
    display: block;
}
p {
    margin-top: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin-top: 0;
    font-weight: normal;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
strong, b, mark {
    font-weight: bold;
    font-style: inherit;
}
em, i, cite, q, address, dfn, var {
    font-style: italic;
    font-weight: inherit;
}
abbr[title], dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}
ins {
    border-bottom: 1px solid;
}
a, ins {
    text-decoration: none;
}
del, s {
    text-decoration: line-through;
    color: #5d5d5d;
}
pre, code, samp, kbd {
    font-family: monospace;
}
small {
    font-size: 0.75em;
}
legend {
    color: #000;
    padding-bottom: 10px;
}
fieldset, img {
    border: 0;
}
img {
    border: none;
    font-style: italic;
    -ms-interpolation-mode: bicubic;
}
input, select, option, optgroup, textarea {
    font: inherit;
}

input:focus,
textarea:focus,
select:focus {
    outline:none;
}

pre.debug {
    color: #9B0A0A;
    font-size: 12px;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*------------------------------------*\
	$CLEARFIX
\*------------------------------------*/
/*
Big up @necolas: nicolasgallagher.com/micro-clearfix-hack
*/
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}

/*------------------------------------*\
	$SHARED
\*------------------------------------*/
/* Default indentation value for lists etc. */
ul, ol, dd {
    list-style: none;
}
ul.double {
    float: left;
    width: 100%;
}
ul.double li {
    float: left;
    width: 47%;
}
.triple li {
    width: 33.333%;
}
.quad li {
    width: 25%;
}
.six li	{
    width: 16.666%;
}

ol {
    list-style: decimal;
    margin-left: 15px;
}

/*------------------------------------*\
	$MAIN
\*------------------------------------*/
body, html { height: 100%; }
html {
    overflow-y: scroll;
    line-height: 1.5;
}
body {
    color: #333;
    font-size: 0.8em;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

body.droid {
    font-family: 'Droid Sans', Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

/*------------------------------------*\
	$LAYOUT
\*------------------------------------*/
.container {
    margin: 0 auto 20px auto;
    width: 984px;
    text-align: left;
}

body, .container {
    background: #F8F8F8 url('/ximg/body_bg.png') repeat;
}

.content {
    float: left;
    width: 664px;
    position: relative;
    padding: 20px 10px 10px 10px;
}

.content.w100 {
    width: 964px;
    padding: 20px 0 10px 10px;
}

.one {
    width: 975px;
    padding-right: 20px;
    padding-left: 10px;
    position: relative;
}

.yandex_search {
    width: 957px;
    background: #fff;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 5px;
    float: left;
    font-size: 11px !important;
}

.yandex_search .categories_list .selected {
    background-color: rgba(82, 85, 253, 0.13);
}

.ya-site-form__input-text {
    padding: 5px;
    font-size: 0.9em;
    background: white;
}

.ya-site-form__submit {
    cursor: pointer;
    display: block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 4px 20px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}

.right_side {
    float: right;
    width: 260px;
    padding-right: 20px;
    padding-top: 13px;
    clear: right;
    position: relative;
}

.right_side .box .date {
    color: #727272;
    font-size: 11px;
}

.b-footer, .b-copyright, .cl {
    clear: both;
}

#top {
    width: 100%;
    height: 58px;
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    /*text-shadow: 0 1px 0 #000;*/
    z-index: 15000;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    box-shadow: 0 0 5px rgba(0, 0, 0, .7);
    margin-bottom: 5px;
    min-width: 984px;
}

header {
    width: 984px;
    height: 51px;
    margin: 0 auto;
    position: relative;
}

.topline {
    margin: 0 10px;
    text-align: center;
    padding: 5px;
    background-color: transparent;
}

.topline img {
    /* border: 1px solid #ccc; */
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -245px;
}
footer, .push {
    height: 245px;
    clear: both;
}

footer {
    font: 1em/1.55 Tahoma,Arial,Helvetica,sans-serif;
    width: 964px;
    margin: 0 auto;
    background: #135c98;
    color: #FFF;
    overflow: hidden;
    height: 268px;
}

.footer.h3 {
    margin: 11px 0 6px;
    color: #74a3c5;
    font-size: 19px;
    letter-spacing: 0;
}

footer a {
    color: #FFF;
}

footer .counters div {
    float: left;
    position: relative;
    margin: 20px 5px 0 0;
}

footer .stat {
    overflow: hidden;
    font-size: smaller;
    clear: both;
}

footer a:hover {
    color: #FFF;
}

.footer_tabs {
    padding: 15px 0;
}

.footer_tabs table td {
    width: 25%;
    vertical-align: top;
    padding: 0 32px;
    border-right: #4670a0 1px solid;
    border-top: none;
}

.footer_tabs table td.no-border {
    border: none;
}

.footer_tabs table td.last {
    padding-top: 41px;
}

.footer_tabs table td:last-child {
    border: 0;
}

.footer_tabs li.break {
    padding: 0 0 4px 0;
    margin: 0 0 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.footer_copyright {
    padding: 9px 16px 9px 220px;
    background: #383D42 url('../ximg/logo_white.svg') 20px 50% no-repeat;
    position: relative;
    font-size: 11px;
    background-size: 16em;
}

.footer_copyright .restriction {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 21px;
}

.footer_copyright span {
    padding-left: 12px;
}

.breadcrumbs {
    font-size: 0.85em;
    padding-left: 10px;
    padding-top: 7px;
}
.post.breadcrumbs span:not(.dropdown) {
    border-right: 1px solid #ddd;
    padding: 0 5px 0 5px;
}
.post.breadcrumbs span:last-child {
    border: 0;
}

/*------------------------------------*\
	$HEADER & MAINMENU
\*------------------------------------*/

.logo {
    float: left;
    font-size: 1.4em;
    padding: 5px 0 0 10px;
    margin: 1px 30px 0 0;
}

#mainmenu {
    float: right;
    margin-right: 30px;
    margin-top: 4px;
}
#mainmenu .mail {
    margin-left: -30px;
    padding-left: 20px;
    background: url("/ximg/icons/mail.png") 0 2px no-repeat
}

#header a,
#header span {
    font-size: 15px;
    color: #ececec;
    /* text-shadow: 0 1px 0 black; */
}

#mainmenu a,
#mainmenu span {
    cursor: pointer;
}

#header a:hover,
#header span:hover,
#header .sub:hover > a
{
    color: #f7c015;
    text-decoration: none;
}

#header ul {
    list-style: none;
    padding: 0
}


#header ul li {
    list-style: none;
    margin: 0 35px 0 0;
    padding: 19px 0 0 0;
    letter-spacing: 0.02em;
    float: left;
    position: relative
}

#header ul li .submenu a {
    *padding: 0;
    *margin: 0;
}

#header .submenu {
    display: none;
    left: -15px;
    margin: 0;
    padding: 20px 0 0;
    position: absolute;
    top: 30px;
    z-index: 500
}

#header .last .submenu {
    left: -36px;
}

#header .submenu .mbox {
    padding: 0;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-box-shadow: 0px 3px 3px rgba(22, 73, 122, 0.6);
    -webkit-box-shadow: 0px 3px 3px rgba(22, 73, 122, 0.6);
    box-shadow: 0px 3px 3px rgba(22, 73, 122, 0.6);
}

#top, #header .submenu .mbox {
    background-color: #135C98;
}

#header .submenu ul {
    list-style: none;
    padding: 10px 0 10px 0;
    line-height: 20px;
}

#header .submenu ul li {
    list-style: none;
    padding: 0px;
    margin: 0;
    float: none
}

#header .submenu ul li.break {
    padding: 0 0 4px 0;
    margin: 0 0 4px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

#header a.user{
    color: #f7c015;
}

#header a.new {
    color: #f7c015;
    background: url("/ximg/icons/alert_yellow.png") -1px no-repeat;
    padding-left: 19px !important;
    margin-left: 13px;
}

#header a.user img {
    margin-top: -6px;
    float: left;
    margin-right: 7px;
}

#header a.biglength {
    width: 100px;
    display: block;
    text-align: center;
    font-size: 0.9em;
    margin-top: -5px;
}

#header .submenu ul li a,
#header .submenu ul li span {
    white-space: nowrap;
    display: block;
    font-size: 12px;
    padding: 3px 35px 3px 15px
}

/*------------------------------------*\
	$HEADLINES
\*------------------------------------*/
h1, h2, h3 {
    letter-spacing: -1px;
}

h1 {
    font-size: 26px;
    padding: 20px 0;
    line-height: 26px;
}

h2 {
    clear: both;
    padding: 20px 0 10px 0;
    margin: 11px 0 6px;
    line-height: 23px;
}

div.box h2 {
    margin: 0;
}

h1 span {
    display: block;
    font-size: 0.8em;
}

h1.smaller,
h2 {
    font-size: 24px;
}

/*------------------------------------*\
	$LINKS
\*------------------------------------*/

a {
    color: #4444ba;
}

a:hover {
    color: #5555e6;
    text-decoration: underline;
}

/*------------------------------------*\
	$RIGHT SIDE
\*------------------------------------*/

.box {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    float: left;
    width: 268px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.transparent_box {
    margin-bottom: 20px;
}

.box > div {
    padding: 8px;
}

.box.rubricator select {
    font-size: 14px;
    padding: 3px 2px;
    height: 28px;
}

.box.rubricator .boxcnt {
    padding: 10px;
}

.boxtitle,
.boxbottom {
    position: relative;
    border-bottom: 1px solid #ccc;
}

.boxtitle {
    color: #353744;
}

.boxtitle,
.boxtitle a {
    font-size: 18px;
}

.box .boxfooter {
    border-top: 1px solid #D8DAE2;
    margin-top: -10px;
    text-align: center;
}

.box .boxfooter a.small {
    font-size: 11px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 8px;
}

.box .boxfooter a.small:hover {
    text-decoration: underline;
    border-bottom-style: none;
}

.boxbottom p {
    padding: 20px 0 10px 0;
    margin: 0;
}

.about_photos {
    padding-top: 85px;
}

.about_photos > div {
      padding-bottom: 10px;
}

.about_photos > div img {
    border: 1px solid #C7C7C7;
    padding: 1px;
    width: 248px;
    box-shadow: 2px 2px 5px #ddd;
    -webkit-box-shadow: 2px 2px 5px #ddd;
    -moz-box-shadow: 2px 2px 5px #ddd;
}


/*------------------------------------*\
	$OVERRIDES
\*------------------------------------*/
.flow .box {
    width: 100%;
    padding: 0 0 0 15px;
    /* float: none; */
    /* overflow: hidden; */
}
.anti-box {
    margin-left: -15px;
    padding: 0!important;
}
.flow {
    padding-top: 13px;
}

.flow h1 {
    padding: 0;
}

.flow .box .boxtitle,
.flow .box .boxcnt {
    margin-left: -15px;
}

.flow .box .boxcnt.bordered {
    border-top: 1px solid #ccc;
}

.title-filters h1 {
    padding: 0;
    margin-top: 8px;
}

/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/

@-webkit-keyframes btnActive {
    0% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    50% {
        text-shadow: 0 0 2px #7A7DCA;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
    }
    100% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}

@-moz-keyframes btnActive {
    0% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    50% {
        text-shadow: 0 0 2px #7A7DCA;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
    }
    100% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}

@-o-keyframes btnActive {
    0% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    50% {
        text-shadow: 0 0 2px #7A7DCA;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
    }
    100% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}

@keyframes btnActive {
    0% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    50% {
        text-shadow: 0 0 2px #7A7DCA;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 6px 3px #7A7DCA;
    }
    100% {
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
}


.button {
    cursor: pointer;
    font-size: 1.2em;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

.button.active-keyframe {
    -webkit-animation: btnActive 2s linear infinite; /* Safari 4+ */
    -moz-animation:    btnActive 2s linear infinite; /* Fx 5+ */
    -o-animation:      btnActive 2s linear infinite; /* Opera 12+ */
    animation:         btnActive 2s linear infinite; /* IE 10+ */
}

.bigbutton {
    font-size: 1.2em;
}

.rbb {
    padding: 8px 27px !important;
    font-size: 1.3em;
}

.btn_wide {
    width: 86px;
}


.btn_thank {
    position: absolute;
}

.btn_thank img {
    position: absolute;
    left: 12px;
    margin-top: 7px;
}

.btn_thank input {
    padding-left: 35px;
}

.button.disabled,
.button.disabled:hover
{
    color: #ccc;
}

.alfa {
    display: inline-block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}

.beta {
    background-repeat: no-repeat;
    background-color: #50a835; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #ffffff 0%, #c9efc9 30%, #50a835 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#c9efc9), color-stop(100%,#50a835)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ffffff 0%,#c9efc9 30%,#50a835 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #ffffff 0%,#c9efc9 30%,#50a835 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ffffff 0%,#c9efc9 30%,#50a835 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #ffffff 0%,#c9efc9 30%,#50a835 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#50a835',GradientType=0 ); /* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}

.reds {
    display: inline-block;
    background-color: #FFD0D0;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#FFD0D0));
    background-image: -webkit-linear-gradient(white, white 25%, #FFD0D0);
    background-image: -moz-linear-gradient(top, white, white 25%, #FFD0D0);
    background-image: -ms-linear-gradient(white, white 25%, #FFD0D0);
    background-image: -o-linear-gradient(white, white 25%, #FFD0D0);
    background-image: linear-gradient(white, white 25%, #FFD0D0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FFD0D0', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px white;
    color: #CA2121;
    border: 1px solid #FFE2E2;
    border-bottom-color: #DD7C7C;
}

.greens {
    display: inline-block;
    background-color: #c6f5c6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F4FFF1), color-stop(25%, #F4FFF1), to(#c6f5c6));
    background-image: -webkit-linear-gradient(#F4FFF1, #F4FFF1 25%, #c6f5c6);
    background-image: -moz-linear-gradient(top, #F4FFF1, #F4FFF1 25%, #c6f5c6);
    background-image: -ms-linear-gradient(#F4FFF1, #F4FFF1 25%, #c6f5c6);
    background-image: -o-linear-gradient(#F4FFF1, #F4FFF1 25%, #c6f5c6);
    background-image: linear-gradient(#F4FFF1, #F4FFF1 25%, #c6f5c6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4FFF1', endColorstr='#c6f5c6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px white;
    color: #22b622;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}

.yellow_button {
    background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
    background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
    background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
    background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
    background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
    background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px white;
    color: #CA2121;
    border: 1px solid #FFE2E2;
    border-bottom-color: #DD7C7C;
    display: inline-block;
    background-color: #FFD0D0;
    background-repeat: no-repeat;

}

.button:hover {
    background-position: 0 -6px;
    color: #333;
    text-decoration: none;
}

#movetop {
    width: 32px;
    height: 20px;
    background: transparent url(http://regforum.ru/images/up1.png) no-repeat scroll 0% 0%;
    position: fixed;
    bottom: 10px;
    right: 0;
    cursor: pointer;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}




/*------------------------------------*\
	$MISC
\*------------------------------------*/

.yandex_direct {
    width: 681px;
}

.sign {
    padding: 4px 8px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 5px;
    font-size: 11px;
    line-height: 13px;
}

.flash {
    padding: 10px !important;
    margin-top: 10px !important;
    border-radius: 5px !important;
}

.sign_green {
    color: #FFF;
    background-color: #53AC44;
}

.sign_blue {
    color: #FFF;
    background-color: #6366ac;
}

.sign_lightblue {
    color: #4D5DCF;
    background-color: rgba(45, 68, 238, 0.1);
    border: 1px solid #C1C3EE;
}

.sign_grey {
    color: #FFF;
    background-color: #969696;
}

.sign_ruby {
    color: #FFF;
    background-color: #dd1517;
}

.sign_scarlet {
    color: #FFF;
    background-color: #ff1a00;
}

.sign_red {
    color: #FFF;
    background-color: #dd5531;
}

.sign_orange {
    color: #FFF;
    background-color: #dc963b;
}

.errorSummary,
.note_info,
.type_info {
    padding: 10px;
    border-radius: 5px;
}

.type_info {
    border: 1px solid #d8dae5;
    background-color: #e9ebf6;
}

.errorSummary,
.note_info {
    border: 1px solid #ffb2a8;
    background-color: #FFD0D0;
}

.errorSummary li {
    list-style: disc;
    list-style-position: inside;
}

#reformal_tab {
    padding: 10px 2px 10px 0 !important;
}

.middle_message {
    margin: 13% auto;
    font-size: 1.4em;
    text-align: center;
}

.beta-version:after {
    content:" \03b2";
    margin-left: 2px;
}

/* Member */
.membership {
    margin: 0;
}

.membership {
    font-size: 14px !important;
}

.membership a {
    font-size: 15px !important;
}

/* ZC style shortcuts */
.bd-n {
    border: none;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w49 {
    width: 49%;
}

.w50 {
    width: 50%;
}

.w66 {
    width: 66%;
}

.w75 {
    width: 75%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w99 {
    width: 99%;
}

.w100 {
    width: 100%;
}

.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.m7 {
    margin: 7px;
}

.mt7 {
    margin-top: 7px;
}

.mb7 {
    margin-bottom: 7px;
}

.ml7 {
    margin-left: 7px;
}

.mr7 {
    margin-right: 7px;
}

.m10 {
    margin: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}
.ml-10 {
    margin-left: -10px;
}

.mr10 {
    margin-right: 10px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.p0 {
    padding: 0;
}

.pt0 {
    padding-top: 0;
}

.pb0 {
    padding-bottom: 0;
}

.pr0 {
    padding-right: 0;
}

.pl0 {
    padding-left: 0;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pr5 {
    padding-right: 5px;
}

.pl5 {
    padding-left: 5px;
}

.p10 {
    padding: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pr10 {
    padding-right: 10px;
}

.pl10 {
    padding-left: 10px;
}

.p15 {
    padding: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.pr15 {
    padding-right: 15px;
}

.pl15 {
    padding-left: 15px;
}

.d-b {
    display: block;
}

.d-n,
.hidden
{
    display: none;
}

.d-i {
    display: inline;
}

.d-ib {
    display: inline-block;
}
.d-ib-i {
    display: inline-block!important;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-f {
    position: fixed;
}

.pos-f.top {
    top: 10px;
}

.ov-h {
    overflow: hidden;
}

.ov-v {
    overflow: visible;
}

.cl-b {
    clear: both;
}

.fl-n {
    float: none;
}

.fl-l {
    float: left;
}

.fl-r {
    float: right;
}

.wbr-ba {
    word-break: break-all;
}

.whs-n {
    white-space: normal;
}

.whs-nw {
    white-space: nowrap;
}

.ta-l {
    text-align: left;
}

.ta-r {
    text-align: right;
}

.ta-c {
    text-align: center;
}
.fs13 {
    font-size: 13px;
}
.fs14 {
    font-size: 14px;
}
.pointer {
    cursor: pointer;
}
.op05 {
    opacity: 0.5;
}
.reject_reason {
    padding-bottom: 5px;
}
.reject_reason span {
    margin-right: 10px;
    font-size: 0.9em;
}
.razdel_top_files {
    padding-top: 15px;
    padding-bottom: 15px;
}

label.d-i {
    display: inline !important;
}

ul.fcn li:first-child {
    padding-left:  0;
}

/* IE7 fixes */
.tip-yellowsimple,
.ui-multiselect-menu
{
    *z-index:21000 !important;
}

.ui-dialog {
    *z-index:21000;
}

.sign {
    *display: inline;
}
#admin {
    min-height: 120px;
}
.members_topic{
    margin-bottom: 20px;
}
.members_topic .expired {
    color: #f7d1d1;
}
.form .row label {
    display: inline-block;
    width: 40%;
}

.sticky-info {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 1px 5px !important;
}

a.icon-new {
    background: url('/ximg/icons/new.png') no-repeat 100% 0;
    padding-right: 20px;
}

.small a {
    font-size: 11px;
}

.quotation {
    position: relative;
}

#flashMessage {
    padding: 5px 10px;
    top: 15px;
    right: 20px;
    position: fixed;
    font-size: 13px;
    border: 1px solid rgba(221, 221, 221, 0.7);
    display: none;
    max-width: 350px;
    z-index: 10000;
}

#flashMessage i {
    width: 16px;
    height: 16px;
    background: url('/ximg/icons/close_white.png') 50% 50% no-repeat;
    cursor: pointer;
    margin-left: 10px;
    display: inline;
    float: right;
    margin-top: 2px;
}
.warning a {
    color: #cd5c5c;
}

.dropdown_list {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dropdown_list .objects_list {
    width: 100%;
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 1100;
}
.dropdown_list .objects_list >ul {
    max-height: 200px;
    overflow-y: auto;
}
.dropdown_list .objects_list li {
    padding: 0;
    margin: 0;
}
.dropdown_list .objects_list li div {
    cursor: pointer;
    padding: 5px 12px;
    line-height: 15px;
}
.dropdown_list .objects_list li ul li {
    margin: 0 12px;
    /*list-style-type: disc;*/
}
.dropdown_list .objects_list ul li.selected > div {
    font-weight: bold;
}
.dropdown_list .objects_list ul li.selected:hover {
    background-color: inherit;
}
.dropdown_list .objects_list ul > li:hover {
    background-color: #f2f2f2;
}
.dropdown_list .objects_list li ul li:hover {
    background-color: #dddddd;
}
.dropdown_list .objects_list ul div:hover {
    background: url('../ximg/chosen-arrow-right.png') 0 no-repeat;
/*    border-bottom: 1px dotted #888;
    margin-bottom: -1px;
    display: inline;*/
}
.dropdown_list .objects_list ul li.selected > div:hover {
    background: none;
}
.dropdown_list .objects_list > div {
    padding: 0 5px 5px 5px;
}
.dropdown_list .objects_list input {
    width: 100%;
    box-sizing: border-box;
    background: url('../ximg/icons/search_13x13.png') 98% no-repeat;
}
.dropdown_list span.select, .dropdown_list span.default {
    padding-right: 5px;
    font-size: 1.2em;
}
.dropdown_list span.select {
    display: none;
}

.dropdown_list .select_button {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}
.dropdown_list .select_button.active {
    background-color: #ffffff;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(25%, #e6e6e6), to(#ffffff));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6 25%, #ffffff);/* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);/* IE6-9 */
    border: 1px solid #cccccc;
    border-bottom: 0;
    padding-bottom: 7px;
}
.dropdown_list .arrow_down {
    height: 18px;
    width: 18px;
    background: url('../xlib/jquery/chosen/chosen-sprite.png') 6px 3px no-repeat;
    position: absolute;
    top: 6px;
    right: 14px;
}
.dropdown_list .objects_list ul li {
    cursor: pointer;
}
.dropdown_list .objects_list li.new {
    background-color: rgba(0, 255, 7, 0.26);
}

.spoiler {
    display: block;
}
.spoiler span.toggle {
    cursor: pointer;
    color: #4444ba;
    padding-left: 20px;
    background: url('../ximg/icons/spoiler-show.png') 0 no-repeat;
}

.spoiler.open span.toggle {
    background: url('../ximg/icons/spoiler-hide.png') 0 no-repeat;
}
.spoiler .data {
    display: none;
}
.spoiler div.data {
    margin: 0!important;
    padding: 0!important;
}
.member_gray {
    color: #727272;
    padding-left: 5px;
}

.lowercase {
    text-transform: lowercase;
}

.add_favorite,
.remove_favorite {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.add_favorite {
    background: url(/ximg/icons/star_gray.png) 0 0 no-repeat;
}

.remove_favorite {
    background: url(/ximg/icons/star_yellow.png) 0 0 no-repeat;
}

div.main_page div.box .pr15 {
    padding-right: 15px;
}

div.main_page div.box .mb40 {
    margin-bottom: 40px;
}

div.main_page div.box .boxtitle,
div.main_page div.box .boxcnt {
    padding-right: 15px;
    padding-left: 15px;
}