.author_advertising {
    margin: -10px;
    padding: 10px;
    background: #F5F5F5;
    border-color: #E8E8E8;
}

.author_advertising > .title,
.author_advertising > .subscribe-block,
.author_advertising > .profile-photo,
.author_advertising > .author_name,
.author_advertising > .author-stats {
    margin-bottom: 20px;
    text-align: center;
}

.author_advertising > .title {
    font-size: 1.2em;
}

.author_advertising .profile-photo img {
    border-radius: 50%;
}

.author_advertising .author_name {
    font-size: 1.5em;
}

.author_advertising .author_name > a {
    display: block;
}

.author_advertising .author_name .age {
    font-size: 14px;
    padding-top: 10px;
    margin: 10px 30px 0;
    border-top: 1px solid #eee;
    color: #A4A4A3;
}

.author_advertising .author-stats .w50 {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.author_advertising .author-stats .w50:first-child {
    border-right: 1px solid #eee;
}

.author_advertising .author-stats .w50 > span,
.author_advertising .author-stats .w50 > a {
    font-size: 1.5em;
}

.author_advertising .author-stats .w50 > span.glyphicon {
    padding-right: 5px;
    color: #868786;
}

.author_advertising .author-stats .w50 > div {
    padding-bottom: 10px;
}

.author_advertising .author_advertising_list > p {
    color: #A4A4A3;
    font-size: 80%;
}

.author_advertising > .author_company {
    margin-bottom: 20px;
}

.author_advertising > .author_company > .title,
.author_advertising > .advertising_text > .title {
    color: #000000;
    margin: 0 -10px;
    font-weight: bold;
    background: #E7E7E7;
    padding: 5px 0 5px 20px;
}

.author_advertising > .author_company > .name,
.author_advertising > .author_company > .status,
.author_advertising > .advertising_text > .text {
    color: #A4A4A3;
    font-size: 85%;
    padding: 6px 10px 0;
}