html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
#login-form {
    padding-top: 60px;
    padding-top: 20vh;
}
#logout-link {
    color: #fff;
    background-color: #bb0000;
}
#logout-link:hover {
    background-color: #fff;
    color: #bb0000;
}
#issues-grid tr td:first-child,
#issues-grid tr td>a {
    white-space: nowrap;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
code {
    font-size: 80%;
}

.list-group-item.empty {
    border-style: dashed !important;
}

.sprint {
    background-color: #dff0d8;
}

.backlog {
    background-color: #fcf8e3;;
}

.sprint .list-group-item,
.backlog .list-group-item {
    background: none;
}


.list-group {
    min-height: 42px;
}

.list-group-item {
    height: 42px !important;
}

#rsprint-settings-form-form .form-group>label:after {
    content: ':';
}

#rsprint-settings-form-form span.required {
    color: maroon;
}