.best_author_by_period .help {
    margin: 6px 1px;
}

.best_author_by_period_list {
    font-size: 0.9em;
    padding: 10px;
}

.best_author_by_period_list div {
    padding: 3px 0;
}

.best_author_by_period .profile-avatar,
.best_author_by_period .profile-photo {
    float: left;
    border: 1px solid #ccc;
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.best_author_by_period .profile-photo img {
    width: 60px;
}
.best_author_by_period .profile-avatar {
    width: 60px;
    margin: 6px auto;
}

.best_author_by_period .author_name {
    padding: 0;
    text-align: left;
    margin-left: 5px;
    display: inline-block;
    width: 70%;
}

.best_author_by_period .author_name a {
    font-size: 1.3em;
    color: #4444ba;
    letter-spacing: 0;
}

.best_author_by_period .author_name span {
    display: block;
    /*font-size: 15px;*/
    color: #626b80;
}

.best_author_by_period .age {
    font-size: 11px;
    margin: 10px auto;
    color: #333333;
}

.best_author_by_period h3 {
    letter-spacing: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

.best_author_by_period hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    clear: both;
}

.best_author_by_period .author-stats {
    text-align: center;
    padding: 0 10px;
}

.best_author_by_period .author-stats a,
.best_author_by_period .author-stats span {
    font-size: 14px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.best_author_by_period .author-stats .w50 {
    float: left;
    position: relative;
    padding-bottom: 10px;
}
