.company_members .userpic img {
    width: 54px;
    border: 1px solid #979797;
    padding: 1px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 8px;
    margin-top: 3px;
}

.company_members {
    letter-spacing: -1px;
    color: #626b80;
    line-height: 135%;
}

.company_members div.member {
    font-size: 12px;
}

.company_members,
.company_members a,
.company_members .member span
{
    font-size: 15px;
}

.company_members .status {
    color: #393939;
}

.company_members .data {
    margin: 10px 0;
}

.company_members .member_data {
    margin-top: -2px;
}