#company {
    padding-top: 13px;
}

#company .box {
    width: 100%;
    padding: 10px 0 10px 15px;
    float: none;
    overflow: hidden;
}

#company .box > div {
    padding: 10px 10px 0 0;
}

#company h1,
#company h2 {
    padding: 0;
}

#company h1 {
    margin-bottom: 10px;
}

#company h1 .add_favorite,
#company h1 .remove_favorite {
    display: inline-block;
    float: right;
    margin: 5px 8px 0 8px;
}

#company .company_logo {
    padding-left: 0;
    margin-bottom: 10px;
}

.company_logo img {
    max-width: 150px;
    max-height: 40px;
}

#company hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: -10px 20px 10px 0;
    clear: both;
    padding-top: 10px;
}

.box-top {
    top: 45px;
    *top: 25px;
}

.box-bottom {
    margin-top: -45px;
    margin-bottom: 45px;
    *top: -60px;
}

.box-top,
.box-bottom {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 16px;
    width: 100%;
}

.company-contacts {
    font-size: 0.9em;
}

.company-contacts ul {
    padding: 10px 0;
}

.company-contacts li {
    line-height: 30px;
    margin-bottom: 0 !important;
}

.company-contacts .ico {
    padding-left: 25px;
    background: no-repeat 0 7px;
}

.company-contacts li.icq {
    background-image: url('../ximg/icons/icq.png');
}

.company-contacts li.skype {
    background-image: url('../ximg/icons/skype.png');
}

.company-contacts li.metro {
    background-image: url('../ximg/icons/metro.png');
}

.company-contacts li.address {
    background-image: url('../ximg/icons/marker.png');
}

.company-contacts li.phone.masked span {
    font-size: 12px;
}

.company-contacts li.phone {
    background-image: url('../ximg/icons/phone.png');
}

.company-contacts li.www {
    background-image: url('../ximg/icons/web_link.png');
}

.company-contacts li.vk {
    background-image: url('../ximg/icons/vkontakte.png');
}

.company-contacts li.fb {
    background-image: url('../ximg/icons/facebook.png');
}

.company-contacts li.twitter {
    background-image: url('../ximg/icons/twitter.png');
}

.company-contacts li.email {
    background-image: url('../ximg/icons/mail_open.png');
}
.company-contacts div.print {
    background: url('../ximg/icons/print.png') 0 no-repeat;
}
.company-contacts ul.print img {
    margin: 0 4px -3px 0;
}
.company-contacts .map {
    width: 100%;
    height: 180px;
    border: 1px solid #888;
    padding: 0 !important;
}

.company-contacts .big_map {
    min-height: 740px;
    max-height: 940px;
    width: 598px;
}

.criterion {
    float: left;
    width: 320px;
}

.form_footer {
    padding: 20px 0;
}

#company .box #add_references_form {
    padding-top: 0;
}

.company-passage {
    padding: 10px 0;
}

/************************/

.company_content {
    float: left;
    width: 664px;
    padding-right: 20px;
    padding-left: 10px;
    position: relative;
    min-height: 700px;
}

.company_header {
    padding: 23px 20px 20px 10px;
    float: left;
    position: relative;
    width: 954px;
}

.main_data {
    padding-top: 27px;
}

.categories_menu {
    /*background: url(/ximg/icons/folder.png) 0 2px no-repeat;*/
    list-style-type: none;
    margin-bottom: 27px;
    font-size: 12px;
    padding-left: 24px;
}

.categories_menu li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px #ddd;
    border-right-style: solid;
}

.categories_menu li:last-child {
    border: 0;
}

.map_target {
    width: 16px;
    height: 16px;
    background: url(/ximg/icons/target.png) no-repeat;
    padding-left: 16px;
    margin-left: 4px;
}

.company_tabs_content > ul,
.company_tabs_content > ul li,
.company_tabs_content > div {
    padding-bottom: 20px;
}

.company_data td:first-child {
    background-color: #EEEFF3;
    color: black;
    border: 1px solid white;
    width: 152px;
}

.company_tabs_content h3 {
    margin: 20px 0 4px;
    padding: 0;
    font-size: 1.4em;
}

.member_data .stat {
    padding-top: 3px;
}

.member_data .stat > div {
    display: inline;
}

.m_topics {
    background: url(/ximg/icons/topic.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.m_comments, .m_posts {
    background: url(/ximg/icons/comments.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}


/* response */
.add_response {
    font-size: 1.3em;
    padding: 10px 0;
}

.response_set label {
    display: inline-block !important;
}

div.rating-cancel,div.star-rating{float:left;width:30px;height:30px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel {
    background: url(/ximg/icons/clear_grey.png) no-repeat 0 5px;
    position: absolute;
    left: 146px;
}
div.star-rating,div.star-rating a{background:url(/ximg/regforum_stars.png) no-repeat 0 0}
div.rating-cancel a,div.star-rating a{display:block;width:30px;height:100%;background-position:0 0;border:0}
div.star-rating-on a{background-position:0 -30px!important}
div.star-rating-hover a{background-position:0 -60px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important}
.reflevel {display: inline-block;}


.content .summary {
    padding-top: 10px;
    padding-bottom: 20px;
}

.content.flow .grid-view table {
    margin-top: 8px;
}

.content.flow .grid-view .summary {
    display: none;
}

.content.flow .grid-view table tr:first-child td {
    border-top: none;
    padding-top: 0;
}

.content.flow .grid-view table td {
    border-top: 1px dotted #ccc;
}

.content.flow .grid-view td.info div {
    font-size: 14px;
}

.content.flow .grid-view td.info {
    font-size: 11px;
    padding: 5px 0;
}

.content.flow .grid-view td.info img {
    padding: 1px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
}

/* topic */
.posts, .members {
    display: block;
    width: 650px;
    float: left;
}

.company_posts .controls {
    padding: 3px 0;
    color: #727272;
    font-size: 0.85em;
    line-height: 17px;
    min-height: 19px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.company_posts .controls > div {
    float:left;
    border-right: 1px #ddd;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

.company_posts .controls > div:last-child {
    border: 0;
}

.company_posts .controls a {
    padding: 2px 0;
}

.company_posts .title {
    font-size: 1.4em;
    letter-spacing: -1px;
}

.company_posts .controls .topic_comments a {
    background: url(/ximg/icons/comments.png) 0 1px no-repeat;
    padding-left: 20px;
}

.company_posts .controls .topic_comments_team a {
    background: url(/ximg/icons/comments_team.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.company_posts .controls .topic_reads span {
    background: url(/ximg/icons/glass.png) no-repeat;
    padding-left: 20px;
}

.company_posts .controls .file_downloads span {
    background: url(/ximg/icons/downloads.png) 0 1px no-repeat;
    padding-left: 20px;
    padding: 3px 0 3px 20px;
}

.company_posts .controls .topic_rating {
    background: url(/ximg/icons/plus-circle.png) no-repeat;
    padding-left: 20px;
}

.company_posts .controls .topic_favourite_count {
    background: url(/ximg/icons/star_yellow.png) no-repeat;
    padding-left: 20px;
}

.company_posts .controls .topic_author {
    background: url(/ximg/icons/user.png) 0 2px no-repeat;
    padding-left: 19px;
}

.company_posts .post_date {
    font-size: 0.85em;
}

.company_posts .rubric_menu {
    background: url(/ximg/icons/folder.png) 0 2px no-repeat;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 0.9em;
    padding-left: 24px;
}

.company_posts .rubric_menu li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px #DDD;
    border-right-style: solid;
}

.company_posts .rubric_menu li:last-child {
    border: 0;
}

.company_posts > div {
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 0;
}

.company_posts > div:last-child {
    border: none;
}

/* widget */
.company-logo {
    overflow: hidden;
    margin: 0;
    position: relative;
    text-align: center;
}

.company-logo img {
    border: 1px solid #ccc;
    padding: 1px;
}

.company-contacts .company-stats {
    clear: both;
    overflow: hidden;
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.company-contacts .company-stats .w50 {
    float: left;
    padding: 0 0 15px 0;
}
.company-contacts .company-stats .w33 {
    float: left;
    padding: 0 0 15px 0;
}

.company-contacts .company-stats a,
.company-contacts .company-stats span {
    font-size: 20px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.company-contacts .company-stats div {
    padding: 0;
    font-size: 11px;
}
#company .box div.response-head {
    padding: 0 8px 8px 0px;
}

#company .box .all_responses {
    text-align: right;
}
#company .box .spoiler {
    padding-bottom: 1em;
}