/*.company_address {

}

.phones {

 }*/

.phones .flat {
    padding-right: 6px;
}

.phones > div {
    display: block;
    float: left;
    width: 100%;
}

.contacts.group_ctrl > div {
    float: left;
    width: 50%;
}

div.contacts.group_ctrl > label,
div.group_ctrl div.elements > label
{
    margin-top: 0;
}
div.topics.group_ctrl ul {
    max-height: 200px;
    overflow: auto;
}
div.topics.group_ctrl ul > li {
    margin-top: 5px;
}
div.topics.group_ctrl ul > li a {
    padding-left: 5px;
}
div.topics.group_ctrl .select_all {
    border-bottom: 1px solid #CCCCCC;
}

.map {
    width: 925px;
    height: 400px;
    border: 1px solid #888;
}

.mapinfo {
    font-size: 0.85em;
    color: #888;
}

.mapinfo > div {
    display: inline;
    padding-right: 10px;
}

/* members editor */
.company_members {
    float: left;
    width: 100%;
    padding: 6px;
    border-radius: 9px;
    margin-bottom: 6px;
    min-height: 54px;
    background: url('/ximg/item_sort_label.png') 97% no-repeat;
}

.m_green {
    border: 1px solid #B9DDBA;
    background-color: #DEF3DF;
}

.m_red {
    border: 1px solid #EBCDCD;
    background-color: #F5E2E2;
}

.member_name {
    width: 510px;
}

.member_name .member {
    float: left;
    color: #727272;
}

.company_members > div {
    display: inline;
    float: left;
    padding-right: 9px;
}

.company_member_avatar img {
    width: 54px;
}

.member_status {
    color: #333;
    position: relative;
}

.work_schedule_set, .worktime { float:left; }


.worktime {
    padding-top: 10px;
}

.work_schedule_set > div {
    display: inline;
    float: left;
    padding: 3px;
}

.jsb {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.member_edit {
    background: url('/ximg/icons/page_white_edit.png') no-repeat;
}

.member_delete {
    background: url('/ximg/icons/remove.png') no-repeat;
    margin-top: 20px;
}

.member_save {
     background: url('/ximg/icons/save.png') no-repeat;
}

.ssave {
    margin-left: -23px;
    position: absolute;
    top: 10px;
}

input {
    padding: 5px;
    font-size: 0.9em;
    background: white;
    border: 1px solid #CCC;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}

input:focus, {
    background: rgb(240, 244, 255);
    border: 1px solid #B6B6B6;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


.calltime_slider {
    margin: 0 10px 0;
    width: 536px;
    border-radius: 10px;
    float: left;
}

.calltime_slider label,
.options .extoptions label {
    margin-bottom: 17px;
    display: block;
}

/* office hours */
#company_schedule {
    margin: 10px 0 -20px 0;
}


div.form .rcoh {
    clear: both;
    margin: 20px 0;
    overflow: hidden;
}

div.form .rcoh ins {
    border: none;
}

div.form .rcoh .rcoh-days span {
    margin-right: 15px;
}

div.form .rcoh .rcoh-days label{
    display: inline;
    padding: 5px 10px 6px;
}

div.form .rcoh .rcoh-days label.button.checked {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(181, 219, 255, 1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(181, 219, 255, 1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(181, 219, 255, 1);
}

div.form .rcoh .rcoh-days label.alfa.checked {
    background-color: #B1CB49;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#B1CB49));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #B1CB49);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #B1CB49);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #B1CB49);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #B1CB49);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #B1CB49);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#B1CB49', GradientType=0);
}

div.form .rcoh .rcoh-days span:last-child {
    display: block;
    margin-top: 10px;
}

div.form .rcoh .rcoh-days span label.last,
div.form .rcoh .rcoh-days span:last-child label {
    background: none !important;
    border: none;
    border-bottom: 1px dashed #4444ba;
    padding: 0;
    color: #4444ba;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

div.form .rcoh .rcoh-days span:last-child label:hover {
    border: none;
}

div.form .rcoh .rcoh-days span input {
    margin-left: -20px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

div.form .rcoh .rcoh-days {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

div.form .rcoh .rcoh-hours {
    width: 400px;
    float: left;
    position: relative;
    padding-top: 10px;
    margin-top: 5px;
}

div.form .rcoh .input_ctrl {
    position: relative;
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

div.form .rcoh .rcoh-hours input {
    border: none;
    padding: 0;
}