.news {
    clear: both;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.news .action, .news .date, .news .newservice {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    margin-bottom: 3px;
}

.news .action {
    background-color: #F5771D;
    margin-left: 5px;
    font-size: 0.85em;
    color: white;
    float: right;
}

.news .newservice {
    background-color: #0FA30F;
    margin-left: 5px;
    font-size: 0.85em;
    color: white;
    float: right;
}

.news .date {
    background-color: #DDD;
}

.news_list .newsmaker {
    font-size: 0.85em;
    padding-bottom: 5px;
}

.news_list .newsmaker span {
    color: #626b80;
}

.news_list .news_company_name {
    padding: 6px 0;
}

.member_name .member {
    float: left;
    color: #727272;
}