input.publish {
    border: 1px solid #BBB;
}

input.draft {
    border: 1px solid #BBB;
    background-color: #4dd461;
}

.gray {
    color: #AFAFAF;
}

.darkgray {
    color: #686868;
}

input.wide {
    width: 652px;
}

input.half {
    width: 460px;
}

input.middle {
    width: 385px;
}
input.bc_banner_link {
    width: 275px;
}
input.third {
    width: 380px;
}

input.tags {
    width: 960px;
}

input:disabled {
    background-color: #f3f3f3 !important;
}

input[type='submit']{
    cursor: pointer;
}

select.wide {
    font-size: 14px;
    padding: 3px 2px;
    height: 28px;
}

.ll {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px dotted;
}

.ll:hover {
    color: #35379c;
}

.slide_link {
    display: inline;
    cursor: pointer;
    color: #4444ba;
    font-size: 17px;
    border-bottom: 1px dotted;
}

.slide_link:hover {
    color: #5555e6;
}

.slide_content {
    margin-bottom: 20px;
}

.slide_content li {
    list-style: disc;
    margin-left: 20px;
}

.slide_content ul {
    padding-bottom: 10px;
}

.centerbtn {
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 1.45em;
    letter-spacing: -1px;
}

.jsbutton {
    font-size: 1.3em;
}

.elements {
    margin: 5px 0;
    display: block;
    /*position: relative;*/
}

.elements span.hint,
.elements p.hint,
.topic_text p.hint
{
    display: block;
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    color: #999;
}
.topic_text p.hint
{
    margin-top: -10px;
    margin-bottom: 10px;
}

.elements p.hint span {
    margin-right: 8px;
    color: #738fbf;
    cursor: pointer;
    border-bottom: 1px dotted;
}

.elements input.checkbox {
    float: left;
}

.elements input,
.elements select,
.elements option,
textarea {
    padding: 5px;
    font-size: 0.9em;
    background: white;
}

.elements input,
.elements select,
textarea {
    /*margin: 2px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}

.elements input:focus,
.elements textarea:focus {
    background: rgb(240, 244, 255); /* fff2ab */
    border: 1px solid #B6B6B6;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.elements select {
    /* padding: 6px 5px 7px 5px; */
}

.elements select option {
    padding: 0 2px;
}

.elements .ui-datepicker-trigger {
    top: 3px;
    left: 5px;
    position: relative;
    cursor: pointer;
}

.box .elements.filter-list select {
    -webkit-box-shadow: inset 0 0 7px 1px #dfdfdf !important;
    box-shadow: inset 0 0 7px 1px #dfdfdf !important;
    font-size: 14px;
}

.box .elements.filter-list select:focus {
    background: rgb(240, 244, 255);
}

.upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    border: solid transparent;
    border-width: 0 0 100px 200px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

.upload_button {
    position: relative;
    overflow: hidden;
}

.buttons {
    margin-left: -2px;
}

.buttons > div {
    display: inline;
    margin-right: 5px;
}

.downlist {
    font-size: 14px;
    padding: 3px 2px;
    height: 28px;
}

/* Windows */
.dialog_cnt p {
    cursor:pointer;
    margin:3px;
    padding:3px 2px 3px 5px;
}

.dialog_cnt p:hover {
    background-color: #d9d9d9;
    border-radius: 3px;
}



div.form fieldset
{
    border: 1px solid #DDD;
    padding: 10px;
    margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label, div.addFileForm label
{
    font-size: 1em;
    display: block;
    margin-top: 10px;
}

div.form span label {
    display: inline-block;
}

div.form .bool label {
    display: inline;
}

div.form .bool label.list_name {
    display: block;
}

div.form .note
{
    font-style: italic;
    padding: 15px 0;
}

div.form span.required,  div.addFileForm span.required
{
    color: #ab3028;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error,
.member-activity td.error
{
    color: #ab3028;
}

/*div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
    background: #fff1ea;
    border-color: #8a4b4f;
}*/

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success,
table.user_auth_details div input.success
{
    background: rgba(211, 250, 208, 0.44);
    border-color: #C6D880;
}

table.user_auth_details div input.error {
    background: rgb(255, 233, 233);
    border-color: #C00;
}
div.form .errorSummary
{
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}

div.form .errorMessage,
.loginForm .errorMessage,
.addFileForm .errorMessage,
.loginPageBox .errorMessage
{
    color: #F78686;;
    font-size: 0.8em;
}

div.form .errorSummary p
{
    margin: 0;
    padding: 5px;
}

div.form .errorSummary ul
{
    margin: 0;
    padding: 0 0 0 20px;
}

div.wide.form label
{
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: right;
    width: 100px;
}

div.wide.form .row
{
    clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
    clear: left;
    padding-left: 110px;
}


.substitution_list {
    padding: 0;
    border: 1px solid #CCC;
    background-color: white;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    margin-top: -1px;
}

.substitution_list ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.substitution_list li {
    position:relative;
    margin: 0;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    font: menu;
    font-size: 1.1em;
    overflow: hidden;
    text-align: left;
}

.substitution_loading {
    background : white url('/ximg/loader2.gif') right center no-repeat;
}

.dlg_loading{
    background: url('/ximg/loader2.gif') no-repeat scroll 148px 6px;
}

.substitution_list li.ac_over {
    background: rgb(240, 244, 255);
}

.fe_button {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 9px;
    cursor: pointer;
}

.clear_input {
    margin-left: -24px;
    background: white url('/ximg/icons/clear_grey.png') no-repeat;
}

.close_elements {
    margin-left: 5px;
    background: url('/ximg/icons/remove.png') no-repeat;
}

.input_ctrl {
    margin-top: 33px;
    float: left;
}

.add_button {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('/ximg/icons/add.png') no-repeat;
    display: inline-block;
}

.remove {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('/ximg/icons/remove.png') 0px 1px no-repeat;
    display: inline-block;
    margin-left: 5px;
}

.additional_block .sort {
    background: url(/ximg/icons/movelist.png) no-repeat;
    cursor: move;
    display: inline-block;
    height: 16px;
    width: 20px;
}

.input_ctrl .add_button,
.input_ctrl .remove {
    margin-top: 10px;
}

.star-rating-control {
    min-height: 26px;
}

.group_ctrl {
    background-color: #F1F1F1;
    display: block;
    position: relative;
    float: left;
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
    width: 927px;
}

.group_ctrl h2 {
    padding: 0;
}

.address_col, .flat {
    float: left;
}

.col1 {
    width: 525px;
}

.col2, .col3 {
    width: 195px;
}

/* Yandex maps */
.ymaps-events-pane {
    box-shadow: #999 0 0 10px 0 inset;
}

/* Image Uploader */

#dropUploader #photos-gallery,
#dropUploader .dropzone{
    padding: 15px;
}

#dropUploader .dropzone.clickable .pointer * {
    cursor: pointer;
}

#dropUploader .dropzone .default.message {
    background-image: none;
}

#dropUploader .dropzone .default.message span {
    display: block;
    text-align: center;
    font-size: 24px;
    color: #777;
    padding-top: 0;
}

#dropUploader .dropzone {
    border: none;
    background-color: transparent;
}

#dropUploader #photos-gallery,
#dropUploader .dropzone.clickable {
    background-color: #fff;
    border: 2px #ccc dashed;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#dropUploader #photos-gallery,
#dropUploader .dropzone.clickable.started {
    border: 2px #7a7dca solid;
}

#dropUploader #photos-gallery img {
    margin: 0;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16);
    box-shadow: 1px 1px 4px
}

#dropUploader #photos-gallery ul {
    overflow: hidden;
}

#dropUploader #photos-gallery ul{
    margin: 0;
}

#dropUploader #photos-gallery ul,
#dropUploader #photos-gallery li {
    padding: 0;
}

#dropUploader #photos-gallery li {
    float: left;
    padding: 12px;
    position: relative;
}

#dropUploader #photos-gallery li div {
    position: absolute;
    bottom: 18px;
    right: 11px;
    color: #DFDDF9;
    background-color: rgba(9, 8, 8, 0.6);
    display: block;
    overflow: hidden;
    padding: 7px;
}

#dropUploader #photos-gallery li div i {
    background: no-repeat 0 50%;
    padding: 3px 10px 3px 19px;
    font-size: 11px;
    font-style: normal;
}

#dropUploader #photos-gallery li div i:hover {
    text-decoration: underline;
}

#dropUploader #photos-gallery li div i.i-zoom {
    background-image: url('../ximg/icons/ico_zoom.png');
}

#dropUploader #photos-gallery li div i.i-remove {
    background-image: url('../ximg/icons/ico_remove.png');
}

#dropUploader #photos-gallery li[data-placeholder]{
    background-color: #DFDDF9;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#uploaded-gallery-img {
    overflow: hidden;
}

#uploaded-gallery-img span {
    text-align: center;
    display: block;
    color: #4444ba;
    text-decoration: underline;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #33d13a;
    width: 360px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    padding: 5px 10px;
    -webkit-box-shadow: inset 0 0 2px 3px rgba(255, 165, 0, 0.2);
    box-shadow: inset 0 0 2px 3px rgba(255, 165, 0, 0.2);
    -webkit-border-radius: 5px;
    border-radius: 10px;
    z-index: 1000;
}

#uploaded-gallery-img span.tip {
    text-decoration: none;
    color: #fff;
    background-color: #aa0000;
    border: 2px solid orange;
}

.tabs {
    width: 100%;
    overflow: hidden;
    font-size: 0.9em;
    margin: 0;
    zoom: 1;
    padding: 5px 0;
    position: relative;
}

.tabs dt {
    float: left;
    line-height: 2;
    height: 2em;
    padding: 0 1em;
    position: relative;
    left: 0;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.tabs dt:hover {
    background-color: #DFDDF9;
}

.tabs dt.selected {
    background: #7a7dca;
    color: #fff;
    z-index: 3;
    cursor: auto;
}

.tabs dt span {
    border-bottom: 1px dashed #333;
}

.tabs dt:hover span,
.tabs dt.selected span{
    border: none;
}

.tabs dd {
    display: none;
    float: right;
    width: 100%;
    margin: 2em 0 0 -100%;
    position: relative;
    z-index: 2;
}

.tabs dd.selected {
    display: block;
}
.razdels li span.plus {
    height: 16px;
    width: 16px;
    background: url("/ximg/icons/toggle-small-expand.png") no-repeat;
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    margin-left: -13px;
    cursor: pointer;
}
.razdels li span.minus {
    height: 16px;
    width: 16px;
    background: url("/ximg/icons/toggle_small_collapse.png") no-repeat;
    display: inline-block;
    position: absolute;
    margin-top: 2px;
    margin-left: -13px;
    cursor: pointer;
}

.razdels {
    display: inline-block;
    /*padding-top: 10px;*/
    min-height: 20px;
    min-width: 125px;
    border-radius: 4px;
}
.razdels >ul {
    z-index: 100;
    min-width: 150px;
    max-height: 170px;
    overflow-y: auto;
    border: 1px solid #CCCCCC;
    padding: 8px;
    position: absolute;
    background-color: #EEEEEE;
    margin-left: -14px;
    margin-top: 8px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.razdels li {
    padding-left: 15px;
}
.razdels li a, .razdels li span.open {
    margin-bottom: 5px;
    display: block;
    padding-left: 5px;
    color: #4444ba;
}
.razdels li a:hover {
    background-color: #dddddd;
}
.razdels .collapse {
    display: none;
}
.razdels .select_razdel {
    font-size: 1.2em;
    min-width: 110px;
    display: inline-block;
    clear: both;
}
.arrow_down {
    height: 16px;
    width: 20px;
    background: url("/ximg/arrowd.gif") 50% 80% no-repeat;
    display: inline-block;
    cursor: pointer;
    margin-right: -7px;
}

/* admin module*/
#admin.content {
    position: relative;
}

#admin.content #notifier {
    position: absolute;
    top: 20px;
    right: 20px;
}

#admin.content .row {
    display: table-row;
    margin-bottom: 5px;
}

#admin.content .row.wide {
    width: 964px;
    display: block;
}

#admin.content .row label {
    width: 200px;
    display: table-cell;
    vertical-align: top;
}

#admin.content .row input[type='text'],
#admin.content .row input[type='password'],
#admin.content .row input[type='date'],
#admin.content .row textarea {
    max-width: 450px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px;
}

#admin.content span.required {
    color: #dd1517;
}

#admin.content .list-view .items .view {
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 7px;
}

#admin.content .draggable .items .view:hover  {
    background-color: #DFDDF9;
    cursor: move;
}

#admin.content .draggable .items .view.placeholder {
    border: 1px dashed #7a7dca;
}

#admin.content ul ul.rubrics_list {
    padding-bottom: 24px;
    background: url('../ximg/icons/arrow_reply2.png') 0 98% no-repeat;
}
#admin.content .rubrics_list li {
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 10px;
}
#admin.content .rubrics_list li li {
    background-color: #f4f4f4;
}
#admin.content .rubrics_list li:hover {
    background-color: #f0f0ff;
}
#admin.content .rubrics_list li li:hover {
    background-color: #ebebff;
}
#admin.content .rubrics_list li li li:hover {
    background-color: #e4e4f8;
}
#admin.content .rubrics_list li li li li:hover {
    background-color: #dfdff3;
}

#admin.content .rubrics_list .placeholder {
    border: 1px dashed #7a7dca;
}

#moderator div.companies-grid {
    padding-left: 5px;
    background: #fff;
    border: 1px solid #ccc;
}
#moderator table.items tbody {
    white-space: pre-line;
    word-wrap: break-word;
}
#moderator table.items tr td {
    padding: 10px 0 10px 0;
    border-top: 1px solid #eaeaea;
}
#moderator table.items tr:hover {
    background: rgb(240, 244, 255);
}
#moderator table.items tr td .name {
    font-weight: bold;
}
#moderator .status-menu li:first-child {
    padding-left: 0;
}
#moderator .sign {
    min-width: 86px;
    text-align: center;
}
#moderator table.items tr td.status {
    padding: 10px 10px 10px 0;
    text-align: right;
}
#moderator .c_controls > a {
    border-right: 1px solid #ddd;
    padding: 0 5px;
}
#moderator .c_controls > a:last-child {
    border: 0;
}
#moderator.statistics div {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
}
#moderator.statistics div:last-child {
    border: 0;
    padding: 5px 0 0 0;
}

#moderator.statistics div .sign {
    min-width: 0;
    padding: 4px 4px;
    font-size: 11px;
    margin-right:5px;
    color: #ffffff;
}
#moderator.statistics div .sign:last-child {
    margin: 0;
}
#moderator.statistics div .sign.visible,
#moderator.statistics div .sign.published
{
    background-color: #53AC44;
}
#moderator.statistics div .sign.pending {
    background-color: #AEE900;
}
#moderator.statistics div .sign.hide,
#moderator.statistics div .sign.suspended
{
    background-color: #969696;
}
#moderator.statistics div .sign.mod
{
    background-color: #6366ac;
}
#moderator.statistics div .sign.modified
{
    background-color: #789cdf;
}
#moderator.statistics div .sign.ban,
#moderator.statistics div .sign.rejected
{
    background-color: #ac0300;
}
#moderator.statistics div .sign.deleted {
    background-color: #0f0f0f;
}
#moderator.statistics div .sign.paid {
    background-color: #39d8dd;
}

#moderator.statistics div .sign.draft {
    background-color: #dc963b;
}
#moderator .company-search label {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
}
#moderator .company-search input {
    width: 30%;
}
#moderator .company-search input:focus {
    width: 50%;
}
#moderator .company-search .loader {
    margin-left: -35px;
    margin-top: 1px;
    visibility: hidden;
}

.loginForm, .loginPageform {
    width: 50%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid #ccc;
}
.loginForm .password, .loginForm .login,
.loginPageform div.password, .loginPageform div.login
{
    min-height: 35px;
}
.loginForm input#login, .loginForm input#password,
.loginPageform input#LoginForm_username, .loginPageform input#LoginForm_password
{
    float: right;
    margin-right: 15px;
    width: 170px;
}
.loginForm span.label, .loginPageform label {
    float: right;
    padding-right: 5px;
    padding-top: 7px;
}
.loginForm .lostpassword, .loginPageform .lostpw {
    margin-left: 108px;
    margin-top: 1px;
}
.loginForm button, .loginPageform input.button {
    margin-left: 108px;
    margin-top: 15px;
}
.loginBox {
    display: none;
    position: absolute;
    left: 35%;
    top: 35%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px #888888;
    width: 555px;
    border: 1px solid #ccc;
    z-index: 1000;
}
.loginPageWrap {
    min-height: 330px;
}
.loginPageBox {
    position: absolute;
    left: 33%;
    top: 20%;
    background-color: #ffffff;
    width: 555px;
    border: 1px solid #ccc;
}
.loginBox .boxtitle, .loginPageBox .boxtitle {
    padding: 10px;
}
.loginBox .close {
    background: url(/ximg/icons/cancel.png) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    position: relative;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.loginBox .boxfooter, .loginPageLink {
    clear: both;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.loginBox .services, #login-form .services {
    padding-top: 10px;
    padding-left: 10px;
}
.loginBox .services .label, #login-form .services .label {
    padding-bottom: 5px;
}
.loginForm .errorMessage {
    display: none;
    clear: both;
    float: right;
    margin-right: 70px;
}
.loginPageBox .errorMessage {
    clear: both;
    float: right;
}
table.user_auth_details {
    width: 60%;
}
table.user_auth_details tr td {
    padding: 0 10px 5px 10px;
    width: 50%;
}
table.user_auth_details tr td:first-child {
    border-right: 1px solid #ccc;
}
table.user_auth_details div, table.user_auth_details span {
    clear: both;
}
table.user_auth_details input {
    width: 170px;
}
table.user_auth_details .hint, table.user_auth_details .errorMessage {
    float: right;
    width: 220px;
}
table.user_auth_details .buttons {
    float: right;
    width: 225px;
}
div.user_auth {
    margin-left: 99px;
}
.loader {
    background: url(/ximg/loader.gif) 0 0 no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
}
.big_loader {
    background: url(/ximg/big_loader.gif) 0 0 no-repeat;
    height: 192px;
    width: 192px;
    position: absolute;
}
div.user_auth .loader {
    display: none;
    margin-top: 1px;
    margin-left: 10px;
}

.online_users .boxcnt {
}
.online_users .boxtitle span {
    font-size: 12px;
}
.online_users .boxfooter {
    border-top: 1px solid #D8DAE2;
}
.online_users .best_author {
    padding-left: 16px;
    background: url(/ximg/icons/user_king.png) 0 0 no-repeat;
    color: red;
}

.files_padding {
    padding: 20px 0 20px;
}

.main_comment .toggle {
    width: 22px;
    height: 22px;
    position: absolute;
    margin-top: 25px;
    margin-left: -23px;
    background: url(/ximg/icons/toggle-collapse-silver.png) 0 0 no-repeat;
    cursor: pointer;
}
.rComments {
    clear: both;
}
.rComments .close {
    background: url(/ximg/icons/toggle-expand-silver.png) 0 0 no-repeat;
}
.rComments div.main_comment {
    margin-left: 25px;
}
.rComments div.main_comment div.main_comment,
.rComments div.main_comment div.main_comment div.main_comment,
.rComments div.main_comment div.main_comment div.main_comment div.main_comment,
.rComments div.main_comment div.main_comment div.main_comment div.main_comment div.main_comment {
    margin-left: 25px;
}
.rComments div.main_comment div.main_comment div.main_comment div.main_comment div.main_comment {
    margin-left: 0;
}
.rComments .selected {
    background: #ffe7de;
    border: 1px solid #f7e0d8;
}

/* rules */
.pasteformword {
    background: url("/xlib/tiny_mce/themes/advanced/img/icons.gif") -382px -23px no-repeat;
    width: 16px;
    height: 14px;
    display: inline-block;
    margin-bottom: -5px;
    padding-bottom: 2px;
}
.main_comment {
    position: relative;
}
.addImageForm .image_wrap {
    float: right;
    width: 24%;
}
.addImageForm .preview_image {
    display: inherit;
    margin: 0 auto;
    max-width: 120px;
    max-height: 120px;
}
.addImageForm .left {
    width: 75%;
}

/* admin module */
.ctrl {
    color: #4444ba;
    border-bottom: 1px dashed #4444ba;
}

dl code {
    font-size: 12px;
    color: #555;
}

dd {
    margin-bottom: 7px;
}

dd em[title]{
    border-bottom: 1px dashed #777;
}

.members.big_loader {
    left: 40%;
    top: 30%;
    opacity: 0.5;
    display: none;
}
.members_pagination span, .members_pagination a {
    margin-right: 4px;
}
.sort_arrow {
    width: 16px;
    height: 16px;
}
.member-activity thead tr span {
    display: inline-block;
}
.member-activity thead th.ASC .sort_arrow {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") -14px 3px no-repeat;
}
.member-activity thead th.DESC .sort_arrow {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") 3px 3px no-repeat;
}
.member-activity td.error {
    text-align: center;
}
div.freelance_author {
    border: 1px solid;
    margin-bottom: 5px;
}
table.authors_topics {
    display: none;
}
table.authors_topics,
table.authors_topics td,
table.authors_topics th,
table.authors_settings,
table.authors_settings td,
table.authors_settings th,
table.additional_info,
table.additional_info td,
table.additional_info th,
#moderator-files table,
#moderator-files table td,
#moderator-files table th
{
    padding:5px;
    border: 1px solid #CCC;
}
table.authors_topics tr th:first-of-type {
    width: 75%;
}
table.authors_topics tr td:last-of-type {
    text-align: right;
}
div.freelance_author .author {
    margin-top: 10px;
    min-height: 40px;
}
div.freelance_author div, div.freelance_author a {
}
div.freelance_author div.name {
    position: absolute;
    margin-left: 47px;
    margin-top: 7px;
}
div.freelance_author span.freelancer {
    padding-left: 5px;
    color: #cd5c5c;
}
.author_options {
    padding-bottom: 10px;
}
.author_options div {
    padding: 5px 0 5px;
}
.author_options span.hide {
    display: none;
}
.author_options .print {
    float: right;
}
.right_side .mailComplete {
    display: none;
}

label span.required {
    color: #f00;
}

.triple-form {
    margin-top: -25px;
}

.triple-form .elements {
    width: 33%;
    float: left;
}

.triple-form .elements.w50 {
    width: 50%;
}

.triple-form .elements input[type="text"],
.triple-form .elements select {
    width: 75%;
}
.triple-form .elements .errorMessage {
    position: absolute;
}

.triple-form .elements label,
.triple-form .row label {
    display: block;
}

.triple-form fieldset {
    border: 1px solid #ccc;
    padding: 5px 7px 10px 7px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-bottom: 10px;
    clear: both;
}

.triple-form .elements,
.triple-form fieldset {
    padding-bottom: 10px;
}

.triple-form .address-existing .elements {
    padding-bottom: 5px;
}

.triple-form .address-existing p {
    padding: 0;
    margin: 10px 0;
}

.triple-form legend {
    padding: 0 5px;
}

.triple-form fieldset label {
    font-size: 12px;
}

.triple-form textarea {
    width: 915px !important;
}

.triple-form .errorSummary,
.triple-form .errorMessage {
    font-size: 11px;
}

.triple-form .errorSummary p {
    margin: 0;
}

.triple-form input {
    border-radius: 5px;
}

.author_name a {
    display: block;
}
.all_categories {
    margin-left: -15px;
    padding-top: 0!important;
}
.market_categories,
.search_categories {
    position: relative;
    display: inline-block;
    width: 300px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.search_categories {
    width: 157px!important;
}

.ya_search_button {
    width: 61px;
    text-align: center;
}

.boxcnt .market_categories {
    width: 252px;
}
.box .categories_selectors {
    padding: 0!important;
}
.market_categories .categories_list,
.search_categories .categories_list
{
    width: 100%;
    position: absolute;
    display: none;
}
.market_categories .categories_list >ul,
.search_categories .categories_list >ul
{
    position: relative;
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.market_categories .categories_list li,
.search_categories .categories_list li
{
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    padding: 5px 6px;
    line-height: 15px;
}
.market_categories .categories_list li:hover,
.search_categories .categories_list li:hover
{
    background-color: #eeeeee;
}
.market_categories .categories_list li ul li:hover,
.search_categories .categories_list li ul li:hover
{
    background-color: #dddddd;
}

.market_categories span.select,
.search_categories span.select {
    font-size: 1.2em;
}

.market_categories .select_button,
.search_categories .select_button {
    line-height: normal;
    position: relative;
    cursor: pointer;
    display: block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
    border-radius: 4px;
}
.market_categories .select_button.active,
.search_categories .select_button.active {
    background-color: #ffffff;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(25%, #e6e6e6), to(#ffffff));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6 25%, #ffffff);/* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);/* IE6-9 */
    border: 1px solid #cccccc;
    border-bottom: 0;
    padding-bottom: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.market_categories .arrow_down,
.search_categories .arrow_down {
    height: 18px;
    width: 20px;
    background: url('../xlib/jquery/chosen/chosen-sprite.png') 6px 3px no-repeat;
    position: absolute;
    top: 4px;
    right: 12px;
}

#child_category {
    float: right;
}
#child_category.disabled, .rComments .disabled {
    opacity: 0.5;
}

.region-selector {
    position: relative;
}

.region-selector span {
    margin-right: 10px;
    font-size: 12px;
    height: 30px;
}

.region-selector span.region-selected {
    border-bottom: 1px dotted #4444ba;
    color: #4444ba;
    margin-right: 2px;
}

.region-selector span.region-selected {
    cursor: pointer;
}

.region-selector.elements input {
    padding: 5px;
    margin-top: -6px;
}

.elements input::-webkit-input-placeholder {
    color:#bbb;
    font-style: italic;
}
.elements input:-moz-placeholder {
    color:#bbb;
    font-style: italic;
}
.elements input::-moz-placeholder {
    color:#bbb;
    font-style: italic;
}
.elements input:-ms-input-placeholder {
    color:#bbb;
    font-style: italic;
}

td .region-selector {
    height: 30px;
    width: 242px;
    padding-top: 12px;
}

.list-view .pager {
    text-align: left !important;
}

.categories_list .selected {
    background-color: #f0f0ff;
    border: 1px solid #e7e7f6;
}

.wizard-steps {
    margin: 10px 0;
    padding: 8px !important;
    clear: both;
    overflow: hidden;
    color: #4D5DCF;
    background-color: rgba(162, 165, 255, 0.11);
    border: 1px solid #C1C3EE;
}

.wizard-steps li {
    position: relative;
    float: left;
    margin: 0 3px;
    font-size: 12px;
}

.wizard-steps li:last-child:after {
    content: "";
    margin: 0;
}

.wizard-steps li:after {
    content:"\203A";
    margin: 0 0 0 5px;
}

.wizard-steps li.current {
    font-weight: bold;
}

.wizard-steps li.passed,
.wizard-steps li.passed:after {
    color: #a7a9d1;
}

div.box div.boxcnt ul li span.border_bottom {
    display: block;
    padding-top: 8px;
    margin-bottom: 8px;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dropdown.open > .dropdown-menu {
    display: block;
}
ul.dropdown-menu,
div.dropdown-menu
{
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

ul.dropdown-menu:before,
div.dropdown-menu:before
{
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
ul.dropdown-menu:after,
div.dropdown-menu:after
{
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

.dropdown > div {
    margin-bottom: 4px;
    display: inline-block;
    cursor: pointer;
}
.dropdown > div > span.caret {
    margin: 8px 0 0 4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #ffffff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.dropdown-menu li > a {
    display: block;
    padding: 3px 10px;
    clear: both;
    white-space: nowrap;
}
#file ul {
    list-style: disc;
    padding: 5px 20px 20px 18px;
}
#moderator-files .sort-link.asc:after,
#moderator-files .sort-link.desc:after {
    font-size: 13px;
    width: 16px;
    height: 10px;
    display: inline-block;
    content: '';
}

#moderator-files .sort-link.asc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") -14px -3px no-repeat;
}

#moderator-files .sort-link.desc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") 3px -3px no-repeat;
}