.wrap_border {
    border-bottom: 1px dotted;
    display: inline-block;
    width: 77%;
    height: 25px;
}
.half_wrap_border {
    border-bottom: 1px dotted;
    display: inline-block;
    width: 61%;
    height: 25px;
}
input {
    width: 130px;
}
input#phone_prefix {
    width: 66px;
}
.padding_right {
    padding-right: 6px;
}
table tr td {
    /*text-align: center;*/
}

.form_star {
    color: #c4550b;
}
.money_moving .table_right {
    padding-right: 6px;
    text-align: right;
}
.money_moving .table_right_head {
    padding-left: 22px;
}
#fiscal_year {
    margin-left: 0px;
}
label {
    line-height: 36px;
    background-color: #F8F8F8;
    padding-right: 4px;
}
.help {
    margin: 0 0 -3px -3px;
}
label.padding_help {
    padding-right: 25px;
}
span.padding_help {
    margin: 0 0 -3px -25px;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
