.guest-info,
.slidewrap {
    width: 962px !important;
}

.guest-info h1 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 10px;
}

.guest-info p {
    padding-bottom: 5px;
}

#ticker.slidewrap {
    margin: 10px 0 0 10px;
    background-color: #fffdd2;
    border: 1px solid #e2dfa0;
    padding: 10px 0;
}

#ticker .slidewrap-inner {
    width: 904px;
    overflow: hidden;
    margin-left: 30px;
}

.slidecontrols a {
    width: 16px;
    height: 16px;
    background: 50% 50% no-repeat;
    margin-top: 2px;
}

.slidecontrols a,
.slidecontrols a:hover {
    color: transparent;
}

.slidecontrols li{
    display: inline;
}

.slidecontrols .carousel-next {
    float: right;
    background-image: url("../ximg/icons/arrow_next.png");
    margin-right: 5px;
}

.slidecontrols .carousel-prev {
    float: left;
    background-image: url("../ximg/icons/arrow_prev.png");
    margin-left: 5px;
}

#ticker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.forum-demand a {
    font-size: 13px;
    font-weight: bold;
}

.forum-demand .boxtitle a {
    font-weight: normal;
}

.forum-demand .date,
.forum-demand .member,
.forum-demand .member * {
    font-size: 11px;
}

.forum-demand .date {
    color: #727272;
}

.forum-demand .member,
.forum-demand .member * {
    font-weight: normal;
}

.forum-threads th {
    padding: 10px 0;
    font-size: 16px;
}

.forum-threads th small {
    font-weight: normal;
    border-bottom: 1px dashed #4444ba;
    text-transform: lowercase;
}

.forum-threads th a:hover small {
    border-bottom: none;
}

.forum-threads th a,
.forum-threads th a:hover {
    text-decoration: none;
}

.forum-threads tr.selected {
    background: none;
    border: none;
}

.forum-threads tr,
.forum-threads tr.selected {
    border-top: 1px solid #eaeaea;
}

.forum-threads tr:first-child {
    border: none;
}

.forum-threads td {
    font-size: 11px;
    text-align: center;
    color: #727272;
    padding: 5px 0;
}

.forum-threads td span {
    font-size: 11px;
}

.forum-threads td.thread {
    text-align: left;
}

.forum-threads td.thread > a {
    font-size: 16px;
    letter-spacing: -1px;
}

.forum-threads td.thread span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.forum-threads td .views {
    background: url('../ximg/icons/glass.png') 0 2px no-repeat;
    padding: 3px 0 3px 20px;
}

.forum-threads td .replies {
    background: url('../ximg/icons/comments.png') 0 2px no-repeat;
    padding: 3px 0 3px 20px;
}

.forum-threads .sort-link.asc,
.forum-threads .sort-link.desc {
    margin-top: -1px;
    display: block;
}

.forum-threads .sort-link.asc:before {
    content: '\2191 ';
}

.forum-threads .sort-link.desc:before {
    content: '\2193 ';
}

.frontpage-topics h2 {
    font-weight: normal;
    padding: 5px 0;
    font-size: 18px;
}

.frontpage-topics .topic_controls {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 0;
    overflow: inherit;
}

.frontpage-topics .votes {
    background: url('../ximg/icons/plus-circle.png') no-repeat 0 50%;
    padding: 2px 0 1px 20px;
}

.boxtitle .nav-links {
    float: right;
    margin-top: 3px;
}

.boxtitle .nav-links li,
.boxtitle .nav-links a,
.boxtitle .nav-links .sign {
    font-size: 12px;
}

.boxtitle .nav-links li {
    position: relative;
    float: left;
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding-left: 10px;
}

.boxtitle .nav-links .sign {
    margin-top: -2px;
    line-height: normal;
}

.boxtitle .nav-links li:first-child {
    border: none;
}
.box .nav-bottom-links {
    height: 20px;
    margin-left: -15px;
}
.box .nav-bottom-links a {
    border-left: 1px solid #ddd;
    margin-left: 10px;
    padding-left: 10px;
}
.box .nav-bottom-links a:last-child {
    border: 0;
}
.read-more {
    margin-top: -10px;
    padding-bottom: 5px;
}
.period_menu {
    list-style-type: none;
    font-size: 12px;
}

.period_menu li {
    float: left;
    padding-right: 10px;
}

.period_menu .active span {
    padding: 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #4D5DCF;
    background-color: rgba(45, 68, 238, 0.1);
    border: 1px solid #C1C3EE;
}
p.error {
    padding-top: 10px;
    font-size: 18px;
    margin: 0;
}