.dropdown_list {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dropdown_list .objects_list {
    width: 100%;
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 1100;
}

.dropdown_list .objects_list > ul {
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
}

.dropdown_list .objects_list > ul li {
    padding: 0;
    margin: 0;
}

.dropdown_list .objects_list li div {
    cursor: pointer;
    padding: 5px 12px;
    line-height: 15px;
}

.dropdown_list .objects_list li ul li {
    margin: 0 12px;
}

.dropdown_list .objects_list ul li.selected > div {
    font-weight: bold;
}

.dropdown_list .objects_list ul li.selected:hover {
    background-color: inherit;
}

.dropdown_list .objects_list ul > li:hover {
    background-color: #f2f2f2;
}

.dropdown_list .objects_list li ul li:hover {
    background-color: #dddddd;
}

.dropdown_list .objects_list ul div:hover {
    background: url('../ximg/chosen-arrow-right.png') 0 no-repeat;
}

.dropdown_list .objects_list ul li.selected > div:hover {
    background: none;
}

.dropdown_list .objects_list > div {
    padding: 0 5px 5px 5px;
}

.dropdown_list .objects_list input {
    width: 100%;
    box-sizing: border-box;
    background: url('../ximg/icons/search_13x13.png') 98% no-repeat;
}

.dropdown_list span.select, .dropdown_list span.default {
    padding-right: 5px;
    font-size: 1.2em;
}

.dropdown_list span.select {
    display: none;
}

.dropdown_list .select_button {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: #e6e6e6; /* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6); /* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); /* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}

.dropdown_list .select_button.active {
    background-color: #ffffff; /* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(25%, #e6e6e6), to(#ffffff)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff); /* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6 25%, #ffffff); /* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff); /* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff); /* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    border: 1px solid #cccccc;
    border-bottom: 0;
    padding-bottom: 7px;
}

.dropdown_list .arrow_down {
    height: 18px;
    width: 18px;
    background: url('../xlib/jquery/chosen/chosen-sprite.png') 6px 3px no-repeat;
    position: absolute;
    top: 6px;
    right: 14px;
}

.dropdown_list .objects_list ul li {
    cursor: pointer;
}

.dropdown_list .objects_list li.new {
    background-color: rgba(0, 255, 7, 0.26);
}