#duty_type label {
    margin-right: 27px;
    display: inline;
}

#duty_form select {
    width: 558px;
}

#duty_form fieldset {
    width: 531px;
}
label {
    margin-left: 4px;
    display: block;
}

#options label  {
    display: inline;
}

fieldset {
    border: 1px solid #CCC!important;
    padding: 12px!important;
    background-color: #EEE;
}

label.error {
    font-size: 11px;
    color: #c4550b;
    margin-left: 7px;
}

.form_star {
    color: #c4550b;
}

.disabled {
    background: #EEE;
}

div.elements {
    padding-top: 8px;
}

#df div.buttons {
    float: right;
    margin: 8px;
}

#df div.ctrl {
    margin: 9px;
}

#df div {
    display: block;
    float: left;
    margin-left: 6px;
}
.duty_type2 {
    display: none;
}
body {
    height: 100%;
    margin: 0 2px;
    padding: 0;
    font-family: Tahoma,Helvetica,Arial;
    font-size: 13px;
    color: #262626;
}
td {
    padding: 0;
    letter-spacing: 0;
}