@import url('../xfonts/pt_sansregular.css');
@import url('../xfonts/pt_sansbold.css');
.wrapper {
    position: relative;
}
.facebook_like_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(103, 126, 174, 0.82);
    overflow: hidden;
    z-index: 1000;
}

.facebook_like_overlay .block {
    position: fixed;
    height: 310px;
    width: 680px;
    top: 50%;
    left: 50%;
    margin-top: -155px;
    margin-left: -378px;
    padding-right: 60px;
    background-color: white;
}

.facebook_like_overlay .block img.close {
    position: absolute;
    top: -100px;
    right: 0;
    cursor: pointer;
}
.facebook_like_overlay .block img.tail {
    margin-bottom: 19px;
    margin-left: -7px;
}
.facebook_like_overlay .block img.facebook_like_overlay_text {
    margin-bottom: 19px;
    margin-left: -7px;
}

.facebook_like_overlay .block .text {
    margin: 50px 0 0 64px;
    padding-bottom: 20px;
    display: inline-block;
    font-family: 'pt_sansbold', Verdana, Tahoma, sans-serif;
    font-size: 48px;
    line-height: 1em;
    color: #5674AB;
    font-weight: normal;
}

/*.facebook_like_overlay .block input {
    margin: 34px 0 0 64px;
    cursor: pointer;
    height: 118px;
    width: 396px;
    border: 4px solid #c3c8dd;
    border-radius: 14px;
    background: url(/ximg/like_hand.png) 10px 10px no-repeat;
    background-color: #eef1fa;
    font-family: 'pt_sansregular', Verdana, Tahoma, sans-serif;
    font-size: 47.25px;
    letter-spacing: -2px;
    color: #5674AB;
    padding-left: 110px;
}*/

.facebook_like_overlay .block img.fl-r {
    margin: 65px 0 0 0;
}
.fb-like {
    padding: 0 0 0 64px;
}