.features-icon {
    height: 26px;
    width: 30px;
    background-image: url("../ximg/features-icons-active.svg");
    margin-bottom: 15px;
}

.features-icon.icon-confirm {
    background-position: 0 0;
}

.features-icon.icon-office {
    background-position: 122px 0;
}

.features-icon.icon-business {
    background-position: 93px 0;
}

.features-icon.icon-prolongation {
    background-position: 62px 0;
}

.features-icon.icon-inspection {
    background-position: 33px 0;
}

.features-icon.icon-service {
    background-position: 0 26px;
}

.features-icon.icon-warranty {
    background-position: 120px 26px;
}

.features-icon.icon-verification {
    background-position: 90px 26px;
}

.features-icon.icon-payment {
    background-position: 61px 26px;
}

.features-icon.icon-delivery {
    background-position: 30px 26px;
}