

.page-files-category .block1 .title {
    color: #676767;
    font-size: 28px;
    font-weight: 700;
    padding: 25px 25px 0 25px;
}

.page-files-category .block1 .buttons {
    margin-top: 35px;
    padding: 0 25px;
}

.page-files-category .block1 .buttons .btn-group {
    margin-right: 10px;
    margin-left: 0;
}

.page-files-category .block1 .buttons .btn-group button {
    height: 35px;
    color: #676767;
    font-size: 12px;
    text-transform: none;
    border: 1px solid #d9d9d9;
}

.page-files-category .block1 .buttons .btn-group button:hover,
.page-files-category .block1 .buttons .btn-group button.dropdown-toggle:hover,
.page-files-category .block1 .buttons .btn-group button.dropdown-toggle:hover .caret {
    background-color: #aa54fe !important;
    color: #ffffff;
}

.page-files-category .block1 .buttons .btn-group button:focus,
.page-files-category .block1 .buttons .btn-group button.dropdown-toggle:focus,
.page-files-category .block1 .buttons .btn-group button.dropdown-toggle:focus .caret {
    background-color: #aa54fe;
    color: #ffffff;
    outline: none;
}


.page-files-category .block1 .buttons .btn-group button.dropdown-toggle {
    color: #a3a3a3;
}


.page-files-category .block1 .buttons .btn-group button .caret {
    margin-left: 10px;
    color: #a3a3a3;
}

.page-files-category .block1 .search {
    margin-top: 30px;
    border-bottom: 2px solid #f3f3f3;
    padding: 0 25px;
}

.page-files-category .block1 .search .left {
    padding: 0;
    height: 30px;
    position: relative;
}

.page-files-category .block1 .search .search-result {
    background-color: white;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    box-shadow: 0 5px 9px 1px rgba(31, 31, 31, 0.08);
    z-index: 100;
    width: 400px;
    display: none;
}

.page-files-category .block1 .search .search-result .search-item {
    margin-top: 10px;
}

.page-files-category .block1 .search .search-result .search-item:first-child {
    margin-top: 0;
}

.page-files-category .block1 .search .search-result .search-item a {
    margin-left: 5px;
}

.page-files-category .block1 .search .search-result .icon-filetype {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    bottom: -4px;
    margin-right: 5px;
}

.page-files-category .block1 .search .search-result a {
    font-size: 12px;
}

.page-files-category .block1 .search .search-result a:hover {
    color: #41bf57;
    text-decoration: none;
}

.page-files-category .block1 .search .left i {
    color: #a3a3a3;
    font-size: 17px;
}

.page-files-category .block1 .search input {
    border: none;
    height: 30px;
    width: 90%;
    font-size: 14px;
    padding: 0 10px;
}

.page-files-category .block1 .search input::-webkit-input-placeholder {color: #bfbfbf; font-style: italic; text-transform: uppercase; font-size: 10px;}
.page-files-category .block1 .search input::-moz-placeholder          {color: #bfbfbf; font-style: italic; text-transform: uppercase; font-size: 10px;}/* Firefox 19+ */
.page-files-category .block1 .search input:-moz-placeholder           {color: #bfbfbf; font-style: italic; text-transform: uppercase; font-size: 10px;}/* Firefox 18- */
.page-files-category .block1 .search input:-ms-input-placeholder      {color: #bfbfbf; font-style: italic; text-transform: uppercase; font-size: 10px;}


.page-files-category .block1 .search .right {
    color: #a2a2a2;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.55px;
    text-align: center;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.page-files-category .block1 .file-list {
    padding: 0;
}

.page-files-category .block1 .file-list .file-item {
    overflow: hidden;
    border-bottom: 1px solid #f3f3f3;
}

.page-files-category .block1 .file-list .file-item .left {
    height: 70px;
    display: table;
    padding: 0 25px;
}

.page-files-category .block1 .file-list .file-item .left .file-item-title {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.page-files-category .block1 .file-list .file-item .left .file-item-title a {
    font-size: 16px;
}

.page-files-category .block1 .file-list .file-item .left .file-item-title .file-item-size {
    color: #c5c5c5;
    font-size: 11px;
    margin-top: 3px;
}

.page-files-category .block1 .file-list .file-item .right {
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.page-files-category .block1 .file-list .file-item .right .icon-download {
    background: url("../ximg/icon-download.svg");
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
    cursor: pointer;
}

.page-files-category .block1 .file-list .file-item .right .icon-download:hover {
    background-position: 0 -26px;
}

.page-files-category .block1 .file-list .file-item .right .download-count {
    color: #717171;
    font-size: 21px;
}

.page-files-category .block1 .files-pagination {
    width: 100%;
    text-align: center;
}

.page-files-category .block1 .files-pagination ul {
    margin-bottom: 10px;
}

.page-files-category .block1 .files-pagination li a {
    border: 1px solid #ddd;
    color: #428bca;
}

.page-files-category .block1 .files-pagination li a:focus {
    color: #ffffff;
    background-color: #768a9e;
}