.page-file-download {
    background-color: #fdf9f2;
}

.page-file-download .left {
    background-color: #ffffff;
    box-shadow: 5px 0 3px -2px rgba(8, 13, 18, 0.21);
    padding: 25px 10px 55px 25px;
}

.page-file-download .left .block1 .title-wrap {
    display: table;
}

.page-file-download .left .block1 .title {
    color: #4c4c4c;
    font-size: 28px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
}

.page-file-download .left .block1 .title-icon {
    background: url("../ximg/icon-file-view.svg") no-repeat;
    display: inline-block;
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 20px;
}

.page-file-download .left .block2 .list {
    margin-top: 40px;
}

.page-file-download .left .block2 .list .list-title {
    font-size: 14px;
    font-weight: 700;
}

.page-file-download .left .block2 .list .list-item {
    margin-top: 10px;
}

.page-file-download .left .block2 .list .list-item a {
    margin-left: 5px;
    font-size: 13px;
}

.page-file-download .right .block1 {
    padding: 30px 20px;
}

.page-file-download .right .block1 .file-name {
    font-size: 18px;
    margin-top: 20px;
}

.page-file-download .right .block1 .file-size {
    color: #aeaeae;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-file-download .right .block1 .file-info-item {
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 10px 0;
}

.page-file-download .right .block1 .file-info-item:last-child {
    border-bottom: none;
}

.page-file-download .right .block1 .file-info .file-info-title {
    font-weight: 700;
}

.page-file-download .right .block1 .btn {
    color: white;
    font-size: 12px;
    font-weight: 700;
    width: 100%;
    border-radius: 3px;
    margin-top: 30px;
}

.page-file-download .right .block1 .btn .icon-download-file {
    background: url("../ximg/icon-download-file.svg") no-repeat;
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: -5px;
}

.page-file-download .right .block1 .btn .btn-name {
    position: relative;
    bottom: 7px;
    margin-left: 10px;
}

.page-file-download .right .block1 .file-downloads {
    text-align: center;
    color: #787878;
    font-size: 12px;
    margin-top: 15px;
}

.popup.popup-download .popup-inner {
    width: 430px;
    height: 530px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 102;
    margin-top: -265px;
    margin-left: -215px;
    text-align: center;
    padding: 60px;
}

.popup.popup-download .popup-inner .download-success {
    display: inline-block;
    position: relative;
}

.popup.popup-download .popup-inner .download-success .icon-download-success {
    background: #ffffff url("../ximg/icon-download-success.svg") no-repeat center;
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: -16px;
    border-radius: 15px;
}

.popup.popup-download .popup-inner .success-title {
    color: #959595;
    font-size: 55px;
    margin-top: 40px;
}

.popup.popup-download .popup-inner .success-info {
    color: #7c7c7c;
    font-size: 14px;
    margin-top: 40px;
}

.popup.popup-download .popup-inner input {
    width: 100%;
    color: #c8c8c8;
    font-size: 25px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    margin-top: 50px;
}

.popup.popup-download .popup-inner input:focus {
    outline: none;
}

.popup.popup-download .popup-inner input::-webkit-input-placeholder {color: #c8c8c8;}
.popup.popup-download .popup-inner input::-moz-placeholder          {color: #c8c8c8;}/* Firefox 19+ */
.popup.popup-download .popup-inner input:-moz-placeholder           {color: #c8c8c8;}/* Firefox 18- */
.popup.popup-download .popup-inner input:-ms-input-placeholder      {color: #c8c8c8;}

.popup.popup-download .popup-inner .btn {
    width: 100%;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    border-radius: 3px;
}

.popup.popup-download .popup-inner .btn i {
    margin-right: 10px;
    font-size: 15px;
}


