.data {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.data .title {
    font-size: 1.3em;
    letter-spacing: -1px;
    line-height: 20px;
    margin-bottom: 9px;
}

.info {
    font-size: 11px;
}

.info > div  {
    display: inline;
    border-right: 1px #DDD;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

.info > div:last-child {
    border: 0;
}