.member-files {
    padding-left: 0;
}

.member-files h1 {
    padding-left: 15px;
}

.member-files > .list-view > .items {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.member-files > .list-view > .items > div {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #F0F0F0;
    display: table-row;
}

.member-files > .list-view > .items > div > div {
    display: table-cell;
}

.member-files > .list-view > .items > div > div:nth-child(1) {
    position: relative;
    background: #F5F5F5;
    vertical-align: middle;
    width: 8%;
    text-align: center;
    text-transform: uppercase;
}

.member-files > .list-view > .items > div > div:nth-child(1) > span:nth-child(2) {
    color: white;
    position: absolute;
    left: 25%; /*TODO fix it!*/
    top: 41%; /*TODO fix it!*/
    font-size: 11px;
    font-weight: bold;
}

.member-files > .list-view > .items > div > div:nth-child(1) > span.glyphicon {
    font-size: 50px;
    color: #C1C1C1;
}

.member-files > .list-view > .items > div > div:nth-child(2) {
    padding: 15px 10px 10px;
    font-size: 20px;
}

.member-files > .list-view > .items > div > div:nth-child(2) > .controls {
    padding-top: 10px;
    color: #CCCCCC;
    font-size: 12px;
}

.member-files > .list-view > .items > div > div:nth-child(2) > .controls > a {
    color: #88D000;
}

.member-files > .list-view > .items > div > div:nth-child(2) > .controls > *:not(.glyphicon) {
    padding-right: 20px;
}

.member-files > .list-view > .items > div > div:nth-child(2) > .controls > *.glyphicon {
    padding-right: 5px;
}

.member-files > .list-view > .items > div > div:nth-child(3) {
    width: 10%;
    color: #C2C2C2;
}

.member-files > .list-view > .items > div > div:nth-child(3) > span {
    font-size: 20px;
}

.member-files > .list-view > .items > div > div:nth-child(3) > span.glyphicon {
    padding-right: 5px;
}

.member-files > .list-view > .items > div > div:nth-child(3) > div {
    font-size: 12px;
    padding-top: 10px;
}