.page-files .block1 {
    padding: 25px 35px;
    overflow: hidden;
}

.page-files .block1 .block-title {
    float: left;
}

.page-files .block1 .all-files {
    float: right;
}

.page-files .block1 .all-files span {
    display: inline-block;
}

.page-files .block1 .all-files .all-files-icon {
    background: url("../ximg/icons-filetypes/icon-filetype-all.svg") no-repeat center;
    width: 22px;
    height: 22px;
}

.page-files .block1 .all-files .all-files-title {
    position: relative;
    bottom: 5px;
    margin-right: 15px;
    margin-left: 5px;
}

.page-files .block1 .all-files .all-files-count {
    color: #717171;
    font-size: 28px;
    font-weight: 700;
}

.page-files .block2 {
    padding: 15px 35px;
    background-color: #aa54fe;
}

.page-files .block2 .search-file-icon {
    background: url("../ximg/icon-search-file.svg") no-repeat center;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.page-files .block2 .search-field {
    width: 90%;
    background: transparent;
    border: none;
    margin-bottom: 5px;
    height: 30px;
    padding: 0 10px;
    color: white;
    font-size: 17px;
}

.page-files .block2 .search-field::-webkit-input-placeholder {color: #bfbfbf; font-style: italic;}
.page-files .block2 .search-field::-moz-placeholder          {color: #bfbfbf; font-style: italic;}/* Firefox 19+ */
.page-files .block2 .search-field:-moz-placeholder           {color: #bfbfbf; font-style: italic;}/* Firefox 18- */
.page-files .block2 .search-field:-ms-input-placeholder      {color: #bfbfbf; font-style: italic;}


.page-files .block2 .search-field:focus {
    outline: none;
    border: none;
}

.page-files .block2 .search-result {
    position: absolute;
    background: #ffffff;
    left: 15px;
    right: 0;
    box-shadow: 0 1px 5px 1px rgba(31, 31, 31, 0.3);
    border-bottom: 1px solid #c6c6c6;
    z-index: 100;
    top: 70px;
    padding: 10px 0;
    display: none;
}

.page-files .block2 .search-result .search-item {
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    padding: 0 10px 0 20px;
}

.page-files .block2 .search-result .search-item:hover {
    background-color: #aa54fe;
    color: #ffffff;
}

.page-files .block2 .search-result .search-item:hover .search-item-type {
    color: #ffffff;
}

.page-files .block2 .search-result .search-item .icon-filetype-small {
    margin-right: 10px;
}

.page-files .block2 .search-result .search-item .search-item-type {
    float: right;
    color: #a4a4a4;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-files .block3 {
    padding: 25px 35px;
    overflow: hidden;
}

.page-files .block3 .files-category {
    margin-bottom: 60px;
    height: 250px;
    padding: 0 20px 0 0;
}

.page-files .block3 .files-category .files-category-title {
    color: #676767;
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0 20px 0;
}

.page-files .block3 .files-category .files-category-title .label {
    font-size: 11px;
    font-weight: 700;
    background-color: #a8a8a8;
    border-radius: 18px;
    margin-left: 15px;
}

.page-files .block3 .files-category .files-category-item {
    margin-bottom: 5px;
}

.page-files .block3 .files-category .files-category-item i {
    color: #cecece;
    float: left;
}

.page-files .block3 .files-category .files-category-item a {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-left: 20px;
}

.page-files .block3 .files-category .files-category-button {
    color: #b6b6b6;
    font-size: 11px;
    font-weight: 700;
    line-height: 25px;
    height: 25px;
    float: left;
    padding: 0 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.page-files .block3 .files-category .files-category-button:hover {
    border: 1px solid #2f76dc;
    border-radius: 2px;
    color: #2f76dc;
}

.page-files .block3 .adv {
    text-align: center;
    padding: 0 0 60px 0;
}

.page-files .block3 .files-download {
    height: 250px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    text-align: center;
}

.page-files .block3 .files-download .files-download-title {
    color: #5c5c5c;
    font-size: 20px;
    margin: 30px 0;
}

.page-files .block3 .files-download .files-download-icon {
    height: 72px;
    width: 85px;
    display: inline-block;
}

.page-files .block3 .files-download .files-download-icon.files-donwload-xls {
    background: url("../ximg/icons-filetypes/icon-filetype-xls-add.svg") no-repeat center;
}

.page-files .block3 .files-download .files-download-icon.files-donwload-doc {
    background: url("../ximg/icons-filetypes/icon-filetype-doc-add.svg") no-repeat center;
}

.page-files .block3 .files-download .files-download-icon.files-donwload-pdf {
    background: url("../ximg/icons-filetypes/icon-filetype-pdf-add.svg") no-repeat center;
}

.page-files .block3 .files-download button {
    width: 80%;
    margin-top: 30px;
    height: 37px;
}

