.topRazdel >a, .topRazdel >span {
    font-size: 1.2em;
    letter-spacing: -1px;
    padding: 2px 0;
}
.topRazdel , .razdel li {
    padding: 2px 0;
}
.razdel{
    display: none;
    font-size: 1em;
    letter-spacing: -1px;
    padding: 2px 0 0 7px;
}
.razdel, .topRazdel {
    color: #9DA3CA;
}

a.expand {
    text-decoration: none!important;
}
.open {

}
.air {
    margin-bottom: 40px;
    margin-top: 10px;
}

.expandingRazdels .current {
    font-weight: bold;
}

.expandingRazdels a, .expandingRazdels span {
    margin-right: 5px;
}
