.icon-filetype-small {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    bottom: -4px;
}

.icon-filetype-small.filetype-doc {
    background: url("../ximg/icons-filetypes/icon-filetype-doc-small.svg") no-repeat center;
}

.icon-filetype-small.filetype-xls {
    background: url("../ximg/icons-filetypes/icon-filetype-xls-small.svg") no-repeat center;
}

.icon-filetype-small.filetype-pdf {
    background: url("../ximg/icons-filetypes/icon-filetype-pdf-small.svg") no-repeat center;
}

.icon-filetype-small.filetype-png {
    background: url("../ximg/icons-filetypes/icon-filetype-png-small.svg") no-repeat center;
}

.page-files .search-result .search-item:hover .icon-filetype-small.filetype-doc {
    background: url("../ximg/icons-filetypes/icon-filetype-doc-small-hover.svg") no-repeat center;
}

.page-files .search-result .search-item:hover .icon-filetype-small.filetype-xls {
    background: url("../ximg/icons-filetypes/icon-filetype-xls-small-hover.svg") no-repeat center;
}

.page-files .search-result .search-item:hover .icon-filetype-small.filetype-pdf {
    background: url("../ximg/icons-filetypes/icon-filetype-pdf-small-hover.svg") no-repeat center;
}

.page-files .search-result .search-item:hover .icon-filetype-small.filetype-png {
    background: url("../ximg/icons-filetypes/icon-filetype-png-small-hover.svg") no-repeat center;
}

.icon-filetype {
    height: 70px;
    width: 36px;
    margin-right: 20px;
    display: table-cell;
}

.icon-filetype-big {
    width: 54px;
    height: 58px;
    background-size: 100% !important;
}

.icon-filetype.filetype-doc {
    background: url("../ximg/icons-filetypes/icon-filetype-doc-big.svg") no-repeat center;
}

.icon-filetype.filetype-xls {
    background: url("../ximg/icons-filetypes/icon-filetype-xls-big.svg") no-repeat center;
}

.icon-filetype.filetype-pdf {
    background: url("../ximg/icons-filetypes/icon-filetype-pdf-big.svg") no-repeat center;
}

.icon-filetype.filetype-jpg {
    background: url("../ximg/icons-filetypes/icon-filetype-jpg-big.svg") no-repeat center;
}

.icon-filetype.filetype-png {
    background: url("../ximg/icons-filetypes/icon-filetype-png-big.svg") no-repeat center;
}
