.fill10 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 10%, rgb(207, 207, 207) 10%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(10%,rgb(84, 84, 84)), color-stop(10%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 10%,rgb(207, 207, 207) 10%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 10%,rgb(207, 207, 207) 10%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 10%,rgb(207, 207, 207) 10%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 10%,rgb(207, 207, 207) 10%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill20 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 20%, rgb(207, 207, 207) 20%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(20%,rgb(84, 84, 84)), color-stop(20%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 20%,rgb(207, 207, 207) 20%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 20%,rgb(207, 207, 207) 20%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 20%,rgb(207, 207, 207) 20%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 20%,rgb(207, 207, 207) 20%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill25 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 25%, rgb(207, 207, 207) 25%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(25%,rgb(84, 84, 84)), color-stop(25%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 25%,rgb(207, 207, 207) 25%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 25%,rgb(207, 207, 207) 25%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 25%,rgb(207, 207, 207) 25%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 25%,rgb(207, 207, 207) 25%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill30 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 30%, rgb(207, 207, 207) 30%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(30%,rgb(84, 84, 84)), color-stop(30%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 30%,rgb(207, 207, 207) 30%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 30%,rgb(207, 207, 207) 30%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 30%,rgb(207, 207, 207) 30%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 30%,rgb(207, 207, 207) 30%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill35 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 35%, rgb(207, 207, 207) 35%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(35%,rgb(84, 84, 84)), color-stop(35%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 35%,rgb(207, 207, 207) 35%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 35%,rgb(207, 207, 207) 35%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 35%,rgb(207, 207, 207) 35%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 35%,rgb(207, 207, 207) 35%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill40 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 40%, rgb(207, 207, 207) 40%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(40%,rgb(84, 84, 84)), color-stop(40%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 40%,rgb(207, 207, 207) 40%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 40%,rgb(207, 207, 207) 40%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 40%,rgb(207, 207, 207) 40%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 40%,rgb(207, 207, 207) 40%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill50 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 45%, rgb(207, 207, 207) 45%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(45%,rgb(84, 84, 84)), color-stop(45%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 45%,rgb(207, 207, 207) 45%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 45%,rgb(207, 207, 207) 45%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 45%,rgb(207, 207, 207) 45%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 45%,rgb(207, 207, 207) 45%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill55 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 55%, rgb(207, 207, 207) 55%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(55%,rgb(84, 84, 84)), color-stop(55%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 55%,rgb(207, 207, 207) 55%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 55%,rgb(207, 207, 207) 55%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 55%,rgb(207, 207, 207) 55%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 55%,rgb(207, 207, 207) 55%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill60 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 60%, rgb(207, 207, 207) 60%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(60%,rgb(84, 84, 84)), color-stop(60%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 60%,rgb(207, 207, 207) 60%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 60%,rgb(207, 207, 207) 60%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 60%,rgb(207, 207, 207) 60%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 60%,rgb(207, 207, 207) 60%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill65 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 65%, rgb(207, 207, 207) 65%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(65%,rgb(84, 84, 84)), color-stop(65%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 65%,rgb(207, 207, 207) 65%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 65%,rgb(207, 207, 207) 65%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 65%,rgb(207, 207, 207) 65%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 65%,rgb(207, 207, 207) 65%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill70 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 70%, rgb(207, 207, 207) 70%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(70%,rgb(84, 84, 84)), color-stop(70%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 70%,rgb(207, 207, 207) 70%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 70%,rgb(207, 207, 207) 70%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 70%,rgb(207, 207, 207) 70%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 70%,rgb(207, 207, 207) 70%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill75 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 75%, rgb(207, 207, 207) 75%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(75%,rgb(84, 84, 84)), color-stop(75%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 75%,rgb(207, 207, 207) 75%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 75%,rgb(207, 207, 207) 75%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 75%,rgb(207, 207, 207) 75%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 75%,rgb(207, 207, 207) 75%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill80 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 80%, rgb(207, 207, 207) 80%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(80%,rgb(84, 84, 84)), color-stop(80%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 80%,rgb(207, 207, 207) 80%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 80%,rgb(207, 207, 207) 80%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 80%,rgb(207, 207, 207) 80%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 80%,rgb(207, 207, 207) 80%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill85 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 85%, rgb(207, 207, 207) 85%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(85%,rgb(84, 84, 84)), color-stop(85%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 85%,rgb(207, 207, 207) 85%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 85%,rgb(207, 207, 207) 85%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 85%,rgb(207, 207, 207) 85%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 85%,rgb(207, 207, 207) 85%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill90 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 90%, rgb(207, 207, 207) 90%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(90%,rgb(84, 84, 84)), color-stop(90%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 90%,rgb(207, 207, 207) 90%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 90%,rgb(207, 207, 207) 90%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 90%,rgb(207, 207, 207) 90%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 90%,rgb(207, 207, 207) 90%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill95 {
    background: rgb(84, 84, 84);
    background: -moz-linear-gradient(left,  rgb(84, 84, 84) 0%, rgb(84, 84, 84) 95%, rgb(207, 207, 207) 95%, rgb(207, 207, 207) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(84, 84, 84)), color-stop(95%,rgb(84, 84, 84)), color-stop(95%,rgb(207, 207, 207)), color-stop(100%,rgb(207, 207, 207)));
    background: -webkit-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 95%,rgb(207, 207, 207) 95%,rgb(207, 207, 207) 100%);
    background: -o-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 95%,rgb(207, 207, 207) 95%,rgb(207, 207, 207) 100%);
    background: -ms-linear-gradient(left,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 95%,rgb(207, 207, 207) 95%,rgb(207, 207, 207) 100%);
    background: linear-gradient(to right,  rgb(84, 84, 84) 0%,rgb(84, 84, 84) 95%,rgb(207, 207, 207) 95%,rgb(207, 207, 207) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c18c', endColorstr='#ffffff',GradientType=1 );
}
.fill100 {
    background: rgb(84, 84, 84);
}
div.fill_profile div.boxtitle {
    letter-spacing: -0.2px; /*IE fix*/
    padding: 1px;
}
div.fill_profile div.boxtitle div {
    padding: 7px;
}

ul.fill_profile_menu li {
    height: 1.5em;
}

ul.fill_profile_menu li .right {
    color: #93C18C;
}

#edit_form .block .elements input {
    width: 254px;
}
#edit_form .block .elements select {
    width: 266px;
}