.formatted blockquote {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F3F3F3;
    padding: 10px;
    margin: 14px 15px;
}

.formatted ul, .formatted ul {
    list-style: disc;
    padding: 5px 20px 20px 18px;
}

.formatted ol {
    list-style: decimal;
    padding: 5px 20px 20px 23px;
}

.formatted p {
    padding: 1px 0;
    word-wrap: break-word;
}

.formatted img {
    max-width: 660px;
}

.formatted blockquote > p {
    margin: 0;
}