
.post-form {
    padding: 40px 20px 40px 70px;
}

.post-form .post-form-item {
    border-left: 2px solid #efefef;
    margin-right: 20px;
    padding-bottom: 50px;
}

.post-form .post-form-item .post-form-selected-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-form .post-form-item .post-form-selected-list li {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #e9e9e9;
    font-size: 12px;
}

.post-form .post-form-item .post-form-selected-list li i {
    color: #aaa;
    margin-left: 10px;
}

.post-form .post-form-item-title {
    height: 60px;
    margin-left: -30px;
}

.post-form .post-form-item-status {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
}

.post-form .post-form-item-status.post-form-item-status-ok {
    background-color: #2f76dc;
    color: #ffffff;
    font-size: 25px;
    line-height: 63px;
}

.post-form .post-form-item-status.post-form-item-status-error {
    background-color: white;
    border: 2px solid #f86634;
    color: #f86634;
}

.post-form .post-form-item-status.post-form-item-status-empty {
    background-color: white;
    border: 2px solid #2f76dc;
    color: #2f76dc;
}

.post-form .post-form-item-status.post-form-item-status-finish {
    border: 2px solid #2f76dc;
    background: white url("./../ximg/icon-post-form-finish.svg") no-repeat center;
}

.post-form .post-form-item-status.post-form-item-status-finish + span {
    position: relative;
    bottom: 20px;
}

.post-form .post-form-item-title {
    font-size: 26px;
    font-weight: 700;
    color: #505050;
}

.post-form .post-form-item-title .post-form-item-hint {
    color: #7a7a7a;
    font-size: 13px;
    font-weight: 400;
    margin-left: 15px;
}

.post-form .post-form-item-title  .post-form-item-hint.post-form-item-error {
    color: #f46330;
}

.post-form .post-form-item-title button {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-weight: 700;
}

.post-form .post-form-item-title .post-form-preview {
    position: absolute;
    left: 50%;
    height: 55px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0;
    width: 300px;
    margin-left: -100px;
}

.post-form .post-form-item .post-form-item-body {
    padding: 20px 20px 20px 60px;

}

.post-form .post-form-item .post-form-item-body .left {
    padding: 0;
}

.post-form .post-form-item .post-form-item-body .right {
    padding: 0 20px 20px 60px;
}

.post-form .post-form-item .post-form-item-tag-list-title {
    color: #818181;
    font-size: 12px;
    font-weight: 700;
    height: 35px;
}

.post-form .post-form-item .post-form-item-tag-list {

}

.post-form .post-form-item .post-form-item-tag-item {
    height: 45px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 0 20px;
    line-height: 43px;
    margin-top: 10px;
    position: relative;
}

.post-form .post-form-item .post-form-item-tag-item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    display: block;
}

.post-form .post-form-item .post-form-item-tag-item .post-form-item-tag-delete {
    color: #e76738;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    margin-right: 15px;
    top: 0;
    right: 35px;
}

.post-form .post-form-item .post-form-item-tag-item .post-form-item-tag-move {
    color: #cfcfcf;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 20px;
}

.post-form .post-form-item .custom-form-item-selector {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
    position: relative;
}

.post-form .post-form-item .post-form-item-double .custom-form-item-selector {
  width: 49%;
    display: inline-block;
}

.post-form .post-form-item .post-form-item-double > .custom-form-item-selector.second {
    float: right;
}

.post-form .post-form-item .custom-form-item-selector .select-wrap {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 5px 9px 1px rgba(31, 31, 31, 0.08);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 100;
    border: 1px solid #E0E0E0;
}

.post-form .post-form-item .custom-form-item-selector .select-wrap .scroller {
    max-height: 200px;
    overflow: hidden;
}

.post-form .post-form-item .custom-form-item-selector .select-wrap .scroller:focus {
    outline: none;
}

.post-form .post-form-item .custom-form-item-selector .select-wrap .scroller ul {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.post-form .post-form-item .custom-form-item-selector .select-wrap .scroller ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

.post-form .post-form-item .custom-form-item-selector .select-search {
    height: 40px;
    background-color: #f8f8f8;
    padding: 5px 15px;
    line-height: 30px;
    border-bottom: 1px solid #E0E0E0;
}

.post-form .post-form-item .custom-form-item-selector .select-search span {
    color: #c6c6c6;
    font-size: 15px;
}

.post-form .post-form-item .custom-form-item-selector .select-search input {
    background: transparent;
    border: none;
    font-size: 13px;
    color: #bcbcbc;
    padding: 0 10px;
    font-style: italic;
    height: 30px;
    width: 96%;
}

.post-form .post-form-item .custom-form-item-selector .select-search input:focus {
    outline: none;
}

.post-form .post-form-item .custom-form-item-selector-small {
    width: 240px;
}

.post-form .post-form-item .custom-form-item-selector-small .select-search input {
    width: 90%;
}

.post-form .post-form-item .custom-form-item-selector .custom-form-item-selector-title {
    color: #ababab;
    font-size: 14px;
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
}

.post-form .post-form-item .custom-form-item-selector .custom-form-item-selector-title span {
    white-space: nowrap;
    overflow: hidden;
}

.post-form .post-form-item .custom-form-item-selector .custom-form-item-selector-arrow {
    color: #cbcbcb;
    font-size: 13px;
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: #ffffff;
    bottom: 11px;
    padding-right: 10px;
    border-radius: 5px;
}

.post-form .post-form-item .post-form-item-input {
    padding: 0 20px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;

    background-color: #ffffff;
}

.post-form .post-form-item .post-form-item-double > .post-form-item-input {
    width: 49%;
    display: inline-block;
    position: relative;
}

.post-form .post-form-item .post-form-item-double-right > .post-form-item-input {
    width: 39%;
    display: inline-block;
    position: relative;
}

.post-form .post-form-item .post-form-item-double > .post-form-item-input.second,
.post-form .post-form-item .post-form-item-double-right > .post-form-item-input.second {
    float: right;
}

.post-form .post-form-item .post-form-item-double-right > .post-form-item-input.second {
   width: 59%;
}

.post-form .post-form-item .post-form-item-input-middle {
    margin: 20px 0;
}

.post-form .post-form-item .post-form-item-input input {
    color: #4a4a4a;
    width: 92%;
    height: 45px;
    border: none;
}

.post-form .post-form-item .post-form-item-input input.post-form-item-input-big {
    font-size: 18px;
}

.post-form .post-form-item .post-form-item-input input:focus {
    outline: none;
}

.post-form .post-form-item .post-form-item-input textarea {
    color: #4a4a4a;
    width: 95%;
    height: 200px;
    border: none;
    padding: 15px 0;
    resize: none;
    font-size: 15px;
    margin-top: 5px;
}

.post-form .post-form-item .post-form-item-input textarea:focus {
    outline: none;
}

.post-form .post-form-item .post-form-item-input .post-form-item-input-icon {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.post-form .post-form-item .post-form-item-input .post-form-item-input-hint {
    float: right;
    color: #cbcbcb;
    margin-top: 13px;
}

.post-form .post-form-item .post-form-item-input.post-form-item-input-calendar input {
    width: 90%;
}

.post-form .post-form-item .post-form-item-input .post-form-item-input-calendar-icon {
    color: #cbcbcb;
    background: #ffffff url("./../ximg/icon-calendar.svg") no-repeat center;
    height: 20px;
    width: 25px;
    display: block;
    position: absolute;
    top: 7px;
    right: 10px
}

.post-form .post-form-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-form .post-form-item .post-form-item-content .post-form-item-categories-list li {
    display: inline-block;
}

.post-form .post-form-item ul.post-form-item-checkbox-list li {
    width: 32%;
    display: inline-block;
    float: left;
}

.post-form .post-form-item .post-form-item-content ul.post-form-item-categories-list li {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}

.post-form .post-form-item .post-form-item-content ul.post-form-item-categories-list li.selected,
.post-form .post-form-item .post-form-item-content ul.post-form-item-categories-list li:hover {
    background-color: #f5a623;
    border: 1px solid #f5a623;
    color: white;
}

.post-form .post-form-item .post-form-item-content .checkbox {
    margin-top: 0;
}

.post-form .post-form-item .post-form-item-content ul li .checkbox input:checked + label span {
    font-weight: 700;
}

.post-form .post-form-item .post-form-item-download-file {
    height: 185px;
    border: 2px dotted #cfcfcf;
    border-radius: 10px;
    display: table;
    width: 100%;
}

.post-form .post-form-item .post-form-item-download-file .post-form-item-download-file-inner {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.post-form .post-form-item .post-form-item-download-file button {
    width: 248px;
    height: 44px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
}

.post-form .post-form-item .post-form-item-download-file .post-form-item-download-file-hint {
    color: #a1a7b2;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.post-form .post-form-item .post-form-item-attachments {
    height: 170px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.post-form .post-form-item .post-form-item-attachments-item {
    height: 100%;
    display: table;
}

.post-form .post-form-item .post-form-item-attachments-item:last-child {
    border-left: 1px solid #cfcfcf;
}

.post-form .post-form-item .post-form-item-attachments-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.post-form .post-form-item .post-form-item-attachments-inner span {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.post-form .post-form-item .post-form-item-add-file {
    background: url("./../ximg/icon-post-form-download-file.svg") no-repeat;
    background-size: 100%;
}

.post-form .post-form-item .post-form-item-choose-file {
    background: url("./../ximg/icon-post-form-choose-file.svg") no-repeat;
    background-size: 100%;
}

.post-form .post-form-item .post-form-item-attachment-list {

}

.post-form .post-form-item .post-form-item-attachment-item {
    margin-top: 20px;
    position: relative;
}

.post-form .post-form-item .post-form-item-attachment-inner {
    background-color: #f1f1f1;
    border: 1px solid #d9d9d9;
    border-radius: 3px 3px;
    margin-right: 40px;
    padding: 15px;
}

.post-form .post-form-item .post-form-item-attachment-inner .post-form-item-attachment-file {
    color: #676767;
    font-size: 14px;
    margin-bottom: 15px;
}

.post-form .post-form-item .post-form-item-attachment-inner .icon-filetype-small {
    background-size: 100%;
    width: 21px;
    height: 21px;
    position: relative;
    top: 5px;
    margin-right: 10px;
}

.post-form .post-form-item .post-form-item-attachment-inner .post-form-item-attachment-file-size {
    float: right;
    color: #c0c0c0;
    font-size: 12px;
    margin-top: 5px;
}

.post-form .post-form-item .post-form-item-attachment-inner .post-form-item-input {
    padding: 0 10px;
}

.post-form .post-form-item .post-form-item-attachment-inner input {
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.post-form .post-form-item .post-form-item-attachment-inner textarea {
    height: 55px;
    font-size: 12px;
    padding: 5px 0;
    width: 100%;
}

.post-form .post-form-item .post-form-item-attachment-inner .checkbox {
    color: #909090;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 0;
}

.post-form .post-form-item .post-form-item-attachment-inner .custom-form-item-selector {
    width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.post-form .post-form-item .post-form-item-attachment-inner .custom-form-item-selector-title {
    height: 30px;
    line-height: 30px;
    color: #ababab;
    font-size: 12px;
    font-weight: 400;
}

.post-form .post-form-item .post-form-item-attachment-inner .custom-form-item-selector .select-wrap {
    top: 35px
}

.post-form .post-form-item .post-form-item-attachment-inner .custom-form-item-selector .select-search input {
    line-height: 30px;
    width: 86%;
}

.post-form .post-form-item .post-form-item-attachment-more {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.post-form .post-form-item .post-form-item-attachment-more span {
    display: inline-block;
    width: 23px;
    height: 23px;
    position: relative;
    top: 8px;
    margin-right: 5px;
}

.post-form .post-form-item .post-form-item-attachment-more a {
    color: #2f76dc;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-form .post-form-item .post-form-item-attachment-delete {
    color: #e76738;
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 67px;
}

.post-form .post-form-item .post-form-item-info {
    margin-top: 30px;
}

.post-form .post-form-item .post-form-item-info-title {
    text-transform: uppercase;
    color: #67bca0;
    font-size: 12px;
    font-weight: 700;
    min-height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}

.post-form .post-form-item .post-form-item-info-icon {
    background: url("./../ximg/icon-post-add-info.png") no-repeat;
    display: block;
    height: 22px;
    width: 22px;
    float: left;
    margin-right: 10px;
}

.post-form .post-form-item .post-form-item-info p {
    margin-left: 32px;
    color: #a1a7b2;
    font-size: 12px;
    line-height: 17px;
}

.post-form .post-form-buttons {
    text-align: center;
    margin-top: 50px;
}

.post-form .post-form-buttons button {
    width: 300px;
    height: 55px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    white-space: normal;
    line-height: 17px;
}

.post-form .post-form-buttons button.btn-primary {
    background-color: #2f76dc;
}