
.rightback {
	width: 100%;
	float:left;
	overflow:hidden;
	position:relative;
	border: 2px;
}
.contentback {
	float:left;
	width: 100%;
	position:relative;
	right: 15%;    
}
.leftback {
	width: 100%;
	position:relative;
	right: 40%; 
	float:left;
}

.container {
	width: 100%;
	margin-left: auto;
	margin-right:auto;
}

.leftsidebar {
	float:left;
	width: 45%;
	overflow:hidden;
	position:relative;
	left: 55%;
}

.content {
	float:left;
	width: 40%;
	overflow:hidden;
	position:relative;
	left: 55%;
}

.rightsidebar {
	float:left;
	overflow:hidden;
	width: 15%;
	position:relative;
	left: 55%;

	
}

.portalouterborder {
	height: 100%;
        min-width: 1000px;
}
.portalnotifyelement {
	height: 30px;
	overflow: hidden;
	border-spacing:0;
	border-bottom: 1px solid #D2D2DC;
	border-right: 1px solid #D2D2DC;
	padding: 5px;
	vertical-align:top;
	border-collapse: collapse;
	min-width: 200px;
}

.portalcommentlink {
    float: left;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.portalcommentimg {
    float: right;
    padding: 6px;
    width: 5%;
}
.portalcommentminitext {
    float: left;
    width: 80%;
}

.portalcommentlink,.portallinks a{
    color: #22229C;
    font-weight: bold;
    font-size: 9pt;
}
.portallinks {
	border-bottom: 1px solid #D2D2DC;
	height: 153px;
	white-space: nowrap;
        text-overflow: clip;
	padding: 5px;
	vertical-align:top;
}
.portalbottomlinks {
	height: 17px;
}
.portalcommentimg a img{ float: left; font-size: 11px; color: #666686; font-weight: bold; border:0;}
.portalcommentlink { float: left; width: 80%; }
.portalcommentminitext  { float: left; width: 80%;}
.portalcommentminitext a { color: #666686; }
.portalcommentimg { float: right; padding: 6px; width: 5%;} 


