/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /* margin-bottom: 323px; */
    background-color: #fff;
    font-family: Arial, Verdana, sans-serif;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

html, body {
    min-width: 585px;
}

.container {
    max-width: 1440px !important;
}

/* Bootstrap customized controls */
h1 {
    color: #676767;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
}

h2 {
    color: #505050;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}

h3 {
    color: #505050;
    font-size: 19px;
}

.badge {
    border-radius: 25px;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
}

.badge,
.btn-primary:hover .badge {
    background-color: #fc694a;
    color: #fff;
}

.tooltip {
    font-size: 10px !important;
}

.tooltip-inner {
    background-color: #344250;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #344250 !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #344250;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #344250;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #344250;
}

.label {
    border-radius: 3px;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
}

.label-warning {
    background-color: #f5a623;
}

.label-success {
    background-color: #3fd576;
}

.btn[type="button"] {
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 11px;
    font-weight: 400;
}

.btn-default {
    border: 1px solid #4a90e2;
    color: #4a90e2;
}

.btn-default:hover,
.btn-default.inverted {
    color: #fff;
    border: 1px solid #357ebd;
    background-color: #4a90e2 !important;
}

.btn-primary {
    background-color: #4a90e2;
}

.btn-primary:hover,
.btn-primary.inverted {
    border: 1px solid #4a90e2;
    color: #4a90e2;
}

.btn-success:hover,
.btn-success.inverted {
    border: 1px solid #47a447;
    color: #398439;
}

.btn-info:hover,
.btn-info.inverted {
    border: 1px solid #5bc0de;
    color: #46b8da;
}

.btn-warning:hover,
.btn-warning.inverted {
    border: 1px solid #eea236;
    color: #f0ad4e;
}

.btn-danger:hover,
.btn-danger.inverted {
    border: 1px solid #d43f3a;
    color: #d9534f;
}

.btn[type="button"].inverted,
.btn[type="button"]:hover {
    background-color: #fff;
}

.pagination {
    border-radius: 2px;
    margin: 30px 0;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    color: #428bca;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
}

/* Custom styles */
.container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 96px;
    width: 100% !important;
}

#side-menu {
    margin-left: -96px;
    position: fixed;
    height: 100%;
    z-index: 20;
}

#side-menu,
#side-menu > ul > li {
    width: 96px;
    background-color: #293540;
}

#side-menu ul {
    padding-left: 0;
    list-style: none;
}

#side-menu ul ul {
    background-color: #344250;
    margin-left: 96px;
    list-style: none;
    position: fixed;
    top: 0;
    width: 177px;
    height: 100%;
    display: none;
    text-align: left;
    padding: 15px 16px 15px 22px;
    border-right: 1px solid #555;
}

@media (min-width: 1280px) {
    .container:not(.no-slide) #side-menu ul li#ico-posts ul {
        display: block;
    }

    .container:not(.no-slide) #side-menu ul li.active ul {
        display: block !important;
    }

    .container:not(.no-slide) #layout-content,
    .container:not(.no-slide) #titlebar {
        padding-left: 177px;
    }

    .container:not(.no-slide) .footer-menu.row,
    .container:not(.no-slide) .copyright.row {
        padding-left: 207px !important;
    }
}

#side-menu > ul > li:hover ul {
    display: block;
}

#side-menu ul ul li {
    line-height: 11px;
    margin-bottom: 9px;
}

#side-menu ul ul li:after {
    content: attr(data-count);
    color: #697788;
    font-size: 8px;
    font-weight: 400;
    vertical-align: super;
    margin-left: 7px;
}

#side-menu ul ul li.active:after {
    color: #fff;
}

#side-menu > ul > li {
    text-align: center;
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    opacity: 1; /* 0.5 */
    background-image: url('/ximg/menu_icons.svg');
    background-repeat: no-repeat;
    padding-top: 48px;
}

#side-menu > ul > li.active {
    background-color: #344250;
}

#side-menu > ul > li,
#side-menu > ul > li a {
    font-size: 11px;
    color: #b5b5b5;
    text-decoration: none;
}

#side-menu > ul > li a {
    padding: 60px 10px 20px 10px;
}

#side-menu > ul > li:hover a {
    color: #fff;
}

#side-menu ul ul a {
    font-size: 11px;
    font-weight: 400;
    padding: 0; /* todo */
    text-align: left;
}

#side-menu ul ul a,
#side-menu ul li:hover ul a {
    color: #b8b8b8;
}

#side-menu ul li.active>a,
#side-menu ul ul li.active>a {
    color: #fff;
}

#side-menu ul ul .menu-header {
    color: #888888;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.79px;
    text-transform: uppercase;
    border-bottom: 1px solid #5a5a5a;
    padding-bottom: 6px;
    margin-bottom: 8px;
    margin-left: -3px;
}

#side-menu ul ul .menu-header:not(:first-child) {
    padding-top: 42px;
}

#side-menu ul ul a:hover {
    text-decoration: underline;
    color: #fff !important;
}

#side-menu > ul > li#ico-logo {
    height: 90px;
    background-color: #2f76dc;
    background-position: 30px 24px;
    opacity: 1;
}

#side-menu > ul > li#ico-search {
    background-position: 34px -68px;
}

#side-menu > ul > li#ico-posts {
    background-position: 34px -233px;
}

#side-menu > ul > li#ico-guide {
    background-position: 34px -149px;
}

#side-menu > ul > li#ico-tools {
    background-position: 34px -315px;
}

#side-menu > ul > li#ico-catalog {
    background-position: 34px -393px;
}

#side-menu > ul > li#ico-forum {
    background-position: 34px -475px;
}

#side-menu > ul > li#ico-faq {
    background-position: 34px -560px;
    border-bottom: none;
}

#side-menu > ul > li#ico-up {
    background-position: 34px -674px;
    border-bottom: none;
    position: absolute;
    bottom: 0;
}

@media (max-height: 767px) {
    #side-menu > ul > li#ico-up {
        display: none;
    }
}

#side-menu > ul > li#ico-logo:hover {
    background-color: #245eb0;
}

#side-menu > ul > li#ico-search.active {
    background-position: -63px -68px;
}

#side-menu > ul > li#ico-posts.active {
    background-position: -63px -233px;
}

#side-menu > ul > li#ico-guide.active {
    background-position: -63px -149px;
}

#side-menu > ul > li#ico-tools.active {
    background-position: -63px -315px;
}

#side-menu > ul > li#ico-catalog.active {
    background-position: -63px -393px;
}

#side-menu > ul > li#ico-catalog:hover div {
    height: 60px;
    margin-top: 0;
    border-right: 1px solid rgba(128, 128, 128, 0.38);
}

#side-menu > ul > li#ico-catalog:hover ul {
    position: relative;
    background-color: #293540;
    height: auto;
    margin-top: -58px;
    width: 206px;
    padding-top: 12px;
    padding-bottom: 5px;
    top: -10px;
}

#side-menu > ul > li#ico-catalog ul li {
    line-height: 9px;
}

#side-menu > ul > li#ico-forum.active {
    background-position: -63px -475px;
}

#side-menu > ul > li#ico-faq.active {
    background-position: -63px -560px;
}

#side-menu > ul > li#ico-up:hover {
    background-position: -63px -674px;
}

#side-menu > ul > li#ico-logo a,
#side-menu > ul > li#ico-up a {
    color: transparent;
}

#view-content {
    position: relative;
    width: 100%;
    margin-left: -245px;
}

#view-content .view-inner {
    margin-left: 0;
    padding: 22px 13px 22px 273px;
    background-color: #fff;
    width: 100%;
}

.inset-shadow {
    box-shadow: inset 6px 0 8px -6px rgba(8, 13, 18, 0.1), -1px 0 0 #e4e4e4;
}

.outset-shadow {
    box-shadow: inset 6px 0 8px -6px rgba(8, 13, 18, 0.1), 1px 0 0 #e4e4e4;
}

#sidebar {
    width: 245px;
}

#sidebar:after {
    content: '';
}

#titlebar {
    background-color: #dfedf9;
}

#titlebar > div {
    height: 34px;
}

.breadcrumbs {
    height: 100%;
    padding: 6px 0 0 10px;
}

.breadcrumbs a,
.breadcrumbs span {
    font-size: 10px;
    padding: 0 3px;
}

.breadcrumbs a {
    color: #4a90e2;
}

.breadcrumbs span {
    color: #acbcca;
}

.breadcrumbs a::after,
.breadcrumbs span::after {
    content: ' ';
    background: url('/ximg/breadcrumbs_delimiter.svg') no-repeat 50% 50%;
    height: 100%;
    width: 8px;
    padding: 10px 0 10px 13px;
    /* display: inline-block; */
}

.breadcrumbs a:hover {
    text-decoration: none;
    color: #3163bb;
}

.footer {
    /* Set the fixed height of the footer here */
    /*min-height: 323px;*/
    z-index: 10;
    padding-right: 0 !important;
    color: #848484;
}

.footer,
.footer-menu {
    background-color: #424242;
}

.footer .row {
    margin: 0 !important;
}

.footer .copyright {
    background: #282828 url('/ximg/footer_logo.svg') no-repeat 22px 23px;
    color: #959595;
    font-size: 11px;
    width: 100%;
    padding: 18px 28px 14px 78px;
}

.footer .copyright div {
    padding: 0 !important;
}

.footer .copyright p {
    padding-top: 3px;
}

.footer .copyright span {
    opacity: 0.16;
    color: #b8b8b8;
    font-size: 33px;
    font-weight: 700;
    line-height: 45px;
}

.footer .footer-menu {
    padding: 26px 30px;
}

.footer .footer-menu .menu-column {
    padding-left: 0 !important;
    padding-bottom: 30px;
}

.footer .footer-menu > div {
    padding-bottom: 30px;
}

.footer .footer-menu > div:last-child {
    padding-bottom: 0;
}

.footer .footer-menu .menu-column > div {
    color: #d8d8d8;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    padding: 0;
    margin-bottom: 22px;
}

.footer .footer-menu .menu-column .likes {
    float: right;
}

.footer .footer-menu .menu-column .likes li {
    color: #d1d1d1;
    font-size: 12px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 13px;
}

.footer .footer-menu .menu-column .likes li .btn {
    width: 111px;
    height: 32px;
    color: #b8b8b8;
    background-color: #545151;
    border-radius: 3.3px;
    border: none;
    font-size: 12px;
    text-align: left;
}

.footer .footer-menu .menu-column .likes li .btn:hover {
    color: #fff;
    background-color: #737070;
}

.footer .footer-menu .menu-column .likes li a.btn[href*="facebook.com"]:hover {
    background-color: #45619D !important;
}

.footer .footer-menu .menu-column .likes li a.btn[href*="vk.com"]:hover {
    background-color: #4D6F93 !important;
}

.footer .footer-menu li,
.footer .footer-menu li a {
    color: #848484;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.footer .footer-menu .social-label {
    color: #c8c8c8;
    font-weight: 700;
    margin-top: 20px;
}

.footer .footer-menu .social-network a {
    margin-right: 8px;
    color: transparent;
}

.footer .footer-menu .social-network a[href*="facebook.com"]:hover {
    color: #45619D;
}

.footer .footer-menu .social-network a[href*="vk.com"]:hover {
    color: #4D6F93;
}

.footer .footer-menu .social-network a[href*="twitter.com"]:hover {
    color: #50a5e6;
}

.footer .footer-menu .social-network .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: currentColor;

}

.footer .footer-menu .social-network .icon path {
    fill: currentColor;
    stroke: currentColor;
}

.view-outer > div {
    padding-right: 0;
}

.view-outer .content {
    background-color: #f6f6f6;
}

.view-outer .header {
    padding: 22px 28px 22px 43px;
    border-bottom: 1px solid #e4e4e4;
}

.user-icons {
    padding-top: 5px;
}

.user-icons span[id*="icon"] {
    background-image: url('/ximg/titlebar_icons.svg');
    background-repeat: no-repeat;
    background-size: 76px 20px;
    padding: 0 0 5px 25px;
    margin-right: 15px;
}

.user-icons span i {
    font-style: normal;
}

.user-icons #icon-messages {
    background-position: 0 0;
}

.user-icons #icon-notifications {
    background-position: -52px 0;
}

.user-icons #titlebar-user-avatar {
    position: relative;
    top: 15px;
}

.user-icons .img-circle {
    width: 50px;
    margin-top: -27px;
}

.box {
    padding: 23px 18px;
}

.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.box > .title {
    font-size: 16px;
    font-weight: bold;
    color: #9b9b9b;
    margin-bottom: 10px;
}

.box a {
    color: #428bca;
}

.text-hide {
    background: url(/ximg/hide_text.png) repeat-y;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 35px;
    height: 100%;
}

.text-hide.gray {
    background: url(/ximg/hide_text_gray.png) repeat-y;
}

.clearpager:before {
    content: '';
    clear: both;
    display: table;
}

/* Media queries */
/* min-width breakpoints: 480?, 768, 992, 1280 (1200?), 1366, 1440, 1680? */
@media (max-width: 719px) {
    #sidebar {
        display: none;
    }

    #view-content,
    #view-content .view-inner {
        margin-left: -1px;
    }

    #view-content .view-inner {
        padding-left: 15px;
    }

    #view-content .view-inner > .row {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .footer .footer-menu .menu-column .likes {
        float: left;
    }
}

@media (max-width: 1279px) {

}

@media (min-width: 1280px) {

}