#admin .list-view .items .view {
    box-sizing: content-box;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px 15px;
    margin-bottom: 7px;
}

#admin .draggable .items .view:hover  {
    background-color: #DFDDF9;
    cursor: move;
}

#admin .draggable .items .view.placeholder {
    border: 1px dashed #7a7dca;
}