div.content h1 {
    font-size: 25px;
    padding: 0;
}
div.content h2 {
    padding: 5px 0 10px 0;
    margin-bottom: 5px;
}
label {
    display: block;
}
.subject {
    min-width: 50px;
}
.kladr_search{
    min-width: 50px;
    display:none;
}
.region {
    min-width: 50px;
    display:none;
}

.city {
    min-width: 50px;
    display:none;
}

.location {
    min-width: 50px;
    display:none;
}

.street {
    min-width: 50px;
    display:none;
}
.home {
    min-width: 50px;
    display:none;
}
.home-selector {
    display: block;
    border: 1px #cccccc solid;
    border-radius: 2px;
    cursor: pointer;
    min-width: 20px;
    padding: 5px;
}
.allHomes {
     min-width: 50px;
     display:none;
 }
.showHomes {
    text-align: center;
    display: block;
}
.info {
    color: #ff0000;
    display:none;
}
div.kladrData {
    padding-top: 10px;
    min-width: 50px;
    display:none;
}
.ui-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.custom-combobox-input {
    width: 372px!important;
    min-height: 21px;
    padding: 1px!important;
    font-size: 1.1em!important;
}
.elements select {
    padding: 0px!important;
    min-width: 375px;
    min-height: 25px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 1em;
}
.ui-button {
    margin-left: -27px;
    height: 23px;
    width: 23px;
    margin-bottom: -7px;
}

.kladrData div:first-child {
    font-weight: bold;
}
.kladrData div{
    margin-bottom: 5px;
}
.kladrData .HOMES {
    display: none;
}
.kladrData span {
    display: inline-block;
    margin-top: 15px;
}
.kladrData span.IDX {
    cursor: pointer;
    border-bottom: 1px dotted;
    color: #4444ba;
}
.IDX, .GNINMB, .OCATD, .CODESPRO, .OCTMO {
    font-weight: bold;
}
.TAX_AUTHORITY, .NAIMK, .OCTMONAME {
    font-style: italic;
}
.ajaxLoader {
    background: url(/ximg/loader2.gif) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    display: none;
    margin-top: 9px;
    margin-left: 5px;
}
div.select_button span.ajaxLoader {
    margin-top: 4px;
    top: 6px;
    right: 7px;
}

.allHomes table, .post_address table {
    border-width: 1px;
    border-spacing: 0px;
    border-style: none;
    border-color: #d7d7d7;
    border-collapse: collapse;
}
.allHomes table th, .post_address table th {
    border-width: 1px;
    padding: 6px;
    border-color: #D7D7D7;
    background-color: #F8F8F8;
    border-style: inset;
}
.allHomes table td, .post_address table td {
    border-width: 1px;
    padding: 6px;
    border-color: #D7D7D7;
    border-style: inset;
}

.allHomes table tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}

.allHomes table tr:nth-of-type(even) {
    background-color: #DFDFDF;
}
.ui-button-icon-only {
    width: 1.1em!important;
    margin-left: -17px;
}
.ui-state-default, .ui-state-hover {
    border-color: #656565 !important;
}

.about {
    padding-top: 10px;
}


.kladr_tabs li {
    display: inline;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
    padding: 10px 25px;
    text-shadow: 0 1px #FFF;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px 1px 1px 0px white;
    box-shadow: 0px 1px 0px 0px #F0F1F5;
    border: 1px solid #DADBDF;
    border-bottom: 1px solid #DFDFDF;
    background-color: #E5E6EC;
    font-size: 1.2em;
    letter-spacing: -1px;
    color: #353744;
    background: -moz-linear-gradient(top, #F6F4F7 0%, #E5E6EC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F6F4F7), color-stop(100%,#E5E6EC));
    background: -webkit-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: -o-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: -ms-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: linear-gradient(to bottom, #F6F4F7 0%,#E5E6EC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4f7', endColorstr='#e5e6ec',GradientType=0 );
    -webkit-box-shadow: 0px 0px 4px 1px #E9E6E6;
    box-shadow: 0px 0px 4px 1px #E9E6E6;
}

ul.kladr_tabs li.current {
    border-bottom: 5px solid rgba(132, 153, 240, 0.78);
    padding-bottom: 7px;
    color: #4A42AA;
}

ul.kladr_tabs {
    padding-bottom: 9px;
    padding-top: 25px;
    margin-bottom: 0;
    border-bottom: 1px solid #F0F0F0;
    -webkit-box-shadow: 0 2px 0 0 #FAFAFA;
    box-shadow: 0 2px 0 0 #FAFAFA;
}

.foundedStreet ul {
      border: 1px solid #e8e8e8;
      cursor: pointer;
      padding: 5px;
  }
.foundedObject ul {
    border: 1px solid #e8e8e8;
    padding: 5px;
}
.foundedStreet ul:hover {
    background-color: #c9c9c9 !important;
}

.foundedStreet ul li, .foundedObject ul li {
    display: inline-block;
}
.foundedStreet ul li span {
    padding: 0 5px 0 5px;
}

.foundedStreet .selected {
    background-color: #DCDCDC;
}
.search {
    width: 278px;
}
.pagination a, .pagination span.current {
    margin: 0 2px 0 2px;
    font-size: 1em!important;
}
.pagination {
    margin: 5px 0 5px!important;
    display: block!important;
}
.abandoned {
    color: #d34c4c;
}
.infoForStreet {
    display: none;
}
.kladrStringField {
    display: none;
    padding-top: 5px;
}
.kladrStringField span:nth-of-type(1) {
    font-weight: bold;
}
.kladrData .post_address table {
    background: white;
    margin-top: 5px;
}
.bug_fix {
    height: 27px;
    margin-top: 0 !important;
}

.main_block {
    position: relative;
    display: inline-block;
    width: 664px;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.main_block.active .objects_list {
    position:inherit;
    display: block;
}
.main_block .objects_list {
    width: 100%;
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
.main_block .objects_list >ul {
    max-height: 200px;
    overflow-y: auto;
}
.main_block .objects_list li {
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    line-height: 15px;
}
.main_block .objects_list li:hover {
    background-color: #dddddd;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(50%, #CFCFCF), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #CFCFCF 50%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #CFCFCF 50%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #CFCFCF 50%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #CFCFCF 50%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #CFCFCF 50%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#CFCFCF', GradientType=0);/* IE6-9 */
}
.main_block .objects_list li.selected {
    background-color: #AAB8F1;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AAB8F1), color-stop(50%, #F0F0F0), to(#AAB8F1));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#AAB8F1, #F0F0F0 50%, #AAB8F1);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #AAB8F1, #F0F0F0 50%, #AAB8F1);/* FF3.6+ */
    background-image: -ms-linear-gradient(#AAB8F1, #F0F0F0 50%, #AAB8F1);/* IE10+ */
    background-image: -o-linear-gradient(#AAB8F1, #F0F0F0 50%, #AAB8F1);/* Opera 11.10+ */
    background-image: linear-gradient(#AAB8F1, #F0F0F0 50%, #AAB8F1);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AAB8F1', endColorstr='#F0F0F0', GradientType=0);/* IE6-9 */
}
.main_block .objects_list >div {
    padding: 0 5px 5px 5px;
}
.main_block .objects_list input {
    width: 100%;
    box-sizing: border-box;
    background: url('../ximg/icons/search_13x13.png') 98% no-repeat;
}
.main_block span.select, .main_block span.default {
    font-size: 1.2em;
}
.main_block span.select {
    display: none;
}

.main_block .select_button {
    cursor: pointer;
    display: block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}
.main_block .select_button.active {
    background-color: #ffffff;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(25%, #e6e6e6), to(#ffffff));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6 25%, #ffffff);/* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);/* IE6-9 */
    border: 1px solid #cccccc;
    border-bottom: 0;
    padding-bottom: 7px;
}
.main_block .arrow_down {
    height: 18px;
    width: 20px;
    background: url('../xlib/jquery/chosen/chosen-sprite.png') 6px 2px no-repeat;
    position: absolute;
    top: 6px;
    right: 14px;
}
.disabled {
    opacity: 0.5;
}
