.live_broadcast_list, .live_broadcast_sandbox {
    min-height: 200px;
}
.last_comments.live_broadcast_list {
    min-height: 0;
}

.live_broadcast_list > img,
.live_broadcast_sandbox > img
{
    margin: 60px auto;
    display: block;
}

.live_broadcast_list div,
.live_broadcast_sandbox div
{
    padding: 3px 0;
}

.live_broadcast .boxtitle {
    position: static;
}

.live_broadcast .boxtitle .reload {
    background: url(/ximg/icons/refresh_green.png) no-repeat;
    width: 24px;
    height: 24px;
    position: relative;
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
    *position: static; /* IE7 fix */
    *margin-top: -35px;
    *margin-right: 10px;
}

.live_broadcast .boxcnt {
    font-size: 0.85em;
}

.box.live_broadcast div.boxfooter a:hover {
    border-bottom-width: 1px;
}

div.live_broadcast div.boxfooter {
    margin-top: 10px;
}