section {
    clear:both;
}

#live section {
    min-height: 60px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
    position: relative;
}

div.comment_avatar_wrapper {
    border: 1px solid #ccc;
    padding: 1px;
    height: 40px;
    width: 40px;
    position: absolute;
}
.comment_avatar {
    display: block;
    border: 1px solid #FFFFFF;
    height: 38px;
    width: 38px;
    overflow: hidden;
}

.comment_content {
    background: #F2F2F8;
    border: 1px solid #D8DAE2;
    padding: 5px 10px 5px 7px;
    border-radius: 5px;
    position: relative;
    width: 593px;
    float: right;
    margin-bottom: 10px;
}

.info {
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 57px;
}

.header > div {
    display: inline;
}

.reply_username {
    background: url(/ximg/icons/arrow_reply.png) no-repeat;
    padding-left: 20px;
}

/*
.content >div:first-of-type {
    margin-top: -35px;
    margin-bottom: 35px;;
}*/
a.live_broadcast, a.all_comments {
    position: absolute;
    top: 46px;
    right: 10px;
}