h2 {
    text-transform: uppercase;
}

h2 > span {
    vertical-align: middle;
}

#posts-grid .regular-posts .ad,
#posts-grid .regular-posts .ad > * {
    padding: 0;
}

#posts-grid .regular-posts .ad > * {
    height: 8.5em;
    border: 5px solid white;
}

#posts-grid .paid-posts {
    padding-left: 5px;
}

#posts-grid .regular-posts > .row > a,
#posts-grid .paid-posts a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0;
    color: #ffffff;
    transition: background-color .25s ease-out;
}

#posts-grid .regular-posts > .row > a {
    overflow: hidden;
    border: 5px solid #ffffff;
}

#posts-grid .regular-posts > .row > a:hover,
#posts-grid .paid-posts a:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color .25s ease-out;
}

#posts-grid a > .background {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#posts-grid a .title,
#posts-grid a .topic-text {
    padding: 10px;
    display: block;
}

#posts-grid a.col-md-8 .title,
#posts-grid a.col-md-8 .topic-text {
    padding: 15px;
}

#posts-grid a.col-md-8 .title {
    font-size: 1.5em;
}

#posts-grid a.col-md-4 .title {
    font-size: 1.3em;
}

#posts-grid .paid-posts a .title {
    font-size: 1.2em;
}

#posts-grid a:hover .title,
#posts-grid a .topic-text,
#posts-grid a:hover .date,
#posts-grid a:hover .stat {
    display: none;
    transition: background-color .25s ease-out;
}

#posts-grid a:hover .topic-text {
    padding-top: 1em;
    display: block;
    transition: background-color .25s ease-out;
}

.regular-posts > .row > div div {
    /* refactor*/
    height: 50%;
}

.row div.col-md-4 .col-md-12 {
    /* refactor*/
    background-color: #2E7BFF;
}

#posts-grid .row > a:not(.col-md-12) {
    height: 17em;
}

#posts-grid a.col-md-12 {
    height: 7em;
}

#posts-grid a .date {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#posts-grid a .stat {
    position: absolute;
    bottom: 4px;
    right: 5px;
}

#posts-grid a .avatar,
#posts-grid a .topic-kind,
#posts-grid a .stat,
#posts-grid a .date {
    font-size: 11px;
}

#posts-grid a .stat .glyphicon {
    margin-left: 5px;
    padding-right: 3px;
}

#posts-grid a .topic-kind {
    padding: 5px;
    background-color: #8C8C8C;
}

#posts-grid a .avatar img {
    border-radius: 50%;
    height: 32px;
    padding: 5px;
}

#posts-grid a .avatar .user-name {
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
}

#posts-grid ul.rubricator {
    margin-left: -15px;
}

#posts-grid .rubricator li a {
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    padding: 5px;
    color: #3B3B3B;
}

#posts-grid .rubricator li a:hover {
    color: white;
}

#posts-grid .rubricator li a:hover {
    background-color: #3B3B3B;
}

#posts-grid .paid-posts .col-md-12 {
    height: 10.61em;
    border: 5px solid #BFC0C0;
    /*background-color: #696969;*/
    margin: 5px 0;
    overflow: hidden;
}

#posts-grid .regular-posts .row a.all-posts {
    height: inherit;
    text-decoration: none;
    vertical-align: middle;
    border: 5px solid #ffffff;
    text-align: center;
    color: #ffffff;
    background-color: #89D000;
    font-size: 2em;
    line-height: 2.4em;
}

#posts-grid .regular-posts a.all-posts:hover {
    background-color: #95dd00;
}

.best-posts {
    clear: both;
    overflow: hidden;
}

.best-posts .col-md-2 {
    float: none;
    color: #919191;
    font-weight: bold;
    vertical-align: top;
    padding-bottom: 10px;
}

.best-posts fieldset {
    margin-top: 2em;
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #E7E7E7;
}

.best-posts fieldset legend {
    border: 0;
    width: 12em;
    text-align: center;
    font-size: 2em;
}

.best-posts .author:before,
.forum .author:before {
    display: inline-block;
    content: '';
    background-color: #808080;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.best-posts .author,
.forum .author {
    text-transform: uppercase;
    color: #B1B1B1;
    padding-top: 5px;
    font-size: 0.8em;
}

.best-posts .author > *,
.forum .author > * {
    display: inline-block;
    vertical-align: middle;
}

.forum .author > .pull-right {
    margin-top: 0.2em;
}

.forum .author > .pull-right > .glyphicon {
    padding-right: 0.2em;
    margin-left: 0.3em;
}

.demand {
    padding-top: 4em;
}

.demand table tr td {
    width: 50%;
    vertical-align: top;
}

.demand table tr td:nth-child(2) {
    border-left: 1px solid #E9E9E9;
    padding-left: 25px;
}

.demand table tr td > a,
.demand ul li > a,
.forum ul li > a {
    color: inherit;
}

.demand ul li {
    padding: 8px;
}

.demand > div {
    border: 0.5em solid #ffffff;
    background-color: #F0F0F0;
}

.demand .col-md-4 {
    padding-bottom: 10px;
}

.demand h2 > small {
    font-size: 14px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.demand .controls > * {
    color: #B2B2B2;
    text-transform: uppercase;
}

.demand .controls > *:first-child {
    padding-right: 5px;
    border-right: 1px solid #B2B2B2;
}

.demand .controls > *:not(:first-child) {
    padding-left: 5px;
}

.forum > div {
    margin-top: 2em;
}

.forum ul li > small {
    display: block;
    color: #B1B1B1;
}

.forum .col-md-4 > * {
    display: block;
    margin: 0 auto;
}

.forum .col-md-4 .tabbable {
    margin-top: 2em;
}

.forum .col-md-8 {
    border: 8px solid #949494;
}

.forum h2,
.forum .col-md-8 h3,
.forum .col-md-8 ul > li {
    padding: 10px 5px;
}