.page-maintodo .block1 {
    height: 34px;
    background-color: #dfedf9;
    line-height: 34px;
    color: #71757c;
    font-size: 12px;
    padding: 0 15px 0 30px;
    white-space: nowrap;
}

.page-maintodo .block1 .btn-reg {
    display: inline-block;
    line-height: 22px;
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 6px;
    float: right;
}

.page-maintodo .block1 .btn-reg > span {
    padding: 5px 10px;
    border: 1px solid #7d91a3;
    border-radius: 2px;
    cursor: pointer;
}

.page-maintodo .block1 .btn-sign-in {
    background-color: transparent;
    color: #7d91a3;
}

.page-maintodo .block1 .btn-registry {
    color: #ffffff;
    background-color: #7d91a3;
    margin-right: 5px;
}

.page-maintodo .block2 {
    padding: 0 15px 0 30px;
    overflow: hidden;
}

.page-maintodo .block2 .top {
    padding: 20px 0;
}

.page-maintodo .block2 .top .wycd:before {
    border-style: solid;
    border-width: 0 12px 8px 0;
    border-color: transparent #ffeb87 transparent transparent;
    content: '';
    position: absolute;
    left: -12px;
    top: 10px
}

.page-maintodo .block2 .top .wycd {
    position: relative;
    width: 216px;
    height: 30px;
    line-height: 30px;
    background-color: #ffeb87;
    border-radius: 2px;
    padding: 0 10px;
    color: #8a7b5a;
    font-size: 11px;
    font-weight: 700;
}

.page-maintodo .block2 .option-list {
    margin-left: -10px;
}

.page-maintodo .block2 .option-item {
    margin-bottom: 20px;
}

.page-maintodo .block2 .option-head {

}

.page-maintodo .block2 .option-head {
    overflow: hidden;
}

.page-maintodo .block2 .option-icon {
    float: left;
    width: 42px;
    height: 42px;
    background: url("./../ximg/maintodo-icons.svg") no-repeat;
    margin-right: 15px;
}

.page-maintodo .block2 .option-icon.icon-search {
    background-position: 0 0;
}

.page-maintodo .block2 .option-icon.icon-experience {
    background-position: -43px;
}

.page-maintodo .block2 .option-icon.icon-contractor {
    background-position: -85px;
}

.page-maintodo .block2 .option-icon.icon-profit {
    background-position: -129px;
}

.page-maintodo .block2 .option-title {
    color: #656565;
    font-size: 18px;
}

.page-maintodo .block2 .option-body {
    color: #999;
    font-size: 12px;
    padding: 15px 0;
}

.page-maintodo .block2 .option-button {
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    color: #888;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
}

.page-maintodo .block3 {
    background-color: #ffe9c4;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 35px;
    font-size: 13px;
    position: relative;
}

.page-maintodo .block3 .post-icon {
    background: url("./../ximg/icon-book.svg") no-repeat;
    width: 23px;
    height: 20px;
    float: left;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
}

.page-maintodo .block3 .post {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    display: block;
}

.page-maintodo .block3 .post-next {
    color: #bfa881;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 20px;
    top: 5px
}

.page-maintodo .block4 {
    overflow: hidden;
}

.page-maintodo .block4 .categories {
    padding: 25px;
}

.page-maintodo .block4 .categories .categories-title {
    font-size: 22px;
    font-weight: 700;
}

.page-maintodo .block4 .categories .categories-list {
    margin: 20px 0;
}

.page-maintodo .block4 .categories .categories-item {
    margin-bottom: 10px;
    font-size: 13px;
}

.page-maintodo .block4 .categories .add-post {
    height: 30px;
    line-height: 15px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 2px;
}

.page-maintodo .block4 .categories .add-post i {
    margin-right: 5px;
}

.page-maintodo .block4 .categories .categories-item.active a{
    color: #717171;
    font-weight: 700;
}

.page-maintodo .block4 .news {
    padding-right: 0;
}

.page-maintodo .block4 .news-item {
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 15px;

    min-height: 230px;
}

.page-maintodo .block4 .news-item.news-item-adv {
    border: 3px solid #ececec;
    background: #fffbee url('./../ximg/icon-adv-big.svg') no-repeat 96% 87%;
}

.page-maintodo .block4 .news-item.news-item-main {
    padding: 0;
    overflow: hidden;
    color: #ffffff;
    border: none;
}

.page-maintodo .block4 .news-item.news-item-main .news-item-main-inner {
    height: 100%;
    width: 100%;
}

.page-maintodo .block4 .news-item.news-item-main:hover {
    overflow: visible;
    height: auto;
}

.page-maintodo .block4 .news-item.news-item-main .news-item-main-inner:hover {
    position: absolute;
    z-index: 100;
    box-shadow: 0 5px 9px 1px rgba(170, 170, 170, 0.5);
    height: 280px;
}


.page-maintodo .block4 .news-item.news-item-main .news-item-main-inner:hover .content .body p {
    display: block;
    height: auto;
    max-height: 120px;
}

.page-maintodo .block4 .news-item.news-item-main .news-item-main-inner > img {
    min-width: 100%;
    min-height: 100%;
}

.page-maintodo .block4 .news-item.news-item-main .content {
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
    background: transparent;
    padding: 15px;
    background: url("./../ximg/news-example.jpg") no-repeat;
    background-size: cover;
}

.page-maintodo .block4 .news-item.news-item-main .content .top {
    color: #ffffff;
}

.page-maintodo .block4 .news-item.news-item-main .content .top i {
    font-size: 17px;
    margin-right: 5px;
}

.page-maintodo .block4 .news-item.news-item-main .body .news-item-title {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 25px;
    display: inline-block;
}

.page-maintodo .block4 .news-item.news-item-main .content .body p {
    display: none;
}

.page-maintodo .block4 .news-item.news-item-main .post-info {
    color: #ffffff;
}

.page-maintodo .block4 .news-item .top {
    margin-bottom: 10px;
    color: #676767;
    font-size: 12px;
}

.page-maintodo .block4 .news-item .top img {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.page-maintodo .block4 .news-item .top .label {
    float: right;
    height: 20px;
    line-height: 17px;
}

.page-maintodo .block4 .news-item .body {
    margin-bottom: 20px;
}

.page-maintodo .block4 .news-item .body .news-item-title {
    font-size: 16px;
}

.page-maintodo .block4 .news-item .body .news-item-title-adv {
    font-size: 16px;
    color: #8a877b;
    font-weight: 700;
    margin-top: 25px;
    display: inline-block;
}

.page-maintodo .block4 .news-item .body .news-item-adv-company {

}

.page-maintodo .block4 .news-item .body .news-item-adv-company-icon {
    background: url("./../ximg/icon-company-small.svg") no-repeat center;
    height: 11px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.page-maintodo .block4 .news-item .body p {
    margin-top: 10px;
    font-size: 12px;
    height: 80px;
    overflow: hidden;
}

.page-maintodo .block4 .news-item .post-info {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
}

.page-maintodo .block4 .news-item .post-info .post-date{
    float: left;
}

.page-maintodo .block4 .news-item .post-info .post-activity{
    float: right;
}

.page-maintodo .block4 .bottom {
    border-top: 1px solid gainsboro;
    padding: 25px 25px 15px 25px;
    overflow: hidden;
    margin-top: -1px;
}

.page-maintodo .block4 .bottom .posts-action {
    color: #2f76dc;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
}

.page-maintodo .block4 .bottom .posts-action.best-posts {
    text-align: right;
}

.page-maintodo .block4 .bottom .posts-action .posts-action-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.page-maintodo .block4 .bottom .posts-action .posts-action-title {
    position: relative;
    bottom: 4px;
}

.page-maintodo .block4 .bottom .posts-action .posts-action-icon.posts-action-best {
    background: url("./../ximg/icon-best-posts.svg") no-repeat center;
}

.page-maintodo .block4 .bottom .posts-action .posts-action-icon.posts-action-show-all {
    background: url("./../ximg/icon-show-all-posts.svg") no-repeat center;
}

.page-maintodo .block5 {
    background-color: #30d58a;
    overflow: hidden;
}

.page-maintodo .block5 .left {
    padding: 30px 20px;
    border-right: 1px solid #29be7a;
}

.page-maintodo .block5 .events-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
}

.page-maintodo .block5 .events-title > span {
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.page-maintodo .block5 button {
    background-color: #ffffff;
    color: #0da670;
    border: 1px solid #ffffff;
    font-weight: 700;
}

.page-maintodo .block5 button:active:hover {
    color: #ffffff;
    background-color: #0da670;
}

.page-maintodo .block5 button:focus {
   outline: none;
}

.page-maintodo .block5 button:active:focus {
    color: #ffffff;
    background-color: #0da670;
    border: 1px solid #0da670;
}

.page-maintodo .block5 button span {
    font-size: 14px;
    margin-right: 3px;
}

.page-maintodo .block5 .events-near-left {
    width: 60px;
    float: left;
}

.page-maintodo .block5 .events-near-left .events-near-date {
    background: url("./../ximg/icon-calendar-big.svg") no-repeat;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 75px;
    color: #39807d;
    font-size: 26px;
    font-weight: 400;
}

.page-maintodo .block5 .events-near-left .events-near-month {
    font-size: 13px;
    text-align: center;
}

.page-maintodo .block5 .events-near-right {
    margin-left: 90px;
}

.page-maintodo .block5 .events-near-type {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-maintodo .block5 .events-item-title {
    color: white;
    font-size: 17px;
    font-weight: 700;
    margin: 10px 0;
}

.page-maintodo .block5 .events-description {
    font-size: 12px;
}

.page-maintodo .block5 .events-location {
    margin-top: 10px;

}

.page-maintodo .block5 .events-location span {
    font-size: 12px;
    margin-left: 5px;
}

.page-maintodo .block5 .right {
    padding: 40px 20px;
}

.page-maintodo .block5 .events-item {
    margin-bottom: 10px;
}

.page-maintodo .block5 .events-item-top {
    margin-bottom: 20px;
}

.page-maintodo .block5 .events-item-date {
    background: url("./../ximg/icon-calendar-small.svg") no-repeat;
    width: 32px;
    height: 33px;
    display: block;
    color: #298985;
    font-size: 16px;
    float: left;
    line-height: 45px;
    text-align: center;
}

.page-maintodo .block5 .events-item-month {
    color: #1c5336;
    font-size: 13px;
    height: 33px;
    display: inline-block;
    line-height: 35px;
    margin-left: 10px;
}

.page-maintodo .block5 .events-item-type {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-maintodo .block5 .events-show-all {
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
}

.page-maintodo .block5 .events-show-all span {
    font-size: 12px;
    margin-left: 5px;
}

.page-maintodo .block6 {
    border-bottom: 4px solid #979797;
    overflow: hidden;
}

.page-maintodo .block6 .left {
    border-right: 1px solid #ededed;
    padding: 25px 35px 0 25px;
}

.page-maintodo .block6 .right {
    padding: 25px 35px 0 25px;
    border-left: 1px solid #ededed;
    margin-left: -1px;
}

.page-maintodo .block6 .adv-list {
    margin-top: 50px;
    overflow: hidden;
}

.page-maintodo .block6 .adv-item {
    margin-bottom: 30px;
    padding: 0;
}

.page-maintodo .block6 .adv-item .adv-title {
    font-size: 16px;
}

.page-maintodo .block6 .adv-item .adv-info {
    color: #b3b3b3;
    font-size: 11px;
    margin-top: 5px;
}

.page-maintodo .block6 .adv-item .adv-info span {
    margin-right: 5px;
}

.page-maintodo .block6 .adv-show-all {
    color: #2f76dc;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
}

.page-maintodo .block6 .adv-show-all span {
    font-size: 12px;
    margin-left: 5px;
}

.page-maintodo .block6 .right .top {
    background: url("./../ximg/icon-company-big.svg") no-repeat left;
    padding-left: 60px;
    padding-top: 3px;
    margin-bottom: 40px;
}

.page-maintodo .block6 .right .top .title {
    color: #474747;
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0;
}

.page-maintodo .block6 .right .top .title2 {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 700;
}

.page-maintodo .block7 {
    padding: 35px 25px 0 25px;
}

.page-maintodo .block7 .block-title {
    padding-left: 20px;
}

.page-maintodo .block7 .left {
    padding: 0;
}

.page-maintodo .block7 .bottom {
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
}

.page-maintodo .block7 .bottom .posts {
    padding: 0;
}

.page-maintodo .block7 .bottom .posts-top {
    padding: 0 20px;
}

.page-maintodo .block7 .bottom .posts-popular {
    border-left: 1px solid #ededed;
    margin-left: -1px;
    padding-left: 20px;
}

.page-maintodo .block7 .posts-title {
    color: #6b6b6b;
    font-size: 17px;
    overflow: hidden;
    line-height: 32px;
    padding: 0;
    margin-bottom: 20px;
}

.page-maintodo .block7 .posts-title-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    float: left;
    margin-right: 10px;
}

.page-maintodo .block7 .posts-title-icon.icon-posts-top {
    background-image: url("./../ximg/icon-posts-top.svg");
}

.page-maintodo .block7 .posts-title-icon.icon-posts-popular {
    background-image: url("./../ximg/icon-posts-popular.svg");
}

.page-maintodo .block7 .post-item {
    margin-bottom: 20px;
    padding: 0;
}

.page-maintodo .post-info {
    color: #b3b3b3;
    font-size: 11px;
    margin-top: 5px;
    cursor: pointer;
}

.page-maintodo .block7 .post-item .post-info span {
    margin-right: 5px;
}

.page-maintodo .block7 .social {
    margin-bottom: 20px;
}

.page-maintodo .post-info {
    color: #b3b3b3;
    font-size: 11px;
    margin-top: 5px;
    overflow: hidden;
}

.page-maintodo .post-info span {
    margin-right: 5px;
}

.page-maintodo .post-activity > div {
    display: inline-block;
}

.page-maintodo .post-info i {
    margin-right: 3px;
}

.page-maintodo .post-comment, .page-maintodo .post-clock  {
    font-size: 12px;
}

.page-maintodo .post-leaf .glyphicon-leaf {
    color: #7ed321;
    font-size: 14px;
}