.company_balloon h3 {

}

.map {
    width: 960px;
    height: 680px;
    border: 1px solid #888;
}

.company_balloon {
    width: 270px;
    font-family: Tahoma;
    font-size: 12px;
}

.company_balloon .title {
    background-color: #eee;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.add-button {
    margin-top: -60px;
    padding-bottom: 50px;
    margin-right: 12px;
}

.r-menu {
    margin: 10px 0;
}

.r-menu li {
    margin-right: 10px;
    display: inline;
}