.content {
    padding-top: 13px!important;
}
div.categories {
    background-color: #ffffff;
}
div.category {
    margin: 10px 0 0 5px;
}
div.category div.parent_cat {
    font-size: 14px;
}
div.category div.parent_cat a {
    font-weight: bold;
    padding-bottom: 5px;
}
div.category div.parent_cat span {
    padding-left: 5px;
    color: #808080;
}
.service_comments .boxfooter a {
    height: 25px;
}
.service_comment {
    padding-bottom: 10px;
}
.service_comment .time, .service_comment .username {
    font-size: 0.85em;
}
.service_comment .company a {
    font-weight: bold;
    color: #cd5c5c!important;
}
.service_comment .message {
    font-style: italic;
    font-size: 0.9em;
}
.service_comment .stars span {
    display: inline-block;
    height: 20px;
    width: 21px;
    background: url(/ximg/comments_stars.png) 0 0 no-repeat;
}
.service_comment .stars span.active {
    background: url(/ximg/comments_stars.png) 0 -40px no-repeat;
}
.service_comment .stars span.half {
    background: url(/ximg/comments_stars.png) 0 -60px no-repeat;
}

div.services-list .categories-list {
    padding: 0 !important;
}

div.services-list .categories-list li:before {
    content: "\203A ";
}

div.services-list .categories-list li a {
    margin-left: 5px;
}

div.services-list div.box .dropdown_list {
    width: 95%;
    padding: 0;
    margin: 8px;
}

#services_grid tbody tr:hover {
    background: rgb(240, 244, 255);
}

#services_grid table {
    width: 678px;
    margin-left: -22px;
}

#services_grid a.company-name,
#services_grid .company-name,
.company-name > a {
    color: #cc3333;
}

#services_grid td {
    font-size: 13px;
}

#services_grid td .category-name {
    color: #727272;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
}

.response-inline {
    display: inline !important;
    width: auto;
}

#services_grid .response div,
#services_grid .replies,
.service .replies,
.service .response,
.response-inline {
    padding: 0 0 1px 20px;
    font-size: 12px;
}

.service .response_count,
.response-inline,
.service .response {
    color: #727272;
}

#services_grid .replies,
.service .replies {
    color: #727272;
    background: url('../ximg/icons/comments.png') 0px 0 no-repeat;
}
#services_grid .replies .date {

}

#services_grid .response div,
.service .response,
.response-inline {
    background: url('../ximg/icons/good.png') 0px 0 no-repeat;
}

#services_grid th,
#services_grid td {
    padding: 10px 0;
}

#services_grid td {
    border-top: 1px solid #eaeaea;
}

#services_grid td.service-name {
    padding-left: 7px;
}

#services_grid td.service-name {
    border-left: 5px solid transparent;
}

#services_grid td.service-status {
    width: 25%;
    text-align: right;
    padding-right: 15px!important;
    padding-left: 5px;
}

#services_grid td.service-status span a {
    color: #fff !important;
}

#services_grid td.service-name span {
    font-size: 11px;
    padding-bottom: 4px;
}

#services_grid td.service-status span.sign_ruby {
    margin-bottom: 5px;
}

#services_grid td.service-status .note {
    font-size: 10px;
    color: #777;
    text-align: left;
}

#services_grid .fixed td.service-name {
    border-left: 5px solid #d99797;
    font-weight: bold;
}

#services_grid td.service-name > span,
.right_side .service div > span,
.services .service span {
    border-right: 1px #ddd;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

#services_grid td.service-name span:last-child,
.right_side .service div > span:last-child,
.services .service span:last-child {
    border: 0;
}

#services_grid td.service-visible,
#services_grid td.service-edit {
    width: 5%;
}

#services_grid td.service-visible i,
#services_grid td.service-edit i {
    width: 16px;
    height: 16px;
    float: right;
    display: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#services_grid td.service-edit i {
    background-image: url('../ximg/icons/edit_16x16.png');
}

#services_grid td.service-visible i {
    background-image: url('../ximg/icons/eye-16.png');
    cursor: pointer;
}

#services_grid td.service-visible i.closed {
    background-image: url('../ximg/icons/eye-closed-16.png');
    display: block;
}

#services_grid tr:hover td.service-visible i,
#services_grid tr:hover td.service-edit i {
    display: block;
}

#services_grid #sg_price,
#services_grid td.price {
    text-align: right;
    padding-right: 20px;
}

#services_grid th {
    font-weight: normal;
    font-size: 13px;
    text-align: left;
}

#services_grid th a {
    text-decoration: none;
}

#services_grid .sort-link span {
    border-bottom: 1px dotted #4444ba;
}

#services_grid .sort-link.asc:after,
#services_grid .sort-link.desc:after {
    font-size: 13px;
    width: 16px;
    height: 10px;
    display: inline-block;
    content: '';
}

#services_grid .sort-link.asc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") -14px -3px no-repeat;
}

#services_grid .sort-link.desc:after {
    background: url("/xlib/jquery/chosen/chosen-sprite.png") 3px -3px no-repeat;
}

#services_grid #sg_name {
    padding-left: 14px;
    width: 15%;
}

#services_grid #sg_comments_count {
    width: 55%;
}

#services_grid #sg_responses_count {
    width: 15%;
    padding-left: 20px;
}

#services_grid #sg_price {
    width: 15%;
    /* padding-right: 30px; */
}

#services_grid .grid-view {
    padding-top: 0;
}

#services_grid .grid-view table {
    margin-top: 0 !important;
}

#services_grid .yiiPager {
    margin-left: -15px;
}

.service-search label {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

#services_grid .empty {
    padding: 10px;
}

.content .clear_button {
    width: 16px;
    height: 16px;
    background: url('../ximg/icons/remove_gray.png') no-repeat;
    float: left;
    cursor: pointer;
    margin:  26px 8px 8px 8px;
}
.content .filter-list select {
    margin: 0 3% 0 0;
    width: 45%;
}

.content .filter-list select.last {
    margin-right: 8px;
    float: right;
}

.service-search input {
    -webkit-box-shadow:inset 0 0 7px 1px #dfdfdf !important;
    box-shadow:inset 0 0 7px 1px #dfdfdf !important;
    width: 30%;
}

.service-search input:focus {
    width: 50%;
    border: 1px solid #727272;
}

.service-search .loader {
    background: url('../ximg/loader2.gif') 50% 50% no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    top: 3px;
    left: -20px;
    visibility: hidden;
}

.service-search .remove-query {
    color: #4444ba;
    border-bottom: 1px dotted #4444ba;
    cursor: pointer;
    display: none;
}

.references_list {
    padding: 10px 10px 0 0 !important;
}

.references_list.empty {
    padding: 10px 10px 35px 0 !important;
}

.references_list.no-controls {
    padding-bottom: 0 !important;
}

.references_list .response .response_content {
    width: 500px;
}

.box-top,
.box-bottom {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 16px;
    width: 100%;
}

.full_size {
    background: #ffffff;
    margin-left: 8px;
    padding: 0!important;
    clear: both;
    width: 964px!important;
}
.full_size .title {
    font-size: 14px;
    padding: 10px;
}
.full_size table.services td {
    padding: 5px;
    vertical-align: top;
    width: 33%;
}
.full_size table.services tr td:not(:first-child) {
    border-left: 1px solid #ccc;
}

.full_size table.services td .cost {
    font-size: 14px;
    font-weight: bold;
}
.delimiter_dotted {
    clear: both;
    padding: 0!important;
    margin-right: 10px;
    border-bottom: 1px dotted #cccccc;
    margin-left: -5px;
}
div.box div.service_description {
    padding-left: 0;
}

div.box div.service_description div.service-regions {
    font-weight: bold;
}

div.box div.service_description div.service-regions ul {
    font-weight: normal;
    list-style: disc inside;
}

.service_footer .right {
    padding: 0 5px 10px;
}
.service_footer .right a, .service_footer .right span.delimiter_vertical {
    padding-right: 10px;
}
.service_footer .right span.delimiter_vertical {
    border-left: 1px solid #CCCCCC;
}

.rating_label {
    -khtml-border-radius: 3px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 3px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    font-size: 15px;
    line-height: 1;
    margin-top: 0;
    padding: 5px 7px 5px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    text-shadow: 0 1px #FFF;
}
.rating_label .left_arrow {
    background: url(/ximg/gray_arrow.png) no-repeat;
    height: 13px;
    margin-top: -6px;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 9px;
}
div.box div.service_name,
div.box .service_parameters {
    padding-left: 0;
    /*padding: 20px 20px 20px 0px!important;*/
}
.service_name .name {
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -1px;
    display: inline;
}
.service_name .rating_label {
    float: right;
}

.service_name .add_favorite,
.service_name .remove_favorite {
    display: inline-block;
    float: right;
    margin: 5px 0 0 8px;
}

.service_parameters .cost {
    margin: -1px 20px;
    float: left;
    color: #4444ba;
    font-size: 24px;
}
.service_parameters .button {
    float: left;
}

table.service_parameters tr:nth-child(odd) {
    background: #EEEEEE;
}

.service_footer span.complaint {
    color: #5555e6;
    cursor: pointer;
}
.service_footer span.complaint.success {
    color: #0f0f0f;
    cursor: default;
}

.status-menu {
    list-style-type: none;
    font-size: 12px;
}

.status-menu li {
    float: left;
    padding-left: 11px;
    line-height: 180%;
}

.status-menu li a {
    text-decoration: none;
    border-bottom: 1px dotted #4444ba;
}

.status-menu li a:hover {
    text-decoration: none;
    border-bottom: none;
}

.status-menu span.active {
    padding: 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #4D5DCF;
    background-color: rgba(45, 68, 238, 0.1);
    border: 1px solid #C1C3EE;
}

.status-menu li a,
.status-menu span.active {
    font-size: 11px;
}

#status-selector {
    clear: both;
    overflow: hidden;
}

#status-selector .sign {
    margin: 23px 10px 0 0;
}

#status-selector .sign.gray {
    background-color: #cccccc;
    color: #fff;
}

.group_ctrl.attract {
    background-color: #e5e3ff;
}

.selector-wrapper .market_categories {
    width: 280px !important;
}

.box.latest-services .company-name {
    color: #cd5c5c!important;
    font-size: 12px;
}

.box.latest-services .smaller {
    font-size: 11px;
}

.box.latest-services div.boxcnt > div {
    border-bottom: 1px solid #cccccc;
}
.box.latest-services div.boxcnt > div:nth-last-child(1) {
    border: 0;
    padding-bottom: 0;
}
table.market_search tr td {
    text-align: center;
    padding: 10px;
    width: 50%;
}
table.market_search tr td .dropdown_list {
    width: 310px;
}
table.market_search tr td .dropdown_list .objects_list {
    text-align: left;
}
/*table.market_search tr td .dropdown_list .objects_list > ul {
    list-style-type: circle;
    list-style-position: inside;
}*/
/*table.market_search tr td .dropdown_list .objects_list > ul li > ul li {
    list-style-type: disc;
    margin-left: 17px;
    padding: 5px 0 5px 0;
}*/
.content.responses h1 {
    margin-bottom: 2px;
}

.block-title .top {
    float: left;
    color: #676767;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
}

.block-title .btn {
    margin: 5px 15px 0 15px;
    height: 25px;
    font-size: 10px;
    line-height: 3px;
}

/* main page */

.page-main .header {
    overflow: hidden;
}

.page-main button.btn.btn-primary {
    background-color: #2f76dc;
}

.page-main button.btn.btn-primary:hover {
    background-color: #ffffff;
}

.page-main button.btn-default:hover {
    background-color: #2f76dc !important;
}

.main-performers {
    width: 207px;
    height: 20px;
    color: #858585;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 18.75px;
    background: url(../ximg/star.svg), url(../ximg/star.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    text-align: center;
    padding-left: 20px;
    margin: 20px auto 22px auto;
}

.main-performers-count {
    background: url("../ximg/performers-30000.svg");
    width: 278px;
    height: 61px;
    margin: auto;
}

.main-performers-bottom {
    width: 351px;
    height: 40px;
    color: #797979;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    padding-left: 20px;
    margin: 0 auto 22px auto;
    letter-spacing: 2px;
    margin-top: 22px;
}

.main-head p {
    color: #ababab;
    margin-top: 23px;
}

.main-head button.btn {
    height: 39px;
    font-size: 11px;
    font-weight: 400;
    margin-top: 10px;
}

.main-head button.btn span {
    font-size: 14px;
    margin-right: 5px;
}

.main-block1 {
    margin-bottom: 15px;
}

.main-block1 h1{
    text-align: center;
    font-weight: normal;
    margin: 40px 0 60px 0;
}

.main-catalog-uslug {
    text-align: center;
    margin-bottom: 40px;
}

.main-catalog-uslug.border-right {
    border-right: 1px solid #e4e4e4;
}

.main-catalog-uslug-icon {
    width: 140px;
    height: 140px;
    margin: auto;
}

.main-block1 .main-catalog-uslug-icon {
    margin-top: -20px;
}

.main-catalog-uslug-icon.catalog-uslug {
    background: url("../ximg/catalog-uslug.svg");
}

.main-catalog-uslug-icon.catalog-address {
    background: url("../ximg/catalog-address.svg");
}


.main-catalog-uslug h3 {
    color: #7e7e7e;
}

.main-catalog-uslug p {
    width: 234px;
    color: #ababab;
    margin: 0 auto 15px auto;
}

.main-catalog-uslug button {
    height: 29px;
}

.main-block2 {
    background: url("../ximg/main-block2.jpg") no-repeat center;
    width: 100%;
    height: 416px;
    background-size: cover;
    text-align: center;
}

.main-block2 p {
    height: 15px;
    color: rgba(255, 255, 255, 0.82);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin: 0 auto 40px auto;
}

.main-block2 button.btn {
    width: 210px;
    height: 45px;
    background-color: #2f76dc;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
    border-radius: 2px;
    box-shadow: 0 0 12px rgba(202, 238, 255, 0.36), 0 5px 8px 1px rgba(27, 48, 83, 0.63), 0 2px 2px rgba(55, 83, 117, 0.3), inset 0 1px 1px rgba(250, 248, 248, 0.31);
    font-size: 11px;
    font-weight: 700;
    border: 0;
}

.main-block2 button.btn span {
    font-size: 14px;
    margin-right: 5px;
}

.main-add {
    background: url("../ximg/main-add.svg");
    width: 92px;
    height: 92px;
    margin: 45px auto;
    cursor: pointer;
}

.main-announcing {
    width: 550px;
    height: 74px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
    margin: 0 auto 20px auto;
}

.main-block3 {
    padding: 30px;
}

.main-block3-top {
    overflow: hidden;
    margin-bottom: 20px;
}

.main-block3-title {
    color: #494949;
    font-size: 26px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-block3-bar ul.nav-pills {
    float: right;
}

.main-block3-bar ul.nav-pills li {
    margin-left: 20px;
}


.main-block3-bar ul.nav-pills li.active a {
    color: white;
    background-color: #2f76dc;
}

.main-block3-bar ul.nav-pills li a {
    color: #505050;
    font-weight: 700;
    border-radius: 24px;
}

.page-main .post {
    height: 75px;
    padding-top: 15px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

.page-main .post:hover {
    background-color: #f6fafd;
}

.main-block3-date {
    color: #b3b3b3;
    font-size: 11px;
}

.page-main .post .message{
    color: #5480cc;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.page-main .post img {
    float: left;
    margin-right: 10px;
}

.page-main .post .user-nickname {
    color: #9e9e9e;
    font-size: 11px;
}

.main-block3-bottom {
    text-align: center;
    padding-top: 50px;
}

.main-block3-bottom button.btn {
    height: 44px;
    font-size: 12px;
    font-weight: 700;
}

.main-block3-bottom button.btn span {
    font-size: 14px;
    margin-right: 5px;
}

.bank-partners {
    margin-top: 20px;
    overflow: hidden;
    float: left;
    width: 100%;
}

.bank-partners ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    width: 800px;
}

.bank-partners ul li {
    float: left;
    margin-right: 50px;
    height: 35px;
}

.bank-partners-next {
    color: #c3c3c3;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 20px;
    top: 55px;
}

.order-item-top {
    color: #ffffff;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: #2f76dc;
}

.order-item-bottom-order .checkbox {
    margin-top: 20px;
}

.order-item-top-info {
    float: left;
    padding: 30px 10px 20px 25px;
    width: 35%;
    background: url("../ximg/order-address-bg.svg") right no-repeat;
    background-position-y: 30px;
}

.order-item-top-icon {
    font-size: 65px;
}

.order-item-top-title {
    font-size: 25px;
    width: 50px;
    line-height: 25px;
    margin: 10px 0;
}

.order-item-top-description {
    opacity: 0.51;
    font-size: 12px;
    line-height: 16px;
}

.order-item-top-form {
    width: 65%;
    float: right;
    padding: 20px 30px 0 50px;
}

.order-item-top-lease {

}

.order-item-top-lease label {
    width: 145px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    margin-top: 3px;
}

.order-item-top-lease .btn-group {
    width: 170px;
}

.order-item-top-lease .btn-group .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #395d9c;
}

.order-item-top-lease .btn-group .btn.active {
    background-color: #2258a4;
}

.order-item-top-lease .btn-group .btn.notActive {
    background-color: #2f76dc;
}

.order-item-top-lease .btn-group .btn.notActive:hover {
    background-color: #ffffff;
}

.order-item-top-lease .btn-group .btn.notActive:active {
    background-color: #2258a4;
}

.order-item-top-lines > div {
    position: relative;
}

.order-item-top-lines input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #395d9c;
    height: 35px;
    margin-top: 5px;
}

.order-item-top-lines input::-webkit-input-placeholder {color:#ffffff; opacity: 0.3; font-size: 12px;}
.order-item-top-lines input::-moz-placeholder          {color:#ffffff; opacity: 0.3; font-size: 12px;}/* Firefox 19+ */
.order-item-top-lines input:-moz-placeholder           {color:#ffffff; opacity: 0.3; font-size: 12px;}/* Firefox 18- */
.order-item-top-lines input:-ms-input-placeholder      {color:#ffffff; opacity: 0.3; font-size: 12px;}

.order-item-top-lines input:focus {
    outline: none;
}

.order-item-top-checkbox {
    margin-top: 15px;
    overflow: hidden;
}

.order-item-top-checkbox label {
    padding-left: 10px;
}

.order-item-top-checkbox label::after  {
    color: #ffffff;
    text-align: center;
    font-size: 13px;
}

.order-item-top-checkbox label::before {
    background-color: #2f76dc;
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

.order-item-bottom {
    background-color: #e7eefc;
    padding: 20px;
    position: relative;
}

.order-item-bottom .order-item-bottom-corner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #e7eefc transparent;
    position: absolute;
    top: -8px;
    left: 50%;
}

.order-item-bottom:after {
    background: linear-gradient(-45deg, #ffffff 8px, transparent 0), linear-gradient(45deg, #ffffff 8px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 16px 16px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 13px
}

.order-item-bottom .order-item-bottom-lines > div {

}

.order-item-bottom .order-item-bottom-lines input{
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(42, 68, 113, 0.18);
    height: 35px;
    margin-top: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
}

.order-item-bottom .order-item-bottom-lines input::-webkit-input-placeholder {color: #939aa9; font-size: 12px;}
.order-item-bottom .order-item-bottom-lines input::-moz-placeholder          {color: #939aa9; font-size: 12px;}/* Firefox 19+ */
.order-item-bottom .order-item-bottom-lines input:-moz-placeholder           {color: #939aa9; font-size: 12px;}/* Firefox 18- */
.order-item-bottom .order-item-bottom-lines input:-ms-input-placeholder      {color: #939aa9; font-size: 12px;}

.order-item-bottom .order-item-bottom-title {
    color: #7a7a7a;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 20px;
}

.custom-selector-tool {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.custom-selector-tool .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 33.3%;
    height: 43px;
    background-color: white;
    border: 1px solid #d9d9d9;
    color: #676767;
    white-space: normal;
    overflow: hidden;
    padding: 5px 20px;
    display: table;
}

.custom-selector-tool.custom-selector-tool-2 .btn {
    width: 50%;
}

.custom-selector-tool .btn span {
    vertical-align: middle;
    display: table-cell;
    line-height: 16px;
}

.custom-selector-tool .btn.active {
    background-color: #768a9e;
    color: white;
}

.custom-selector-tool  .btn:not(.active):hover {
    background-color: #768a9e;
    color: white;
}

.checkbox label {
    padding-left: 10px;
}

.checkbox label::after  {
    color: #5480cc;
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    margin-left: -21px;
}

.checkbox label::before {
    top: 2px;
}

.order-item-bottom-form-description {
    color: #8d8d8d;
    font-size: 11px;
    max-width: 400px;
    text-align: center;
    margin: 10px auto;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: -30px;
    background-color: #e8effa;
}

.order-item-bottom-form {
    border: 1px solid #b3b4b6;
    border-radius: 4px;
    margin: 30px 6px 30px 2px;
    position: relative;
    padding: 30px 20px;
}

.order-item-bottom-order {
    overflow: hidden;
    text-align: center;
    position: relative;
    padding: 20px 0;
}

.order-item-bottom-order .checkbox {
    float: left;
    position: absolute;
    left: 1px;
}

.order-item-bottom-order .checkbox label {
    width: 120px;
}

.order-item-bottom-order button{
    height: 45px;
    width: 180px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    margin-top: 20px;
}

.transparent-button {
    cursor: pointer;
    text-transform: uppercase;
    width: 200px;
    height: 35px;
    border: 1px solid white;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    font-size: 10px;
    margin-top: 20px;
}

.transparent-button-sm {
    border: 1px solid white;
    border-radius: 3px;
    font-size: 11px;
    width: 140px;
    margin: 20px auto;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}

.transparent-button-sm i {
    margin-right: 5px;
}

.btn.img-btn {
    font-size: 11px;
    font-weight: 700;
    padding: 13px;
    width: 170px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn.img-btn i {
    margin-right: 10px;
    font-size: 13px;
}

.agent {
    padding: 20px 20px 40px 20px;
    text-align: center;
    background-color: #ffffff;
}

.agent-title {
    width: 80px;
    color: #a3a2a2;
    font-size: 9px;
    line-height: 10px;
    text-align: left;
    margin-bottom: 20px;
}


.offers-contact {
    padding: 20px 30px;
    border-bottom: 1px solid #ffffff;
}


.offers-contact .input-group {
    width: 190px;
    margin: auto;
}

.offers-contact .btn-group .btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #5b5b5b;
    width: 90px;
}

.offers-contact .btn-group .btn.active {
    background-color: #333;
}

.offers-contact .btn-group .btn.notActive {
    background-color: transparent;
}

.offers-contact .btn-group .btn.notActive:hover {
    background-color: #ffffff;
    color: #333;
}

.offers-contact .btn-group .btn.notActive:active {
    background-color: #333;
}

.offers-contact .contact-list {
    color: #ffffff;
    margin-top: 20px;
}

.offers-contact .contact-list .contact-item {
    margin-top: 10px;
}

.offers-contact .contact-list .contact-item-icon {
    font-size: 18px;
    float: left;
    margin-left: 3px;
}

.offers-contact .contact-list .contact-item-icon .icon-metro {
    background: url(../ximg/icon-metro.svg);
    width: 16px;
    height: 12px;
    display: block;
    margin-top: 4px;
}

.offers-contact .contact-list .contact-item-icon .icon-vk {
    background: url(../ximg/icon-vk.svg);
    width: 16px;
    height: 16px;
    display: block;
    margin-left: -1px;
}

.offers-contact .contact-list .contact-item-icon .fa-envelope {
    font-size: 16px;
    margin-top: -2px;
}

.offers-contact .contact-list .contact-item-data {
    font-size: 12px;
    margin-left: 30px;
}

.offers-contact .contact-list .contact-item-info {
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

.offers-contact .contact-list .contact-item-info a {
    color: inherit;
}

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.popup .popup-bg {
    opacity: 0.67;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 101;
}

.popup .popup-inner {
    left: 50%;
    top: 50%;
}

.popup .popup-close {
    background: url("../ximg/icon-close-popup.svg") no-repeat center;
    display: inline-block;
    width: 39px;
    height: 39px;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 102;
    cursor: pointer;
}


