.content .file_stat {
    padding: 20px 0;
}

#member h1 {
    width: 56%;
    word-wrap: break-word;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#member h2 {
    font-size: 1.4em;
}

#member {
    padding-top: 13px;
}

#member .box {
    width: 100%;
    padding: 10px 0 10px 15px;
    float: none;
    overflow: hidden;
}

#member .box.ov-v {
    overflow: visible;
}

#member .box div {
    padding: 0;
}

#member h1 {
    padding: 0;
}

#member .photos {
    margin: 5px 25px 10px 0;
}

#member .photos img {
    border: 1px solid #ccc;
    padding: 1px;
}

#member .photos .gallery img,
#member .photos .gallery a {
    padding: 1px;
    margin-left: 6px;
}

#member .photos .gallery img:first-child,
#member .photos .gallery a:first-child {
    margin-left: 0;
}

#member .photos .profile-photo {
    margin-bottom: 6px;
}

#member-comments  section {
    min-height: 60px;
    margin-bottom: 10px;
    padding: 10px 0 0 0;
    position: relative;
    clear:both;
}

#member-comments section .comment_avatar {
    float: left;
    width: 48px;
}

#member-comments .comment_content {
    background: #F2F2F8;
    border: 1px solid #D8DAE2;
    padding: 5px 10px 5px 7px;
    border-radius: 5px;
    position: relative;
    width: 100%;

    margin-bottom: 10px;
}

#member-comments .comment_content .counter {
    margin-top: 10px;
    font-size: 11px;
}

#member-comments .info {
    font-size: 11px;
    margin-bottom: 5px;
}

#member-comments .header > div {
    display: inline;
}

#member-comments .reply_username {
    background: url(/ximg/icons/arrow_reply.png) no-repeat;
    padding-left: 20px;
}

#member-comments .yiiPager {
    margin-top: 20px;
}

.summary {
    margin-bottom: 15px;
}

.age,
.occupation
{
    font-size: 11px;
    color: #333333;
}

.author_info {
    float: left;
}
.author_info.w56 {
    width: 56%;
}

.author_info p {
    margin-bottom: 5px;
}
.author_info .about {
    border-bottom: 1px solid #ccc;
    height: 37px;
    margin-bottom: 15px;
    margin-right: 4px;
}
.author_info .about h2 {
    display: inline-block;
    background: white;
    padding-right: 8px;
}

.member_subscribe {
    display: block;
    margin-top: 10px;
}
.member_topic {
    background: url(/ximg/icons/topic.png) 0 4px no-repeat;
    padding: 3px 0 3px 20px
}

.member_comment, .member_posts {
    background: url(/ximg/icons/comments.png) 0 4px no-repeat;
    padding: 3px 0 3px 20px
}

.member_comment span, .member_topic span, .member_posts span {
    background: url(/ximg/icons/plus.png) no-repeat;
    background-position: right;
    padding: 2px 13px 2px 2px;
}

.files_count {
    background: url(/ximg/icons/file.png) -2px 4px no-repeat;
    padding: 3px 0 3px 20px
}


.members_topic > div:nth-of-type(odd) {
    background-color: #F3F3F3;
}

.members_topic > div:nth-of-type(even) {
    background-color: #F8F8F8;
}
.members_topic div.data.no_tags {
    background-color: #fffdd2;
}
.data {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.data .title {
    font-size: 1.3em;
    letter-spacing: -1px;
    line-height: 20px;
    margin-bottom: 9px;
}

.info {
    font-size: 11px;
}

.info > div  {
    display: inline;
    border-right: 1px #DDD;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

.info > div:last-child {
    border: 0;
}

.profile_visits {
    font-size: 11px;
    margin-top: 30px;
    color: #333;
}

#member .forum-profile {
    border-top: none;
    margin: -10px 0 10px 0;
}

.forum-profile-summary,
.forum-profile-social {
    width: 50%;
    float: left;
    position: relative;
}

.forum-profile-summary img {
    margin: 3px 10px 3px 0;
    padding: 1px;
    border: 1px solid #ccc;
}

.forum-profile-summary {
    font-size: 11px;
}

.forum-profile-summary div {
    margin-top: 3px;
}

.forum-profile-summary a {
    font-size: 20px;
}

.forum-profile-social div {
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: no-repeat url('../ximg/icons/social_icons.png');
    position: relative;
    float: right;
    margin: 8px 15px 0 20px;
}

.forum-profile-social .facebook {
    background-position: 0 -35px;
}

.forum-profile-social .vk {
    background-position: 0 0;
}

.forum-profile-social .twitter {
    background-position: 0 -70px;
}

.member-activity .tabs dt {
    background: none;
    font-size: 17px;
    height: 30px;
    margin-top: -10px;
    padding: 0 20px 0 0;
}

.member-activity .tabs dt span {
    border-bottom: 1px dotted #333;
}

.member-activity .tabs dt.selected {
    color: #333;
    font-weight: bold;
}

.member-activity .tabs dt.selected span {
    border: none;
}

.member-activity .tabs dd {
    margin: 30px 0 0 -100%;
}

.member-activity .tabs dd p {
    padding-right: 15px;
    margin-top: 7px;
    margin-bottom: -7px;
}

.member-activity ul,
div.profile_topics ul {
    padding-right: 15px;
}

.box-top {
    top: 45px;
    *top: 25px;
}

.box-bottom {
    margin-top: -45px;
    margin-bottom: 45px;
    *top: -60px;
}

.box-top,
.box-bottom {
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 16px;
    width: 100%;
}

.member-activity li,
div.profile_topics .box li {
    padding: 5px 0;
    border-top: 1px solid #ccc;
}

.member-activity li:first-child,
div.profile_topics li:first-child {
    border: none;
}

.member-activity li a,
div.profile_topics li a {
    font-size: 17px;
}

.member-activity .votes {
    background: url('../ximg/icons/plus.png') no-repeat 0 50%;
    padding-left: 13px !important;
    float: right;
    margin-top: 10px;
}

#social {
    padding: 15px;
}

#social div {
    background: no-repeat 0 50%;
    padding-left: 25px;
    margin-left: 0;
    line-height: 2em;
}

#social .mail {
    background-image: url('../ximg/icons/mail_open.png');
}

#social .skype {
    background-image: url('../ximg/icons/skype.png');
}

#social .icq {
    background-image: url('../ximg/icons/icq.png');
}

#social .phone {
    background-image: url('../ximg/icons/phone.png');
}

#statistics hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 10px 20px;
    clear: both;
    padding-top: 10px;
}

#statistics h3 {
  letter-spacing: 0;
    margin-bottom: 0;
}

#statistics .boxcnt {
    text-align: center;
    padding: 5px;
}

.forum-stats {
    padding: 0 20px;
    overflow: hidden;
    padding-bottom: 15px;
    margin: 0 auto;
}

.forum-stats .forum-stats-inner {
    display: inline-block;
}

.forum-stats .forum-stats-inner div {
    padding: 4px 7px 4px 0;
}

.forum-stats .forum-stats-inner .last {
    padding-right: 0;
}

#statistics .boxcnt .w50 div,
.forum-stats .forum-stats-inner,
.forum-stats .forum-stats-inner div div {
    padding: 0;
    font-size: 11px;
}

#statistics .boxcnt .w50 {
    float: left;
    padding: 0 0 15px 0;
}

#statistics .boxcnt a,
#statistics .boxcnt span {
    font-size: 20px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

.member-activity {
    background-color: #fff;
}

.member-activity th {
    font-weight: normal;
}

.member-activity th,
.member-activity td {
    border: 1px solid #ccc;
    padding: 7px 8px;
}

.member-activity th+th,
.member-activity td+td {
    text-align: center;
    vertical-align: middle;
}

.member-activity td.photo {
    width: 56px;
    border-right: none;
}

.member-activity td.member-info {
    border-left: none;
    text-align: left;
    width: 270px;
}

.member-activity td.vote {
    width: 130px;
}

.member-activity.members {
    letter-spacing: 0px;
}

.member-activity.members td.member-info {
    width: 230px;
}

.member-activity.members th,
.member-activity.members td {
    border: 1px solid #ccc;
    padding: 6px 4px;
}

.member-activity.members th {
    color: #4444ba;
}

.member-activity td.vote,
.member-activity td.member-info a,
.member-activity td.thanks_count {
    font-size: 18px;
}

.member-activity td.member-info div.login {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    color: #999;
}
.member-activity td.member-info span.status {
    font-size: 12px;
    color: #999;
    padding-right: 5px;
    display: inline-block;
}
.member-activity td.member-info a.bc_www {
    font-size: 12px;
    display: inline-block;
}

.member-activity td img {
    float: left;
    position: relative;
    padding: 1px;
    border: 1px solid #ccc;
}

.member-activity th,
.member-activity td,
.member-activity a,
.profile_topics a
{
    font-family: Arial, Tahoma, Verdana, sans-serif;
}
.comment_content .header {
    display: inline-block;
}
.comment_content .vote {
    float: right;
    display: inline-block;
    margin-right: -5px;
}

.authors-container li {
    width: 50%;
    float: left;
}

.authors-container li .member {
    float: left;
}

.authors-container i.remove {
    background: url('/ximg/icons/delete.png') 50% 50% no-repeat;
    width: 16px;
    height: 16px;
    margin-left: -2px;
    padding: 2px 2px 0 0;
    cursor: pointer;
}
div.promo_logo {
    display: inline-block;
    margin-bottom: 10px;
}
.member-search {
    margin-top: 89px;
}
.member-search label {
    padding-top: 5px;
    display: block;
}
.member-search div.elements input {
    width: 240px;
}
.member-search div.elements {
    margin: 0;
}
.member-search .button {
    margin: 10px;
}
ul.members_companies {
    display: none;
    padding-right: 0;
}
ul.members_companies li {
    list-style-position: inside;
    list-style-type: disc;
    border: 0;
    font-size: 12px;
    color: #999;
    padding: 0;
}