.metrikaWrap.elements {
    width: 964px;
    background-color: #ffffff;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
}
.fullSize div.half  {
    float: left;
    width: 46%;
    height: 100%;
}
.metrika.padding_left {
    padding-left: 10px;
}
.metrikaWrap .head {
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    background: rgb(245,245,245); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(245,245,245,1) 1%, rgba(238,238,238,1) 50%, rgba(245,245,245,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(245,245,245,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(100%,rgba(245,245,245,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(238,238,238,1) 50%,rgba(245,245,245,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(238,238,238,1) 50%,rgba(245,245,245,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,245,245,1) 1%,rgba(238,238,238,1) 50%,rgba(245,245,245,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,245,245,1) 1%,rgba(238,238,238,1) 50%,rgba(245,245,245,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.metrikaWrap .sub_head {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}
.metrikaWrap > div {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.metrikaWrap ul {
    padding-bottom: 10px;
}
.metrikaWrap li {
    list-style-type: disc;
    margin-left: 25px;
}
.metrikaWrap p {
    padding-top: 7px;
    margin-bottom: 7px;
}
.metrikaWrap .underline {
    text-decoration: underline;
}