#top, #header .submenu .mbox {
    background-color: #506281;
}

body, .container {
    background: #F8F8F8 url('/ximg/ny/subtle_white_feathers.png') repeat;
}

#header {
    background: url('/ximg/ny/top.png') no-repeat -162px 2px;
}

#header a.user img {
    background: url('/ximg/ny/frame.png') no-repeat;
    padding: 5px;
    margin-top: -8px;
}

#header .logo img {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

    opacity: 0;
}