div.content h1 {
    font-size: 25px;
    padding: 0;
}
div.content h2 {
    padding: 5px 0 10px 0;
    margin-bottom: 5px;
}

.okvedTabs li {
    display: inline;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
    padding: 10px 25px;
    text-shadow: 0 1px #FFF;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px 1px 1px 0px white;
    box-shadow: 0px 1px 0px 0px #F0F1F5;
    border: 1px solid #DADBDF;
    border-bottom: 1px solid #DFDFDF;
    background-color: #E5E6EC;
    font-size: 1.2em;
    letter-spacing: -1px;
    color: #353744;
    background: -moz-linear-gradient(top, #F6F4F7 0%, #E5E6EC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F6F4F7), color-stop(100%,#E5E6EC));
    background: -webkit-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: -o-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: -ms-linear-gradient(top, #F6F4F7 0%,#E5E6EC 100%);
    background: linear-gradient(to bottom, #F6F4F7 0%,#E5E6EC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4f7', endColorstr='#e5e6ec',GradientType=0 );
    -webkit-box-shadow: 0px 0px 4px 1px #E9E6E6;
    box-shadow: 0px 0px 4px 1px #E9E6E6;
}

.okvedTabs li.current {
    border-bottom: 5px solid rgba(132, 153, 240, 0.78);
    padding-bottom: 7px;
    color: #4A42AA;
}

.okvedTabs {
    padding-bottom: 9px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F0F0F0;
    -webkit-box-shadow: 0 2px 0 0 #FAFAFA;
    box-shadow: 0 2px 0 0 #FAFAFA;
    padding-top: 10px;
}

table.classes .currOkved,
table.searchResult .currOkved
{
    padding: 5px 0 5px 0;
}
table.classes .currOkved.firstClass,
table.searchResult .currOkved.firstClass
{
    background-color: #dddddd;
}
table.classes .currOkved.secondClass,
table.searchResult .currOkved.secondClass
{
    background-color: #eeeeee;
}
table.classes tr,
table.searchResult tr
{
    cursor: pointer;
}
table.classes tr:hover,
table.searchResult tr:hover
{
    background-color: #eeeeee;
}

form.okvedSearch .search {
    width: 80%;
}
form.okvedSearch button {
    width: 16%;
}
form.okvedSearch {
    padding-bottom: 10px;
}
.okvedSearch label {
    display: block;
}
.button {
    margin-top: 5px;
    margin-left: 10px;
}
.userOkvedModel {
    display: none;
}
.kodePage {
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    position: absolute;
}
.kodePageH {
    display: inline-block;
}
div.currOkved {
    padding-bottom: 50px;
}
div.currOkvedClass {
    padding-bottom: 5px;
}
tr.currOkved {
    border-right: 1px solid #CCCCCC;
    width: 100%;
}
tr.currOkved td.okvedNum {
    padding: 8px;
    border: 1px solid #CCCCCC;
    white-space: nowrap;
    max-width: 140px;
}

tr.currOkved td.okvedText {
    padding: 5px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
td.star {
    width: 4.5%;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
tr.currOkved td.okvedText span {
    font-style: italic;
    background-color: #ffff00;
}
.okvedAdd {
    background: url(/ximg/regforum_stars.png) 0 0 no-repeat;
    height: 20px;
    width: 20px;
    display: block;
    float: right;
    background-size: 20px;
    cursor: pointer;
    padding-right: 4px;
}
.okvedNotSet {
    background: url(/ximg/regforum_stars.png) 0 0 no-repeat;
    background-size: 20px;
}
.okvedSet {
    background: url(/ximg/regforum_stars.png) 0 -20px no-repeat;
    background-size: 20px;
}
.boxfooter {
    border-top: 1px solid #D8DAE2;
}
.clearOkveds,
.printOkveds,
.mailOkveds,
.copyToClipboard,
.erasePoints
{
    cursor: pointer;
    border-bottom: 1px dotted #4444ba;
    color: #4444ba;
}
.clearOkveds:hover,
.printOkveds:hover,
.mailOkveds:hover,
.copyToClipboard:hover,
.erasePoints:hover
{
    border-bottom: 1px dotted #5555e6;
    color: #5555e6;
}
.copyText textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    clear: both;
}
.erasePoints {
    display: none;
    text-align: left;
}
.right {
    float: right;
}
.print {
    max-width: 730px;
}
.print a {
    color: #000000;
    text-decoration: none;
}
.print img {
    float: right;
    padding-bottom: 10px;
}
.print div {
    clear: both;
}
.usersOkveds .sort {
    background: url(/ximg/icons/movelist.png) no-repeat;
    cursor: move;
    display: inline-block;
    height: 16px;
    width: 20px;
}

.modal_window {
    display: none;
    margin: -65px 0 0 -265px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 10px #888888;
    border-radius: 5px;
}

.modal_wrap {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, 0.14);
    z-index: 100;
    display: none;
    top: 0;
}
.user {
    display: inline-block;
    margin-bottom: 5px;
}