.page-order {
    background-color: #fa7816;
}

.page-order .hidden {
    visibility: hidden;
    display: block !important;
}

.page-order .top {
    height: 40px;
    background-color: #30b537;
    box-shadow: 0 1px 3px rgba(9, 45, 8, 0.63);
    color: white;
    overflow: hidden;
}

.page-order .top .new-addresses-icon {
    background: url("../ximg/new-addresses-bird.svg") no-repeat bottom;
    height: 40px;
    display: block;
    width: 70px;
    float: left;
}

.page-order .top .title {
    float: left;
    margin-right: 20px;
}

.page-order .top .title .title-top {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.page-order .top .title .title-bottom {
    opacity: 0.56;
    font-size: 10px;
    margin-top: -5px;
}

.page-order .top .subscribe {
    float: left;
    margin-top: 8px;
    width: 40%;
    max-width: 330px;
}

.page-order .top .subscribe input {
    width: 60%;
    height: 25px;
    border-radius: 2px;
    border: none;
    color: #c5c5c5;
    background: url("../ximg/envelope.svg") no-repeat 10px center #ffffff;
    padding: 0 10px 0 30px;
}

.page-order .top .subscribe button {
    height: 25px;
    border: 1px solid white;
    border-radius: 2px;
    background: transparent url("../ximg/paper-plane.svg") no-repeat 5px center;
    text-transform: uppercase;
    font-size: 10px;
    padding-left: 22px;
    position: relative;
    top: -2px;

}

.page-order .top .info {
    float: left;
    opacity: 0.61;
    font-size: 10px;
    width: 140px;
}

.page-order .top .close {
    color: #ffffff;
    opacity: 1;
    margin-top: 10px;
    margin-right: 10px;
}

.page-order .top .close:hover {
    opacity: 0.6;
}

.page-order .left .block1 {
    overflow: hidden;
    text-align: center;
    background-color: #7D818C;
    position: relative;
    padding-right: 0;
}

.page-order .left .block1 .backing {
    width: 100%;
    overflow: hidden;
    min-height: 450px;
}

.page-order .left .block1 .main-img {
   width: 100%;
    min-width: 650px;
}

.page-order .left .block1 .inner {
    width: 100%;
    height: 450px;
    position: absolute;
    color: #ffffff;
    left: 0;
    top: 50%;
    padding: 30px;
    margin-top: -225px;
}

.page-order .left .block1 .inner .number {

}

.page-order .left .block1 .inner .number .number-main {
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #ffffff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    border-radius: 5px;
}

.page-order .left .block1 .inner .number .number-title {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.page-order .left .block1 .inner .address {
    font-size: 20px;
    margin: 40px 0 40px 0;
}
.page-order .left .block1 .inner .address div {
    margin-bottom: 5px;
}

.page-order .left .block1 .inner .captions {
    margin-top: 35px;
    padding-top: 5px;
}

.page-order .left .block1 .inner .captions ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.page-order .left .block1 .inner .captions ul li {
    float: left;
    margin-right: 10px;
}

.page-order .left .block1 .inner .captions ul li.selected {
    border: 2px solid #54d45a;
    border-radius: 2px;
    box-sizing: content-box;
}

.page-order .left .block2 {

}

.page-order .left .block2 .features {
    margin-left: 15px;
}

.page-order .left .block2 .features .features-item {
    float: left;
    width: 20%;
    height: 115px;
    background-color: #f9f9f9;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    position: relative;
}

.page-order .left .block2 .features .features-item:not(.disabled):hover {
    overflow: visible;
}

.page-order .left .block2 .features .features-item:not(.disabled):hover .features-item-inner {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 6px 1px rgba(204, 204, 204, 0.77);
    z-index: 100;
    top: -5px
}

.page-order .left .block2 .features .features-item .features-item-inner {
    position: absolute;
    padding: 20px;
    width: 100%;
    left: 0;
}

.page-order .left .block2 .features .features-item.disabled .features-icon {
    background-image: url("../ximg/features-icons-disabled.svg");
}

.page-order .left .block2 .features .features-item.disabled .features-title {
    color: #9b9b9b;
}


.page-order .left .block2 .features .features-item .features-title {
    font-size: 12px;
    line-height: 15px;
    min-width: 80px;
}

.page-order .left .block2 .features .features-item .features-description {
    display: none;
    color: #969696;
    font-size: 11px;
    margin-top: 10px;
}

.page-order .left .block2 .features .features-item:not(.disabled):hover .features-description {
    display: block;
}

.page-order .left .block3 {
    padding: 20px 20px 20px 35px;
    color: #4a4a4a;
    font-size: 15px;
    background-color: #ffffff;
    overflow: hidden;
}

.page-order .left .block4 {
    padding-right: 0;
}


.page-order .left .block5 {
    padding: 20px 20px 20px 35px;
    font-size: 12px;
    background-color: #ffffff;
}

.page-order .left .block5 .terms {
    margin-bottom: 15px;
}

.page-order .left .block5 .terms-title {
    color: #4a4a4a;
    font-weight: 700;
}

.page-order .right .block1 {
    background-color: #54d45a;
    padding: 0;
    overflow: hidden;
}

.page-order .right .block1 .prices {
    padding: 20px;
    border-bottom: 1px solid #43a647;
}

.page-order .right .block1 .prices:first-child {
    border-right: 1px solid #43a647;
}

.page-order .right .block1 .prices .prices-months {
    overflow: hidden;
    font-size: 12px;
    height: 27px;
    line-height: 33px;
    margin-bottom: 10px;
}

.page-order .right .block1 .prices .prices-months .prices-months-icon {
    background: url(../ximg/calendar-empty.svg);
    height: 100%;
    width: 26px;
    float: left;
    margin-right: 5px;
    text-align: center;
}

.page-order .right .block1 .prices .prices-cost {
    color: white;
    font-size: 24px;
    white-space: nowrap;
}

.page-order .right .block1 .prices .prices-currency {
    color: white;
    font-size: 13px;
}

.page-order .right .block1 .post {
    height: 70px;
    overflow: hidden;
    padding: 20px 10px;
}

.page-order .right .block1 .post .post-icon {
    background: url(../ximg/icon-post.svg);
    height: 25px;
    width: 23px;
    float: left;
}

.page-order .right .block1 .post .post-title {
    font-size: 12px;
    margin-left: 30px;
    line-height: 14px;
}

.page-order .right .block1 .post .post-price {
    float: right;
}

.page-order .right .block1 .post .post-price .price-cost {
    color: white;
    font-size: 21px;
    line-height: 26px;
    margin-top: -4px;
}

.page-order .right .block1 .post .post-price .price-currency {
    color: white;
    font-size: 10px;
    line-height: 10px;
    margin-top: -3px;
}

.page-order .right .block4 {
    padding: 20px 30px;
}

.page-order .right .block4 .offers-title {
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.page-order .right .block4 .offers-list {
    margin-top: 20px;
}

.page-order .right .block4 .offers-list .offers-item {
    background-color: #ffffff;
    width: 200px;
    overflow: hidden;
    margin-top: 20px;
}

.page-order .right .block4 .offers-list .offers-item .offers-item-photo img {
    width: 100%;
    height: 140px;
}

.page-order .right .block4 .offers-list .offers-item .offers-info {
    border-bottom: 1px solid #d3d3d3;
}

.page-order .right .block4 .offers-list .offers-item .offers-info, .page-order .right .block4 .offers-list .offers-item .offers-prices {
    padding: 8px;
    overflow: hidden;
}

.page-order .right .block4 .offers-list .offers-item .offers-info-left {
    float: left;
    width: 132px;
}

.page-order .right .block4 .offers-list .offers-item .offers-info .offers-info-address {;
    color: #676767;
    font-size: 12px;
}

.page-order .right .block4 .offers-list .offers-item .offers-info .offers-info-address-type {
    opacity: 0.81;
    color: #54d45a;
    font-size: 11px;
    text-transform: uppercase;
}

.page-order .right .block4 .offers-list .offers-item .offers-info-right {
    text-align: center;
    margin-left: 142px;
}

.page-order .right .block4 .offers-list .offers-item .offers-info .offers-info-number .offers-info-number-main {
    color: #505050;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #9f9f9f;
    letter-spacing: -0.16px;
    padding-right: 3px;
}

.page-order .right .block4 .offers-list .offers-item .offers-info .offers-info-number .offers-info-number-title {
    color: #9b9b9b;
    font-size: 7px;
    margin-top: -2px;
}

.page-order .right .block4 .offers-list .offers-item .offers-prices {

}

.page-order .right .block4 .offers-list .offers-item .offers-prices-item {
    float: left;
    width: 50%;
}

.page-order .right .block4 .offers-list .offers-item .offers-prices-item .offers-prices-item-months {
    color: #676767;
    font-size: 11px;
}

.page-order .right .block4 .offers-list .offers-item .offers-prices-item .offers-prices-item-cost {
    color: #54d45a;
    font-size: 12px;
    font-weight: 700;
    margin-top: -3px;
}







