/**
 * CSS styles for CLinkPager.
 *
 */

ul.yiiPager, .pagination
{
    font-size:11px;
    border:0;
    margin:0;
    padding:0;
    line-height:100%;
    display:inline;
}

ul.yiiPager li
{
    display:inline;
}

ul.yiiPager .page a,
.pagination a:not(.next),
.pagination span.current,
.b-pager .b-pager__pages .b-pager__page,
.b-pager .b-pager__pages .b-pager__current
{
    cursor: pointer;
    font-size: 13px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */

    padding: 4px 9px 5px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;


    /*border:solid 1px #9aafe5;
    font-weight:bold;
    color:#0e509e;
    padding:1px 6px;
    text-decoration:none;*/
}
.b-pager .b-pager__pages .b-pager__page,
.b-pager .b-pager__pages .b-pager__current {
    padding: 4px 8px 5px!important;
}
ul.yiiPager .page a, .pagination a, .pagination span
{
    font-weight:normal;
    /*width: 18px;*/
    text-align: center;
}

ul.yiiPager .previous a,
ul.yiiPager .next a
{
    font-size: 1.3em;
    padding: 2px;
}


ul.yiiPager .page a:hover, .pagination a:hover:not(.next), .pagination span:hover
{
    /*border:solid 1px #EBEBEB;*/
    background-position: 0 -6px;
    color: #333;
    text-decoration: none;
}

ul.yiiPager .selected a,
.pagination a.current,
.pagination span.current,
.b-pager .b-pager__pages .b-pager__current
{
    /*background:#2e6ab1;*/
    color: #141440;
    font-weight:bold;
}

ul.yiiPager .hidden a
{
    display: none;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
    display:none;
}
