.view-inner > .row {
    margin: 0 !important;
}

#view-content .view-inner {
    padding: 0 0 0 245px !important;
}

.view-inner .list-view {
    padding: 0;
}

.posts-index .view-outer .header {
    border: none !important;
}

.header h1 {
    color: #676767;
    font-size: 28px;
    font-weight: 700;
    margin: 0 10px 0 0;
    padding: 0;
}

.view-inner .row {
    /* margin: 0; */
}

.btn-primary.add-post {
    font-weight: bold !important;
    background-color: #2f76dc;
    margin-left: 20px;
    font-size: 10px;
    padding: 4px 8px 6px 8px;
}

.btn-primary.add-post:hover {
    background-color: #fff;
}

.add-post:before {
    content: '\270E';
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    position: relative;
    margin-right: 6px;
    top: 2px;
}

.header > div.col-xs-12 {
    padding: 25px 20px;
}

.header > * {
    display: inline-block;
    vertical-align: middle;
}

.view-inner > div:not(.col-xs-12) {
    /*display: table-cell;*/
    vertical-align: top;
    padding-top: 0;
    width: 100%;
}

/*--------------- nav-menu START ------------------*/
.header ul.nav-menu {
    font-size: 11px;
    margin: -12px -10px 0;
}

.header ul.nav-menu > li {
    width: 90px;
    display: inline-block;
    position: relative;
}

.header ul.nav-menu > li > a {
    left: 10px;
    top: 10px;
    text-decoration: none;
    position: relative;
    color: #9b9b9b;
}

.header ul.nav-menu > li:hover > a {
    color: #4a90e2;
}

.header ul.nav-menu > li > a > span.glyphicon {
    padding-left: 12px;
    display: block;
    font-size: 17px;
    color: #adadad;
}

.header ul.nav-menu > li > a,
.header ul.nav-menu > li > a > span.glyphicon {
    z-index: 5;
}

.header ul.nav-menu > li > a > span.glyphicon.glyphicon-fire {
    padding-left: 26px;
}

.header ul.nav-menu > li:hover > a > span.glyphicon-leaf {
    color: #7ed321;
}

.header ul.nav-menu > li:hover > a > span.glyphicon-heart {
    color: #5480cc;
}

.header ul.nav-menu > li:hover > a > span.glyphicon-fire {
    color: #ff661d;
}

.header ul.nav-menu > li > ul {
    text-align: left;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    padding: 45px 10px 10px;
    transition: opacity 0.2s linear;
    list-style-type: none;
}

.header ul.nav-menu > li > ul {
    width: 94px;
}

.header ul.nav-menu > li > ul > a {
    color: #4a90e2;
}

.header ul.nav-menu > li:hover > ul {
    background-color: white;
    opacity: 1;
    visibility: visible;
    border-radius: 4px;
    border-top: 0;
    box-shadow: 0 2px 4px rgba(122, 122, 122, 0.5);
    transition-delay: 0s;
}

.header ul.nav-menu > li > ul > li:first-child {
    padding-top: 10px;
    border-top: 1px solid #979797;
}

@media (max-width: 899px) {
    .header ul.nav-menu {
        display: block;
        clear: both;
        float: left !important;
        margin: 10px 0 0 -30px;
    }

    .header h1 {
        margin-top: 3px;
    }

    .header h1,
    .btn-primary.add-post {
        float: left;
    }
}

/*----------------------- nav-menu END ------------------*/
.topic {
    padding: 0;
    height: 265px;
    overflow: hidden;
    margin-bottom: -1px;
}

.topic .button {
    font-size: 12px;
}

.topic.has-image .button {
    display: none;
    color: white;
    border-color: white;
}

.topic.has-image:hover .button {
    display: inline;
}

.topic.has-image .button:hover {
    background-color: #cbcbcb;
    border-color: #cbcbcb;
}

.topic:not(.has-image) {
    border: 1px solid #e4e4e4;
}

.topic:not(.has-image) + .topic:not(.has-image) {
    border-left: 0;
}

.topic:last-child {
    margin-bottom: 0;
}

.topic > *:not(.substrate) {
    padding: 0 20px;
}

.topic .kind {
    line-height: normal;
}

.topic .kind > a {
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-decoration: none;
}

.topic .kind.overview {
    background-color: #f5a623;
}

.topic .kind {
    background-color: #3fd576;
}

.topic > .text-block {
    position: absolute;
    top: 40px;
    overflow: hidden;
    height: 160px;
}

.topic > .text-block > h2 {
    font-size: 20px;
}

.topic > .text-block > h2 > a {
    color: #4a90e2;
}

.topic > .text-block > h2 > a:hover {
    color: #FF523C;
    text-decoration: none;
}

.topic > .text-block > .text {
    color: #7b7b7b;
    font-size: 13px;
    line-height: 17px;
}

.topic.has-image > .text-block > .text {
    cursor: pointer;
}

.topic > .text-block > .text:after {
    content: '';
    display: block;
    height: 28px;
    bottom: 0;
    position: absolute;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    width: 100%;
}

.topic.has-image > .text-block > .text:after {
    content: normal;
}

.topic > .text-block > .text  a {
    color: #9CC9FA;
}

.topic > .text-block > .text  p {
    margin: 0;
}

.topic .info-block {
    width: 100%;
    position: absolute;
    bottom: 24px;
    color: #909090;
    font-size: 11px;
}

.topic .info-block .stat {
    margin-top: 5px;
}

.topic .author {
    position: relative;
    padding-top: 20px;
}

.topic:not(.has-image) .author .avatar,
.topic:not(.has-image) .author .avatar > a {
    color: #929292;
}

.topic.has-image .author .avatar,
.topic .author .kind > a,
.topic.has-image .author .avatar > a,
.topic.has-image > .text-block > h2 > a,
.topic.has-image > .info-block > *,
.topic.has-image > .info-block > span > span {
    color: white;
}

.topic.has-image > .text-block > .text {
    color: #ffffff;
}

.topic .author .avatar .user-name {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    color: #909090;
    font-size: 11px;
    line-height: 12px;
}

.topic.has-image .author .avatar .user-name {
    color: #fff;
}

.topic.has-image .substrate {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.topic.has-image .substrate .background {
    background-color: rgba(56, 88, 114, 0.5);
    position: inherit;
    height: 100%;
    width: 100%;
}

.topic.has-image:hover .substrate .background {
    background-color: rgba(56, 88, 114, 0.75);
}

.header ul.nav-menu > li > ul,
.topic.has-image:hover .substrate .background {
    z-index: 2;
}

.topic.has-image .text-block {
    padding-top: 26px;
}

.topic.has-image .text-block > .text {
    display: none;
}

.topic.has-image:hover .text-block > .text {
    padding-top: 10px;
    display: block;
}

.topic.has-image .text-block > h2 {
    font-size: 26px;
    font-weight: bold;
}

.topic.has-image:hover .text-block > h2 {
    display: none;
}

.topic.has-image .substrate > div.img {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.topic.has-image:hover .substrate > div.img {
    -webkit-filter: opacity(100%) blur(2px);
    -moz-filter: opacity(100%) blur(2px);
    -o-filter: opacity(100%) blur(2px);
    -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=100%, blur(2px))
    filter: opacity(100%) blur(2px);
}

.topic .info-block .date {
    margin-top: 5px;
}

.topic .info-block .date .glyphicon-leaf {
    font-size: 18px;
    vertical-align: middle;
    color: #7ed321;
    line-height: 11px;
}

.topic .info-block .stat .glyphicon {
    top: -1px;
    font-size: 23px;
}

#add-post.form {
    margin-bottom: 40px;
}

#add-post.form input + label {
    padding-left: 5px;
    font-weight: normal;
}

#add-post.form input:checked + label {
    font-weight: bold;
}

#add-post.form #Topic_topic_kind {
    display: block;
}

#add-post.form > div {
    margin-top: 40px;
}

#add-post.form .dropzone.clickable {
    cursor: default;
    clear: both;
    min-height: 220px;
    background-color: #fff;
    border: 2px #ccc dashed;
    margin-top: 20px;
    border-radius: 10px;
}

#add-post.form .dropzone .default.message {
    background-image: none;
}

#add-post.form .dropzone .default.message span {
    cursor: default;
    text-align: center;
    display: block;
}

#add-post.form .dropzone .default.message span > span {
    cursor: pointer;
    padding: 8px;
    display: inline-block;
    border: 2px solid rgb(195, 195, 195);
}

#add-post.form .dropzone .default.message span > div {
    padding-top: 15%;
}

#add-post.form .right {
    float: right;
}

#add-post.form .file-attach .dropzone.clickable {
    min-height: 180px;
}

#add-post.form div.buttons {
    text-align: center;
}

.box.rules {
    color: #8C8C8B;
    border-color: #E3E3E3;
    background-color: #F2F2F2;
}

.box.rules > p,
.box.rules > a {
    font-size: 80%;
}

.box.rules > a {
    color: #89D000;
}

.border {
    border: 1px solid #ccc;
    padding: 5px;
}

/*.remove {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('/ximg/icons/delete.png') 0px 1px no-repeat;
    display: inline-block;
    margin-left: 5px;
}*/

.additional_block .sort {
    background: url(/ximg/icons/movelist.png) no-repeat;
    cursor: move;
    display: inline-block;
    height: 16px;
    width: 20px;
}

.post.breadcrumbs {
    padding-left: 0;
    width: 80%;
    display: inline-block;
}

.topic_kind {
    float: right;
    margin-top: 5px;
}

body > footer.footer {
    height: 290px;
    font-size: 14px;
}

body > footer.footer > ul > li {
    vertical-align: top;
    padding: 0 20px;
}

body > footer.footer .copyright > * {
    padding: 0 25px 0 20px;
}

body > footer.footer img[src*="logo"] {
    opacity: 0.5;
}

.warning {
    padding: 15px;
    color: #8C8C8B;
    background-color: #F2F1F2;
    font-size: 80%;
}

.social.col-md-7 {
    background: #F0F0F0;
}

.social-like {
    padding: 10px 0 5px;
}

.social-like > span {
    vertical-align: top;
    display: inline-block;
}

.print.col-md-1 {
    text-align: center;
    padding: 0 10px 0 0;
}

.print.col-md-1 > a {
    text-decoration: none;
    background: #89D000;
    color: #ffffff;
    font-size: 1.3em;
    padding: 10px;
}

.tags {
    padding-left: 25px;
    background: url('/ximg/tag_icon.svg') no-repeat 0 4px;
    overflow: hidden;
    padding-top: 0;
    margin-left: 25px;
    margin-bottom: 24px;
}

.tags .title {
    padding-right: 5px;
}

.tags > ul,
.tags > ul > li {
    padding: 0;
    display: inline-block;
}

.tags > ul > li {
    margin-left: 5px;
    padding: 0 5px 2px 5px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}

.tags > ul > li > a {
    color: #2f76dc;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
}

.col-md-6.topic-like > *,
.col-md-6.social > * {
    background: #545454;
    color: white;
    padding: 1em;
}

.col-md-6.topic-like .like {
    margin-top: -10px;
    float: right;
}

.col-md-6.social .social-like > * {
    height: 1em;
}

.col-md-6.topic-like .like {
    font-size: 2em;
    vertical-align: middle;
}

.col-md-6.topic-like .like .glyphicon-heart {
    cursor: pointer;
    font-size: .8em;
}

.col-md-6.topic-like .like .glyphicon-heart:hover {
    color: #89D000;
}

.similar_topics {
    margin-top: 20px;
    background: #E9E9E9;
    padding: 15px;
}

.similar_topics .title {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.similar_topics .topics > ul {
    padding: 0;
}

.similar_topics .topics > ul > li {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.similar_topics .topics > ul > li:not(:last-child) {
    padding-right: 15px;
}

.similar_topics .topics > ul > li > a {
    font-weight: bold;
    color: #686867;
}

.box.latest-services {
    margin: 20px -10px;
    border: 0;
    background: #F1F1F1;
}

.box.latest-services .boxtitle {
    font-size: 80%;
    text-transform: uppercase;
}

.box.latest-services .smaller {
    display: none;
}

.box.latest-services .boxcnt > div {
    font-weight: bold;
    color: #6C6C6B;
}

.box.latest-services .boxcnt > div > div {
    padding-bottom: 5px;
}

.box.latest-services .boxcnt .mb10.pb10 {
    border: 0;
    padding: 10px 0;
}

.box.latest-services .boxbottom {
    display: none;
}

.dropdown_list .select_button.btn {
    background: #fff;
    text-align: left;
    display: inline-block;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    padding: 3px 8px 4px 8px;
    position: relative;
}

.dropdown_list.pull-right {
    margin-left: 18px;
    display: none !important; /* todo */
}

.dropdown_list .objects_list {
    width: 200px !important;
    right: 0;
}

.select_button.btn span {
    color: #6f6f6f;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.select_button.btn .arrow_down {
    display: none !important;
}

.select_button.btn span:after {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #aeaeae;
    content: '';
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 6px;
    margin-right: -4px;
}

.ico-posts-read,
.ico-posts-comment,
.ico-posts-like {
    background-image: url('/ximg/posts_icons.svg');
    background-repeat: no-repeat;
    padding: 9px 4px 9px 26px;
    margin-left: 12px;
}

.has-image .ico-posts-read,
.has-image .ico-posts-comment,
.has-image .ico-posts-like {
    background-image: url('/ximg/posts_image_icons.svg');
}

.ico-posts-read {
    background-position: 0 6px;
}

.ico-posts-comment {
    background-position: -118px -33px;
}

.ico-posts-like {
    background-position: -62px -13px;
}

.posts-view .topic-text {
    padding: 25px 10px;
    color: #5f5f5f;
    font-size: 14px;
    line-height: 20px;
}

.posts-view .topic-text img {
    width: 100%;
    height: auto;
}

.posts-view .topic-text blockquote {
    border-left: 4px solid #b3b3b3;
    color: #ababab;
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
}

.posts-view #comments {
    padding: 0 28px 20px 28px;
}

.posts-view .social-subscribe {
    display: table;
    width: 100%;
    margin: 0 !important;
}

.posts-view .social-subscribe > div {
    display: table-cell;
    height:100%;
    padding: 19px 28px;
    color: white;
}

@media (min-width: 720px) and (max-width: 940px) {

    .posts-view .social-subscribe > div {
        width:100%;
        display: table;
    }
}

.posts-view .social-subscribe > div h3 {
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    white-space: nowrap;
    text-align: center;
    margin-top: 0;
}

.posts-view .social-subscribe .control-likes {
    background-color: #2f76dc;
}

.posts-view .social-subscribe .control-social {
    background-color: #325ca8;
}

.posts-view .subscribe_form input[type='text'],
.posts-view .social-subscribe .control-subscribe {
    background-color: #fd9300;
}

.posts-view .subscribe_form div {
    font-size: 11px;
    line-height: 12px;
}

.posts-view .subscribe_form input[type='text'] {
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: white;
    font-size: 13px;
    line-height: 15px;
    padding: 5px 0;
    margin-bottom: 11px;
    width: 100%;
}

.posts-view .subscribe_form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.47);
}

.posts-view .subscribe_form input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.47);
}

.posts-view .subscribe_form input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.47);
}

.posts-view .subscribe_form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.47);
}

@media (max-width: 719px) {
    #view-content .view-inner {
        padding: 0 !important;
    }
}

@media (min-width: 1440px) {
    .view-inner .topic {
        width: 50%;
    }
    .topic:not(.has-image):nth-child(even) {
        border-right: none;
    }
}
