.post-add .block1 {
    background: url("./../ximg/first-post-image.svg") right no-repeat;
    min-height: 320px;
    padding: 90px 300px 40px 60px;
    background-color: #fbfaf0;
}

.post-add .block1 .title {
    color: #505050;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 30px;
}

.post-add .block1 p {
    color: #7b7b7b;
    max-width: 600px;
}