.navbar {
    z-index: 15;
}

.sidebar {
    width: 204px; /*TODO fixe it*/
    padding: 0 5px 0 20px;
    background-color: #2D2D2D;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
}

.breadcrumbs,
body > footer.footer {
    padding-left: 204px;
}

input::-webkit-input-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.photos > img,
.photos div.gallery > a {
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    width: 100%;
}

.photos div.gallery {
    margin: 5px 0;
}

.photos div.gallery > a {
    vertical-align: middle;
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(/ximg/icons/add.png) 50% no-repeat;
}

.photos div.gallery > a > img {
    border-radius: 50%;
}

.photos div.gallery > a:not(:last-child) {
    margin-right: 5px;
}

.information > .glyphicon {
    color: #A0A0A0;
    font-size: 4em;
}

.information .name,
.information .occupation,
.information .advertising-text {
    margin: 0 0 15px;
}

.information .name input {
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}

.information .name .age {
    color: #868786;
    padding: 0 0 0 3px;
    font-size: 12px;
}

.information .occupation .glyphicon {
    vertical-align: middle;
    font-size: 20px;
    padding-right: 10px;
    color: #CFCFCF;
}

.information .occupation input {
    vertical-align: middle;
    font-size: 16px;
    width: 90%;
}

.information .advertising-text textarea {
    width: 100%;
    height: 100px;
}

.information .advertising-text .glyphicon {
    vertical-align: middle;
    color: #E2E2E2;
    margin: 0 0 7px 5px;
}

.information input,
.information textarea {
    resize: none;
    border: 1px solid white;
}

.information input:active,
.information input:hover,
.information input:focus,
.information textarea:active,
.information textarea:hover,
.information textarea:focus {
    transition: .5s;
    border: 1px solid gray;
}

.information label {
    letter-spacing: 1.5px;
    vertical-align: middle;
    text-transform: uppercase;
}

.controls.col-md-12 {
    margin: 10px 0 15px;
}

.controls.col-md-12 > span {
    font-size: 14px;
    color: #868786;
}

.controls.col-md-12 > span .glyphicon {
    padding-right: 3px;
}

.controls.col-md-12 .pull-right > a {
    color: #89D000;
}

.what-next {
    color: white;
    background: #4F4F4F;
    padding: 20px;
}

.what-next .title {
    font-size: 20px;
}

.what-next ul.steps {
    width: 100%;
    text-align: center;
    display: table;
    margin-top: 20px;
    padding: 0;
}

.what-next ul.steps > li {
    display: table-cell;
}

.what-next ul.steps > li > a {
    text-decoration: none;
}

.what-next ul.steps > li > a > span {
    color: white;
}

.what-next ul.steps > li > a > .glyphicon {
    border-radius: 50%;
    background: #89D000;
    font-size: 3em;
    height: 2em;
    width: 2em;
    padding-top: .5em;
    margin-bottom: 10px;
}

.what-next ul.steps > li > a > span:not(.glyphicon) {
    display: block;
    font-size: 18px;
}

.user-topics {
    padding: 20px 0;
}

.user-topics > * {
    vertical-align: middle;
}

.user-topics .title {
    font-size: 26px;
    font-weight: bold;
}

.user-topics > a {
    font-size: 12px;
    margin: 0 20px;
    padding: 6px 12px;
    color: white;
    background: #89D000;
    text-decoration: none;
}

.user-topics ul {
    list-style-type: none;
    padding: 0;
}

.user-topics ul > li {
    padding: 10px 0 15px;
}

.user-topics ul > li:not(:last-child) {
    border-bottom: 1px solid gray;
}

.user-topics ul > li .sign {
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    float: right;
    background: -moz-linear-gradient(top, #868786 50%, #89d000 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #868786), color-stop(50%, #89d000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #868786 50%, #89d000 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #868786 50%, #89d000 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #868786 50%, #89d000 50%); /* IE10+ */
    background: linear-gradient(to bottom, #868786 50%, #89d000 50%); /* W3C */
    background-repeat: repeat;
    -webkit-background-size: 100% 200%;
    -moz-background-size: 100% 200%;
    background-size: 100% 200%;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.user-topics ul > li .sign:hover {
    background-position: 0 -100%;
}

.user-topics ul > li > div.block {
    overflow: hidden;
    position: relative;
    width: 85%;
    display: inline-block;
}

.user-topics ul > li > div.block > .text-hide {
    background: url(/ximg/hide_text.png) repeat-y;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 100%;
}

.user-topics ul > li > div > a {
    font-size: 16px;
    color: #353535;
}

.user-topics ul > li .statistic {
    font-size: 12px;
    color: #B0B1B0;
}

.fill-profile,
.user-statistic {
    font-size: 16px;
    margin-top: -20px;
    background: #F2F2F2;
}

.fill-profile .summary {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
}

.fill-profile > *,
.user-statistic > * {
    padding: 20px 20px 10px;
}

.fill-profile .slogan {
    font-size: 16px;
    color: #888888;
}

.fill-profile input,
.fill-profile textarea,
div.fill-profile input:hover,
div.fill-profile textarea:hover,
div.fill-profile input:focus,
div.fill-profile textarea:focus,
div.fill-profile input:active,
div.fill-profile textarea:active {
    padding: 8px;
    width: 100%;
    border: 1px solid #E1E1E1;
    background-color: transparent;
}

.fill-profile input.incorrect,
.fill-profile textarea.incorrect,
.information input.incorrect,
.information textarea.incorrect {
    border: 1px solid #ae3738;
}

.fill-profile input.correct,
.fill-profile textarea.correct {
    border: 1px solid transparent;
}

.fill-profile textarea {
    height: 200px;
    resize: none;
}

.fill-profile input + input {
    margin-top: 5px;
}

.fill-profile > div > div {
    color: #2A2A29;
    font-weight: bold;
    padding-bottom: 3px;
}

.fill-profile > div > div > span {
    float: right;
    color: #535353;
}

.fill-profile input[type=file] {
    display: none;
}

.fill-profile input[type=file] + label {
    font-weight: normal;
    cursor: pointer;
}

.fill-profile input[type=file] + label > span:nth-child(2) {
    display: none;
}

.jcrop-overlay .avatar-jcrop .close {
    right: -40px;
    position: absolute;
    top: -40px;
}

.jcrop-overlay .avatar-jcrop .close > img {
    background: white;
    border-radius: 50%;
    border: 3px solid white;
}

div.user-statistic {
    margin-top: 20px;
}

.user-statistic > .title {
    font-size: 18px;
    color: #2A2A29;
    font-weight: bold;
}

.user-statistic > div:not(.title) > span {
    vertical-align: middle;
    display: inline-block;
}

.user-statistic > div:not(.title) > span.glyphicon {
    color: #D8D8D8;
    font-size: 58px;
    padding-right: 10px;
}

.user-statistic > div:not(.title) > span > div:first-child {
    font-size: 10px;
    text-transform: uppercase;
}

.user-statistic > div:not(.title) > span > div:nth-child(2) {
    color: #5F5F58;
    font-size: 42px;
    line-height: 32px;
}

.user-statistic > div:not(.title) > span > div:nth-child(3) {
    font-size: 16px;
    color: #B0B0B0;
}

.user-statistic > div:not(.title) > span > div > * {
    vertical-align: middle;
}

.user-statistic > div:not(.title) > span > div .glyphicon {
    font-size: 1.1em;
    padding-right: 5px;
}

.user-statistic > div.forum {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #D7D7D7;
    color: #5F5F58;
}

.user-statistic > div.forum .title {
    font-size: 1em;
}

.user-statistic > div.forum .table {
    width: 100%;
    display: table;
    text-align: center;
}

.user-statistic > div.forum  .table  > span {
    display: table-cell;
}

.user-statistic > div.forum  .table  > span > div {
    font-size: 2em;
}

.fill-profile .dropdown_list {
    width: 100%;
    font-weight: normal;
}

.fill-profile .dropdown_list span.select,
.fill-profile .dropdown_list span.default {
    font-size: 1em;
}

.jcrop-overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.avatar-jcrop {
    position: relative;
    margin: 5% auto;
    display: table;
    align-content: center;
    border: 10px solid white;
    z-index: 20;
}

.avatar-jcrop .controls {
    text-align: center;
    display: block;
    color: #4444ba;
    text-decoration: underline;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid white;
    width: 360px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    padding: 5px 10px;
    -webkit-box-shadow: inset 0 0 2px 3px rgba(255, 165, 0, 0.2);
    box-shadow: inset 0 0 2px 3px rgba(255, 165, 0, 0.2);
    -webkit-border-radius: 5px;
    border-radius: 10px;
    z-index: 1000;
}

.avatar-jcrop.valid,
.avatar-jcrop.valid .controls {
    border-color: rgb(144, 238, 144);
}

.avatar-jcrop.valid .controls > .tip,
.avatar-jcrop:not(.valid) .controls > .submit,
.avatar-jcrop .controls > .error {
    display: none;
}

.avatar-jcrop .controls > .error {
    color: red;
    text-decoration: none;
}

.avatar-jcrop img.preview {
    max-height: 600px;
}

.profile_topics > div > .title {
    padding: 5px 20px;
    font-size: 30px;
}

.profile_topics > div > .name {
    padding: 0 10px;
}

.profile_topics > div > .sort > * {
    cursor: pointer;
    padding: 0 10px;
    color: #89D000;
}

.profile_topics > div > .sort > *.desc:before {
    padding-right: 2px;
    content: '\25bc';
}

.profile_topics > div > .sort > *.asc:before {
    padding-right: 2px;
    content: '\25b2';
}

.profile_topics > div > .post-add {
    float: right;
    width: 10em;
    height: 2.5em;
    display: block;
    font-size: 11px;
    text-align: center;
    padding: 6px;
    margin: 10px;
    color: white;
    background-color: #89D000;
}

#all_topics_grid table {
    width: 100%;
}

#all_topics_grid table tbody > tr {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

#all_topics_grid table tbody > tr td:nth-child(1) {
    text-align: center;
    background-color: #F5F5F5;
    color: #9D9D9D;
    width: 9%;
}

#all_topics_grid table tbody > tr td:nth-child(1) > div:nth-child(1) {
    font-size: 24px;
}

#all_topics_grid table tbody > tr td:nth-child(2) {

}

#all_topics_grid table tbody > tr td:nth-child(2) > a:first-child {
    padding-bottom: 5px;
    display: block;
    font-size: 18px;
    color: #353535;
}

#all_topics_grid table tbody > tr td:nth-child(2) > span.statistic > span {
    color: #D0D0D0;
    padding: 5px 10px 5px 0;
}

#all_topics_grid table tbody > tr td:nth-child(2) > span.statistic > span > span.glyphicon {
    padding-right: 3px;
}

#all_topics_grid table tbody > tr td:nth-child(2) > a:nth-child(3) {
    color: #88D000;
}

#all_topics_grid table tbody > tr td:nth-child(3) {
    width: 13%;
    text-align: center;
}

#all_topics_grid table tbody > tr td:nth-child(3) > span:first-child {
    width: 10em;
    height: 2.5em;
    display: block;
    padding: 7px 0 0 5px;
    background-color: #E6E6E6;
    font-size: 11px;
    font-weight: bold;
}

#all_topics_grid table tbody > tr td:nth-child(3) > a {
    width: 10em;
    height: 2.5em;
    display: block;
    padding: 7px 0 0 5px;
    color: white;
    background-color: #88D000;
    font-size: 11px;
    font-weight: bold;
}

#all_topics_grid table tbody > tr td:nth-child(3) > span.rejected {
    cursor: pointer;
    color: #88D000;
    font-size: 11px;
}

#all_topics_grid table tbody > tr td:nth-child(3) > span:before {
    float: left;
    padding-left: 5px;
}

#all_topics_grid table tbody > tr td:nth-child(3) > span.publish:before {
    content: '✔';
}

#all_topics_grid table tbody > tr td:nth-child(3) > span.reject:before {
    content: '\2718';
}

#all_topics_grid table tbody > tr td:nth-child(3) > span.draft:before {
    content: '⌛';
}

#all_topics_grid table > thead {
    display: none;
}

#all_topics_grid > .pager {
    text-align: center;
    padding: 20px;
}

.statistic > span {
    position: relative;
}

.statistic > span:hover > ul.dropdown-block {
    visibility: visible;
    opacity: 1;
}

.statistic > span > ul.dropdown-block {
    position: absolute;
    top: 90%;
    left: 5px;
    z-index: 101;
    /* display: none;*/
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #525252;
    border: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.statistic > span > ul.dropdown-block:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.statistic > span > ul.dropdown-block:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #525252;
    border-left: 6px solid transparent;
    content: '';
}

.statistic > span > ul.dropdown-block li > a {
    font-size: 0.8em;
    line-height: 0.8em;
    color: white;
    display: block;
    padding: 3px 10px;
    clear: both;
    white-space: nowrap;
}

.statistic > span > ul.dropdown-block li > a.more {
    color: #88D000;
}

.edit-member form#edit_form > div.row {
    padding: 20px 0;
}

.edit-member form#edit_form input,
.edit-member form#edit_form textarea {
    border: 1px solid #F0F0F0;
    padding: 10px;
    width: 100%;
}

.edit-member form#edit_form input:active,
.edit-member form#edit_form input:hover,
.edit-member form#edit_form input:focus,
.edit-member form#edit_form textarea:active,
.edit-member form#edit_form textarea:hover,
.edit-member form#edit_form textarea:focus {
    transition: .5s;
    background-color: #E6E6E6;
}

.edit-member form#edit_form .col-md-8 > div:not(:first-child) .col-md-4,
.edit-member form#edit_form .col-md-8 > div.row > .col-md-4 {
    padding: 0;
}

.edit-member form#edit_form .col-md-8 > div:not(:first-child) .col-md-4:first-child,
.edit-member form#edit_form .col-md-8 > div.row > .col-md-4:first-child {
    padding-left: 15px;
}

.edit-member form#edit_form .col-md-8 > div:not(:first-child) .col-md-4:last-child,
.edit-member form#edit_form .col-md-8 > div.row > .col-md-4:last-child {
    padding-right: 15px;
}

.edit-member form#edit_form .col-md-8 > div:not(:first-child) .col-md-4:last-child > input {
    border-left: 0;
}

.edit-member form#edit_form .col-md-5 > div:not(:first-child) > input,
.edit-member form#edit_form .col-md-8 > div:not(:first-child) .col-md-4 > input {
    border-top: 0;
}

.edit-member form#edit_form img.large {
    border-radius: 50%;
}

.edit-member form#edit_form .col-md-5 {
    padding-right: 0;
}

.edit-member form#edit_form .col-md-5 + .col-md-3 > div {
    border: 1px solid #F0F0F0;
    text-align: center;
    padding: 11px;
    border-left: 0;
    margin-left: -15px;
}

.edit-member form#edit_form .name,
form#options-form > .row .name:not(span) {
    font-size: 20px;
    font-weight: bold;
}

.edit-member form#edit_form .name,
form#options-form > .row .name > span {
    padding: 5px 0;
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #A0A0A0;
}

.edit-member form#edit_form .dropdown_list {
    width: 100%;
}

.edit-member form#edit_form textarea + div.advertising_text_count {
    margin-top: -5px;
    font-size: 12px;
    padding: 5px 15px;
    color: #7D7D7D;
    background-color: #D3D3D3;
}

.edit-member form#edit_form textarea + div.advertising_text_count > span {
    color: #6B6B6B;
    font-weight: bold;
}

.edit-member form#edit_form .col-md-8 > .row > .col-md-4 + .col-md-4 > input {
    border-left: 0;
}

.edit-member form#edit_form .col-md-3 .add-photo {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: block;
    margin: 0 auto;
    background: url(/ximg/icons/plus.png) 50% no-repeat;
    background-color: #F5F5F5;
}

.edit-member form#edit_form .col-md-3 img {
    border-radius: 50%;
}

.edit-member form#edit_form .col-md-3 img + img.remove {
    position: absolute;
    margin-left: -16px;
    cursor: pointer;
}

.edit-member form#edit_form .photos.row {
    margin: 0;
    padding: 15px 0;
    border: 1px solid #F0F0F0;
}

.edit-member form#edit_form .photos > div:not(:first-child):not(:last-child) {
    padding: 0;
}

.edit-member form#edit_form .photos > div:not(:last-child) > div {
    border-right: 0;
}

.edit-member form#edit_form .photos > div:first-child {
    padding-right: 0;
}

.edit-member form#edit_form .photos > div:last-child {
    padding-left: 0;
}

.edit-member form#edit_form .photos > div > div {
    text-align: center;
}

form#options-form > .row:nth-child(1) {
    padding: 20px 0;
}

form#options-form > .row:nth-child(2) {
    padding-bottom: 10px;
}

form#options-form > .row:nth-child(3) {
    padding: 20px 0;
}

form#options-form > .row:nth-child(4) {
    padding-bottom: 10px;
}

form#options-form .d-n,
.tab-pane .members .d-n {
    display: none;
}

form#options-form .dropdown_list {
    width: 100%;
}

form#options-form label {
    font-weight: normal;
    margin: 0;
}

form#options-form .bootstrap-switch {
    float: right;
}

form#options-form .form-group {
    padding: 12px;
    margin: 0;
    border: 1px solid #F0F0F0;
    border-top: 0;
    color: #585857;
}

form#options-form .form-group:first-child {
    border-top: 1px solid #F0F0F0;
}

/* radio switcher START */
form#options-form .form-group > span {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    vertical-align: middle;
    float: right;
    margin-top: -4px;
    width: 270px;
    display: table;
}

form#options-form .form-group > span > label {
    background-color: #FFFFFF;
    padding: 5px 8px;
    margin: 0;
    cursor: pointer;
    display: table-cell;
    width: 50%;
    text-align: center;
}

form#options-form .form-group > span > input {
    display: none;
}

form#options-form .form-group > span > input:checked + label {
    background-color: #5cb85c;
    color: #FFFFFF;
}

form#options-form .form-group > span > label.radio {
    display: inline-block;
}

/* radio switcher END */
body > footer.footer {
    height: 290px;
    font-size: 14px;
}

body > footer.footer > ul > li {
    vertical-align: top;
    padding: 0 20px;
}

body > footer.footer .copyright > * {
    padding: 0 25px 0 20px;
}

body > footer.footer img[src*="logo"] {
    opacity: 0.5;
}

.friends .items {
    display: table;
    width: 100%;
}

.friends .items > div {
    display: table-row;
}

.friends .items > div > div {
    display: table-cell;
}

.loading {
    height: 300px;
    background: url(/ximg/big_loader.gif) 50% 50% no-repeat;
}