.profile-menu {
    margin: 15px 10px;
    padding: 0;
    list-style: none;
}

.profile-menu li {
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
}

.profile-menu li.active {
    color: #5a5a5a;
    font-weight: 700;
}

.profile-menu .profile-menu-item-icon {
    width: 23px;
    height: 23px;
    background: url("./../ximg/profile-icons.svg") no-repeat;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-profile {
    background-position: 0 0;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-comments {
    background-position: 0 -35px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-posts {
    background-position: 0 -70px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-companies {
    background-position: 0 -105px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-subscriptions {
    background-position: 0 -140px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-files {
    background-position: 0 -175px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-favorites {
    background-position: 0 -215px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-friends {
    background-position: 0 -250px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-settings {
    background-position: 0 -287px;
}

.profile-menu .profile-menu-item-icon.profile-menu-item-icon-forum {
    background-position: 0 -323px;
}