.page-profile-items-add {
    background-color: #f8f8f8;
    font-size: 12px;
}

.page-profile-items-add .left {
    background-color: #ffffff;
    box-shadow: 5px 0 3px -2px rgba(8, 13, 18, 0.21);
    padding: 25px 10px 55px 25px;
}

.page-profile-items-add .left .block1 .title {
    color: #4c4c4c;
    font-size: 28px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
}

.page-profile-items-add .left .block1 .title-icon {
    display: inline-block;
    width: 44px;
    height: 31px;
    float: left;
    margin-right: 15px;
    position: relative;
    bottom: 3px;
}

.page-profile-items-add .left .block1 .title-icon.title-icon-service-add {
    background: url("../ximg/icon-add-service.svg") no-repeat;
}

.page-profile-items-add .left .block1 .title-icon.title-icon-address-add {
    background: url("../ximg/icon-add-address.svg") no-repeat;
}

.page-profile-items-add .left .block2,
.page-profile-items-add .left .block3,
.page-profile-items-add .left .block4,
.page-profile-items-add .left .block5,
.page-profile-items-add .left .block6,
.page-profile-items-add .left .block7,
.page-profile-items-add .left .block8,
.page-profile-items-add .left .block9,
.page-profile-items-add .left .block10,
.page-profile-items-add .left .block11 {
    margin-top: 40px;
}

.page-profile-items-add .left .block2 > div,
.page-profile-items-add .left .block3 > div,
.page-profile-items-add .left .block4 > div,
.page-profile-items-add .left .block5 > div,
.page-profile-items-add .left .block6 > div,
.page-profile-items-add .left .block7 > div,
.page-profile-items-add .left .block8 > div,
.page-profile-items-add .left .block9 > div,
.page-profile-items-add .left .block10 > div {
    padding: 0;
}

.page-profile-items-add .left .blockMap {
    height: 265px;
    position: relative;
}

.page-profile-items-add .left .service-add-title {
    color: #98b5d2;
    font-size: 16px;
    font-weight: 700;
}

.page-profile-items-add .left .service-add-description {
    color: #777;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
}

.page-profile-items-add .left .service-add-hint {
    color: #aeaeae;
    font-size: 11px;
}

.page-profile-items-add .left .block2 .panel-group {
    margin-left: 40px;
}

.page-profile-items-add .left .block2 .panel-group .panel {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    box-shadow: none;
    margin-top: -1px;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading {
    padding: 5px 20px;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading .panel-title {
    display: table;
    width: 100%;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a {
    font-size: 12px;
    font-weight: 700;
    display: table-cell;
    text-decoration: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a:hover {
    text-decoration: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a span {
    vertical-align: middle;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a.collapsed .service-icon {
    background-image: url("../ximg/uslugi-icons-blue.svg");
}

.page-profile-items-add .left .block2 .panel-group .panel .service-icon {
    display: inline-block;
    position: relative;
    bottom: 2px;
    margin-right: 10px;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a .services-list-item-arrow {
    float: right;
    margin-top: 5px;
    font-size: 20px;
    color: #979797;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a .services-list-item-arrow i {
    display: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a.collapsed .services-list-item-arrow i.fa-angle-down {
    display: block;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-heading a:not(.collapsed) .services-list-item-arrow i.fa-angle-up {
    display: block;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body {
    padding: 0;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li {
    color: #7f7f7f;
    font-size: 12px;
    padding: 10px 25px;
    cursor: pointer;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li:last-child {
    border: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li i {
    font-size: 15px;
    margin-right: 10px;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li .services-list-item-check {
    color: #0980ff;
    position: absolute;
    right: 0;
    top: 13px;
    display: none;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li.selected {
    border: 2px solid #0980ff;
}

.page-profile-items-add .left .block2 .panel-group .panel .panel-body ul li.selected .services-list-item-check {
    display: block;
}

.page-profile-items-add .left .custom-form-item-subtitle {
    color: #777;
    font-size: 12px;
    margin-bottom: 15px;
    overflow: hidden;
}

.page-profile-items-add .left .custom-form-item-subtitle-icon {
    width: 23px;
    height: 23px;
    background: url("./../ximg/icon-post-box.svg");
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.page-profile-items-add .left .custom-form-item-subtitle .custom-form-item-subtitle-hint {
    float: right;
    color: #b4b4b4;
    font-size: 11px;
}

.page-profile-items-add .left .custom-form-item-subtitle .custom-form-item-subtitle-hint i {
    margin-right: 5px;
    font-size: 13px;
}

.page-profile-items-add .left .page-profile-items-add-map {
    position: absolute;
    left: -10px;
    right: -10px;
    height: 100%;
    overflow: hidden;
}

.page-profile-items-add .left .page-profile-items-add-map img {
   width: 100%;
}

.page-profile-items-add .left .profile-items-add-location-example {
    width: 100%;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 2px;
    color: #aeaeae;
    font-size: 12px;
    text-align: center;
}

.page-profile-items-add .left .services-list-description-example-item {
    background-color: white;
    border: 1px solid #ececec;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(174, 174, 174, 0.5);
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    overflow: hidden;
    width: 45%;
    margin-bottom: 10px;
    margin-right: 20px;
    min-width: 100px;
    line-height: 15px;
}

.page-profile-items-add .left .services-list-description-example-item:last-child {
    margin-right: 0;
    float: right;
}

.page-profile-items-add .left .services-list-description-example-item > a {
    margin-bottom: 5px;
    display: block;
}

.page-profile-items-add .left .services-list-description-example-item img {
    float: left;
    margin-right: 10px;
}

.page-profile-items-add .left .services-list-description-example-body {
    color: #989898;
    overflow: hidden;
    display: table;
}

.page-profile-items-add .left .services-list-description-example-body a {
    margin-top: 5px;
    display: block;
}

.page-profile-items-add .left .services-list-description-example-body span {
    font-size: 11px;
    margin-top: 5px;
}

.page-profile-items-add .left .services-list-description-example-body .services-list-description-example-icon {
    width: 20px;
    height: 30px;
    display: inline-block;
    float: left;
    background: url("./../ximg/icon-company2.svg") no-repeat 0 5px;
    margin-right: 10px;
}

.page-profile-items-add .left .post-form {
    padding: 0;
    margin-left: 40px;
}

.page-profile-items-add .left .post-form .post-form-item {
    border: none;
    margin: 0;
    padding: 0 0 15px 0;
}

.page-profile-items-add .left .post-form .post-form-item-input {
    padding: 0 10px;
    margin-bottom: 10px;
}

.page-profile-items-add .left .post-form .post-form-item-input input {
    height: 34px;
    line-height: 34px;
    font-size: 12px;
    width: 100%;
}

.page-profile-items-add .left .post-form .post-form-item-download-file {
    height: 130px;
    margin-bottom: 15px;
}

.page-profile-items-add .left .post-form .post-form-item-download-file button {
    width: 130px;
    height: 35px;
}

.page-profile-items-add .left .post-form .custom-form-item-photo-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-profile-items-add .left .post-form .custom-form-item-photo-list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.page-profile-items-add .left .post-form .custom-form-toggle-slider-list {
    margin-bottom: 10px;
}

.page-profile-items-add .left .post-form .custom-form-toggle-slider {
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    margin-bottom: -1px;
    padding: 0 10px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
}

.page-profile-items-add .left .post-form .custom-form-toggle-slider .custom-form-toggle-slider-icon {
    float: left;
    margin-top: 10px;
    margin-right: 5px;
}

.page-profile-items-add .left .post-form .custom-form-toggle-slider .custom-form-toggle-slider-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 82%;
    white-space: nowrap;
}

.page-profile-items-add .left .post-form .custom-form-toggle-slider .switch {
    margin-top: 10px;
    position: absolute;
    right: 10px;
}

.page-profile-items-add .left .post-form .post-form-item-input textarea {
    font-size: 12px;
    padding: 10px 0;
    height: 150px;
    width: 100%;
}

.page-profile-items-add .left .post-form .post-form-item .custom-form-item-selector {
    margin-top: 0;
}

.page-profile-items-add .left .post-form .post-form-item .custom-form-item-selector-title {
    height: 35px;
    line-height: 35px;
    color: #ababab;
    font-size: 12px;
    font-weight: 400;
}

.page-profile-items-add .left .post-form .post-form-item .custom-form-item-selector .select-wrap {
    top: 35px;
    display: none;
}

.page-profile-items-add .left .post-form .post-form-item .custom-form-item-selector .select-search input {
    line-height: 30px;
    width: 83%;
}

.page-profile-items-add .left .post-form .post-form-item .custom-selector-tool .btn {
    height: 35px;
    font-size: 12px;
    color: #aaa;
}

.page-profile-items-add .left .post-form .post-form-item .custom-selector-tool .btn.active,
.page-profile-items-add .left .post-form .post-form-item .custom-selector-tool .btn:hover {
    background-color: #2f76dc;
    color: #ffffff;
}

.page-profile-items-add .left .post-form .post-form-item ul.post-form-item-checkbox-list li {
    font-size: 12px;
    padding: 0 5px 5px 5px;
}

.page-profile-items-add .left .post-form .post-form-item ul.post-form-item-checkbox-list li .checkbox {
    margin-top: 0;
}

.page-profile-items-add .left .block11 {
    text-align: center;
    color: #b4b4b4;
}

.page-profile-items-add .left .blockButtons,
.page-profile-items-add .left .blockButtons {
    border-top: 1px solid #d9d9d9;
    margin-top: 20px;
}

.page-profile-items-add .left .post-form-buttons button.btn-primary {
    width: 215px;
}

.page-profile-items-add .left .post-form-buttons button.btn-default {
    width: 155px;
    color: #868686;
}

.page-profile-items-add .left .post-form-buttons button.btn-default:hover {
    color: #ffffff;
}