.publish_info {
    position: relative;
    height: 100%;
    min-height: 237px; /*155px;*/
    background-color: #F5F5FF;
    overflow: hidden;
}

.publish_mb {
    position: absolute;
}

.publish_rubber {
    left: 0;
    right: 210px;
}

.publish_leftside {
    width: 50%;
}

.publish_middle {
    width: 50%;
    left: 50%;
}

.publish_rightside {
    width: 210px;
    right: 0;
}

.publish_links {
    background-color: #3E5C92;
    padding: 6px;
    margin: 1px;
    color: #fff;
}

.publish_links a {
    font-size: 0.9em;
    color: #fff;
}

.publish_links li {
    display: inline;
    padding-right: 10px;
    border-right: 1px solid #FFF;
    margin-right: 5px;
}

.publish_links li:last-child {
    border: none;
}

.publish_links a.new {
    background: url('/ximg/icons/new.png') 0 0 no-repeat;
    padding-left: 20px;
}

.publish_listtitle {
    background: #5C7099 url(../../images/gradients/gradient_thead.gif) repeat-x top left;
    height: 20px;
    padding: 5px;
    color: #FFF;
    font-size: 1.1em;
    border: 1px solid #cdd3e1;
}

.publish_listtitle a:link, .publish_listtitle a:visited {
    color: #FFF;
    text-decoration: underline;
}

.publish_listtitle a:hover {
    color: #dee2ff;
}

.publish_topic, .publish_comment {
    height: 32px;
    border-spacing: 0;
    border-bottom: 1px solid #D2D2DC;
    border-right: 1px solid #D2D2DC;
    padding: 4px;
    vertical-align: top;
    min-width: 100px;
    position: relative;
    border-collapse: collapse;
    overflow: hidden;
}

.publish_topictitle {
    padding-bottom: 2px;
    float: left;
    width: 100%;
    white-space: nowrap;
}

.publish_topic .publish_topictitle {
    font-weight: bold;
}

.publish_topicinfo {
    float: left;
    white-space: nowrap;
    font-size: 0.8em;
}

.publish_topicinfo a:link, .publish_topicinfo a:visited {
    color: #777;
}

.publish_topiccomments {
    background: url(/ximg/comment_bg.png) repeat-y;
    position: absolute;
    right: 0;
    height: 40px;
    width: 64px;
    top: 0;
    padding-top: 11px
}

.publish_topiccomments a {
    background: url(/ximg/icons/comments.png) 1px 1px no-repeat;
    padding-left: 20px;
    margin-left: 18px;
}

.publish_trade {
    border-bottom: 1px solid #D2D2DC;
    height: 194px; /*112px;*/
    white-space: nowrap;
    padding: 5px;
    vertical-align: top;
}

.publish_trade ul, .publish_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.publish_trade li {
    padding-bottom: 7px;
}

.publish_area {
    background-color: #FFF;
    color: black;
    border: 1px solid #0B198C;
    margin-bottom: 10px;
}
