/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 320px;
}

body > .footer {
    font-size: 16px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 320px;
    background-color: #3B3B3B;
}

body > .footer * {
    color: #8B8B8B;
}

body > .footer > ul > li > div {
    color: #ffffff;
}

body > .footer > ul {
    padding-bottom: 20px;
}

body > .footer > ul > li {
    vertical-align: top;
    padding: 0 30px;
}

body > .footer > ul > li.pull-right > ul {
    margin-top: 10px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

input, textarea {
    outline: none;
}

input:active, textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #ffffff !important; /* Цвет фона */
    -webkit-text-fill-color: #000000 !important; /* цвет текста */
    color: #000000 !important; /* цвет текста */
}

body > .container,
body > .footer {
    margin-right: inherit;
    margin-left: inherit;
}

nav.container > .container {
    padding: 0;
    font-weight: bold;
}

.navbar .glyphicon-search {
    margin-right: 10px;
    font-size: 2em;
    line-height: 0em;
    top: 10px;
    transform: rotateY(180deg);
}

.navbar .glyphicon-user {
    font-size: 2em;
    line-height: 0em;
    vertical-align: middle;
}

.navbar-header a.navbar-brand {
    padding: 0 15px;
}

.navbar-header a.navbar-brand > img {
    height: 35px;
    margin-top: 6px;
}

.navbar-right .dropdown a.dropdown-toggle {
    font-size: 2em;
    padding: 10px 15px;
}

.navbar-right .dropdown a.dropdown-toggle > span.glyphicon {
    vertical-align: middle;
}

.navbar .navbar-form input {
    background-color: #474747;
    transition: background-color .25s ease-out;
}

.navbar .navbar-form input#nav-search {
    border: 0;
}

.navbar .navbar-form input:focus {
    transition: background-color .25s ease-out;
    background-color: #ffffff;
}

.navbar .pull-right.nav.navbar-nav {
    border-left: 1px solid gray;
}

/*------- breadcrumbs start --------*/
.breadcrumbs {
    overflow: hidden;
    width: 100%;
}

.breadcrumbs > * {
    float: left;
    margin: 0 .5em 0 1em;
}

.breadcrumbs > *:first-child {
    margin: 0 .5em 0 0;
}

.breadcrumbs a,
.breadcrumbs span {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(158, 158, 158, 0.5);
}

.breadcrumbs > a,
.breadcrumbs > span {
    background: #C6C6C6;
    padding: .4em .5em;
    float: left;
    position: relative;
}

.breadcrumbs > span > a:not(:last-child)::after {
    margin: 0 5px;
    content: '/';
    line-height: 1em;
    font-size: large;
    vertical-align: middle;
}

.breadcrumbs > a:hover {
    background: #99db76;
}

.breadcrumbs > a:not(:first-child)::before,
.breadcrumbs > span:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #C6C6C6 #C6C6C6 #C6C6C6 transparent;
    left: -1em;
}

.breadcrumbs > a:hover::before {
    border-color: #99db76 #99db76 #99db76 transparent;
}

.breadcrumbs > a::after,
.breadcrumbs > span::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #C6C6C6;
    right: -1em;
}

.breadcrumbs > a:hover::after {
    border-left-color: #99db76;
}

.breadcrumbs > .current,
.breadcrumbs > .current:hover {
    font-weight: bold;
    background: none;
}

.breadcrumbs > .current::after,
.breadcrumbs > .current::before {
    content: normal;
}

/*------- breadcrumbs end --------*/

/*------- container start --------*/
.container .text-muted {
    margin: 20px 0;
}

/*------- container end --------*/
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .social-network img {
    height: 2.5em;
}

.footer .copyright > * {
    display: inline-block;
    vertical-align: middle;
    padding: 0 40px 0 25px;
}

.footer .copyright > *:last-child {
    padding-right: 0;
}

.footer .copyright .restriction {
    font-size: 2em;
    font-weight: bold;
}

code {
    font-size: 80%;
}

.white {
    color: white;
}

.col-md-3.pull-right {
    clear: right;
}

.login-box.modal {
    overflow: hidden;
    margin-top: 5%;
}

.login-box.modal .glyphicon-remove-circle {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 50px;
    right: 30px;
}

.login-box.modal .logo {
    text-transform: uppercase;
    font-family: 'Arial Black';
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    color: white;
}

.login-box.modal ul {
    padding: 0;
    list-style-type: none;
}

.login-box.modal form {
    position: relative;
}

.login-box.modal form .error {
    display: none;
    font-size: 90%;
    color: red;
    position: absolute;
    right: 5px;
    top: 9px;
}

.login-box.modal input[type=text],
.login-box.modal input[type=password],
.login-box.modal select {
    background: white;
    padding: .7em;
    width: 100%;
    border: 1px solid #C2C2C2;
    margin-bottom: 10px;
    display: block;
}

.login-box.modal input:focus[type=text],
.login-box.modal input:focus[type=password] {
    border: 1px solid #5A5A5A;
}

.login-box.modal input[name*="username"] {
    padding-right: 50px;
}

.login-box.modal .modal-content {
    border: 0;
    border-radius: 0;
}

.login-box.modal .modal-content > * {
    padding: 30px;
    display: table-cell;
    vertical-align: top;
}

.login-box.modal .left-side {
    width: 60%;
}

.login-box.modal .left-side .toggle:not(:first-child) {
    display: none;
}

.login-box.modal .left-side .title {
    padding-bottom: 20px;
}

.login-box.modal .left-side .title > * {
    margin-right: 20px;
}

.login-box.modal .left-side .title {
    font-size: 20px;
    font-weight: bold;
}

.login-box.modal .left-side .captcha {
    position: relative;
}

.login-box.modal .left-side .captcha > input[name*=captcha] {
    padding-right: 90px;
}

.login-box.modal .left-side .captcha > img {
    position: absolute;
    right: -8px;
    top: 1px;
    cursor: pointer;
    border-left: 1px solid #C2C2C2;
}

.login-box.modal .left-side .captcha > a {
    display: none;
}

.login-box.modal .left-side .title :not(.selected),
.login-box.modal .left-side button + .lost-password {
    cursor: pointer;
    color: #89D000;
    border-bottom: 1px dashed #89D000;
}

.login-box.modal .left-side button + .lost-password {
    margin-left: 20px;
}

.login-box.modal .left-side .services {
    margin-top: 20px;
}

.login-box.modal .left-side .services > div {
    font-weight: bold;
    font-size: 16px;
}

.login-box.modal .left-side .services > ul {
    margin-top: 10px;
    display: table;
    width: 100%;
    text-align: center;
}

.login-box.modal .left-side .services > ul li {
    display: table-cell;
    margin: 0;
}

.login-box.modal .right-side {
    background-color: #F5F5F5;
    font-size: 13px;
    color: #5A5A5A;
    width: 40%;
}

.login-box.modal .right-side .title {
    margin: 20px 0 10px;
    font-size: 15px;
    font-weight: bold;
}

.login-box.modal .right-side ul li:before {
    content: '–';
    padding-right: 5px;
}

.login-box.modal button {
    margin-top: 10px;
}

.login-box-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: url("/static/images/avatars.jpg") 0 0 repeat fixed;
}

.login-box-background.active {
    opacity: 1;
    z-index: 1030;
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -o-transition: all 1s ease 0s;
    transition: 1s linear all;
}

div.modal-backdrop.in {
    opacity: .8;
    filter: alpha(opacity=80);
}