.response-head {
    font-size: 24px;
    line-height: 23px;
    letter-spacing: -1px;
}
div.box div.response-head {
    padding-left: 0;
}
.references_list .response {
    display: inline-block;
    min-height: 85px;
    border-top: 1px solid #eee;
    margin:  0;
    padding: 25px 0 0 0;
}

.references_list .response:first-child {
    border: none;
    padding-top: 20px;
}

.response-controls {
    padding-right: 15px;
    margin-top: 6px;
    margin-bottom: -3px;
}

.response-controls span {
    padding: 0 10px;
    border-right: 1px solid #393939;
}
.response-controls span:last-child {
    border: 0;
}
.response-controls span.last {
    border: none;
    padding-right: 0;
}

.criterion .elements .errorMessage{
    clear: both;
}

.references_list .response > div {
    float: left;
}

.references_list .response .response_leftside {
    width: 70px;
}

.references_list .response .response_content {
    width: 520px;
}

.references_list .response .response_rating {
    width: 50px;
    padding-top: 18px;
    margin-left: 10px;
}

.response_leftside .member_avatar {

}

.response_leftside .response_options .complaint {
    background: url(/ximg/icons/alert.png) no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

.response_leftside .response_options {
    padding-bottom: 10px;
    margin-top: 10px;
    clear: both;
}

.references_list .response .response_content > div {
    display: block;
    padding-bottom: 10px;
}

.response_content .good {
    background: url('/ximg/icons/good.png') 0 1px no-repeat;
    padding-left: 20px;
    margin-top: 5px;
}

.response_content .bad {
    background: url('/ximg/icons/bad.png') 0 5px no-repeat;
    padding-left: 20px;
}

.response_content .response_text blockquote {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F3F3F3;
    padding: 10px 10px 1px 10px;
    margin: 14px 15px;
}

.response_content .member,
.response_content .member_company {
    font-size: 0.85em;
}

.response_content .member span {
    color: #626b80;
}

.response_rating .rating_label {
    -khtml-border-radius: 3px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 3px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 3px;
    font-size: 15px;
    line-height: 1;
    margin-top: 0;
    padding: 5px 7px 5px;
    position: absolute;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    font-weight: bold;
    text-shadow: 0 1px #FFF;
}

.response_rating .rating_label .left_arrow {
    background: url(/ximg/gray_arrow.png) no-repeat;
    height: 13px;
    margin-top: -6px;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 9px;
}

.response_rating .rating_label .rating_detailed {
    width: 210px;
    height: 126px;
    position: absolute;
    top: -100px;
    left: -50px;
    padding: 5px;
    font-size: 12px;
    display: none;
    z-index: 210;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.response_rating .rating_label .rating_detailed dl {
    margin-bottom:50px;
    font-weight: normal;
    text-shadow: 0 1px #FFF;
}

.response_rating .rating_label .rating_detailed dl dt {
    float:left;
    margin-right:10px;
    padding:5px;
    width:170px;
}

.response_rating .rating_label .rating_detailed dl dd {
    margin:2px 0;
    padding:5px 0;
}

.response_leftside img {
    width: 54px;
    border: 1px solid #979797;
    padding: 1px;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 8px;
    margin-top: 3px;
}
.response-controls {
    margin-top: 6px;
}
.anti-box.border_bottom.fix {
    margin-top: 0px;
    margin-bottom: 30px;
}