@charset "UTF-8";

@font-face {
  font-family: "regforum-icons";
  src:url("/xfonts/regforum-icons.eot");
  src:url("/xfonts/regforum-icons.eot?#iefix") format("embedded-opentype"),
  url("/xfonts/regforum-icons.woff") format("woff"),
  url("/xfonts/regforum-icons.ttf") format("truetype"),
  url("/xfonts/regforum-icons.svg#regforum-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "regforum-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="rf-"]:before,
[class*=" rf-"]:before {
  font-family: "regforum-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rf-bell-fill:before {
  content: "a";
}
.rf-bookmark:before {
  content: "b";
}
.rf-bookmark-fill:before {
  content: "c";
}
.rf-bookmarks-bold:before {
  content: "d";
}
.rf-bubble:before {
  content: "e";
}
.rf-bubble-bold:before {
  content: "f";
}
.rf-bubble-fill:before {
  content: "g";
}
.rf-clock:before {
  content: "h";
}
.rf-companies-bold:before {
  content: "i";
}
.rf-excel-fill:before {
  content: "j";
}
.rf-eye:before {
  content: "k";
}
.rf-fb:before {
  content: "l";
}
.rf-files-bold:before {
  content: "m";
}
.rf-font-pref:before {
  content: "n";
}
.rf-friends-bold:before {
  content: "o";
}
.rf-heart:before {
  content: "p";
}
.rf-heart-fill:before {
  content: "q";
}
.rf-image:before {
  content: "r";
}
.rf-mail-fill:before {
  content: "s";
}
.rf-pdf-fill:before {
  content: "t";
}
.rf-plane-fill:before {
  content: "u";
}
.rf-posts-bold:before {
  content: "v";
}
.rf-print:before {
  content: "w";
}
.rf-profileforum-bold:before {
  content: "x";
}
.rf-quote-fill:before {
  content: "y";
}
.rf-reply-fill:before {
  content: "z";
}
.rf-settings-bold:before {
  content: "A";
}
.rf-tag:before {
  content: "C";
}
.rf-twit:before {
  content: "D";
}
.rf-userprofile-bold:before {
  content: "E";
}
.rf-vk:before {
  content: "F";
}
.rf-word-fill:before {
  content: "G";
}
.rf-author:before {
  content: "H";
}
.rf-settings:before {
  content: "B";
}
.rf-subscriptions-bold:before {
  content: "I";
}
