.service-icon {
    height: 31px;
    width: 31px;
    background: url("../ximg/uslugi-icons.svg");
}

.service-icon-blue {
    background: url("../ximg/uslugi-icons-blue.svg");
}

.service-icon.icon-egrul {
    background-position: 5px 0;
}

.service-icon.icon-reg-ip {
    background-position: 98px 0;
}

.service-icon.icon-enter-change {
    background-position: 65px 0;
}

.service-icon.icon-reg-le {
    background-position: 32px 0;
}

.service-icon.icon-real-estate {
    background-position: 0 97px;
}

.service-icon.icon-liquidation {
    background-position: 98px 98px;
}

.service-icon.icon-license {
    background-position: 64px 98px;
}

.service-icon.icon-gov {
    background-position: 32px 99px;
}

.service-icon.icon-valuation {
    background-position: 0 65px;
}

.service-icon.icon-reorganization {
    background-position: 98px 65px;
}

.service-icon.icon-protection {
    background-position: 66px 63px;
}

.service-icon.icon-taxes {
    background-position: 32px 64px;
}

.service-icon.icon-notarial {
    background-position: 0 32px;
}

.service-icon.icon-sro {
    background-position: 96px 32px;
}

.service-icon.icon-foreigners {
    background-position: 65px 32px;
}

.service-icon.icon-sbrfr {
    background-position: 32px 33px;
}