.page-serviceitem {
    background-color: #c60005;
}

.page-serviceitem .left .block1 {
    background: #15559a url("../ximg/register-ooo-icon.svg") no-repeat;
    background-position-y: 20px;
    background-position-x: center;
    text-align: center;
    padding: 20px;
    color: #ffffff;
}

.page-serviceitem .left .block1 .close-block {
    color: #ffffff;
    position: absolute;
    right: 15px;
    top: 15px;
    background: url("../ximg/close-icon.svg");
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.page-serviceitem .left .block1 .rating {
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    margin-top: 30px;
}

.page-serviceitem .left .block1 .rating > div:first-child {
    font-weight: 700;
}

.page-serviceitem .left .block1 .rating > div {
    display: inline-block;
}

.page-serviceitem .left .block1 .rating .rating-number {
    width: 40px;
    height: 100%;
    background-color: #0980ff;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 700;
    margin: 0 10px;
}

.page-serviceitem .left .block1 .title1 {
    font-size: 34px;
    font-weight: 400;
    line-height: 35px;
    max-width: 400px;
    margin: 20px auto;
}

.page-serviceitem .left .block1 .title2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.page-serviceitem .left .block1 .buttons .popup-btn-group {
    position: relative;
    display: inline-block;
}

.page-serviceitem .left .block1 .buttons .popup-call:before {
    position: absolute;
    right: 140px;
    top: -14px;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom: 7px solid #ffffff;
    content: ' ';
}

.page-serviceitem .left .block1 .buttons .popup-call {
    background: #ffffff url("../ximg/popup-call-bg.svg") left bottom no-repeat;
    position: absolute;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 2px 22px 5px rgba(0, 0, 0, 0.33);
    z-index: 100;
    width: 470px;
    right: -50px;
    text-align: left;
    margin-top: 10px;
}

.page-serviceitem .left .block1 .buttons .popup-call .close-block {
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url("../ximg/close-sm-icon.svg");
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.page-serviceitem .left .block1 .buttons .popup-call .popup-call-title {
    color: #4f4f4f;
    font-size: 19px;
    margin-bottom: 10px;
}

.page-serviceitem .left .block1 .buttons .popup-call .popup-call-description {
    color: #BDBDBD;
    font-size: 11px;
}

.page-serviceitem .left .block1 .buttons .popup-call .popup-call-fields input {
    background: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    height: 35px;
    margin-top: 5px;
    color: #4f4f4f;
    font-size: 12px;
}

.page-serviceitem .left .block1 .buttons .popup-call button {
    margin-top: 20px;
    background-color: #3077de;
    border-radius: 2px;
    height: 36px;
    font-size: 11px;
    font-weight: 700;
}

.page-serviceitem .left .block1 .buttons .popup-call .popup-call-fields input:focus {
    outline: none;
}

.page-serviceitem .left .block2 {
    padding: 25px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #ffffff;
}

.page-serviceitem .left .block2 .title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 25px;
}

.page-serviceitem .left .block2 ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.page-serviceitem .left .block2 ul li {
    padding-left: 10px;
    margin-bottom: 5px;
}

.page-serviceitem .left .block2 ul li:before {
    content: "-";
    margin-left: -10px;
    margin-right: 6px;
}

.page-serviceitem .left .block3 {
    padding: 20px 20px 20px 20px;
    color: #4a4a4a;
    font-size: 15px;
    background-color: #ffffff;
    overflow: hidden;
}

.page-serviceitem .left .block4 {
    padding: 0;
}

.page-serviceitem .left .block4 .order-item-top .order-item-top-icon {
    background: url("../ximg/brief-case.svg") right no-repeat;
    width: 65px;
    height: 65px;
    display: block;
}

.page-serviceitem .left .block4 .order-item-top .order-item-top-lines  > div.region:after {
    background: url("../ximg/search-icon.svg") right no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    content: ' ';
    position: absolute;
    right: 0;
    top: 12px;
}

.page-serviceitem .left .block4 .order-item-top .order-item-top-lines  > div.region input {
    padding-right: 20px;
}

.page-serviceitem .left .block4 .order-item-top .checkbox {
    float: left;
    width: 150px;
}

.page-serviceitem .left .block4 .order-item-top .transparent-button {
    float: right;
    margin-right: 20px;
    margin-top: 13px;
    font-size: 11px;
    font-weight: 700;
}

.page-serviceitem .left .block5 {
    background-color: #ffffff;
    padding: 0;
}

.page-serviceitem .left .block5 .top {
    overflow: hidden;
    padding: 20px 20px 30px 20px;
}

.page-serviceitem .left .block5 .reviews {
    float: left;
}

.page-serviceitem .left .block5 .reviews-title {
    font-size: 17px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.page-serviceitem .left .block5 .reviews-number {
    color: #979797;
    font-size: 12px;
    margin-bottom: 10px;
}

.page-serviceitem .left .block5 .reviews .btn {
    font-size: 12px;
    font-weight: 700;
    height: 25px;
    line-height: 12px;
}

.page-serviceitem .left .block5 .reviews .btn span {
    font-size: 15px;
}

.page-serviceitem .left .block5 .rating {
    float: right;
    width: 74px;
    height: 74px;
    background-color: #0980ff;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

.page-serviceitem .left .block5 .rating  .rating-number {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 2px;
}

.page-serviceitem .left .block5 .rating  .rating-title {
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.page-serviceitem .left .block5 .review-list {

}

.page-serviceitem .left .block5 .review-list .review-item {
    border-top: 1px solid #dfdfdf;
    overflow: hidden;
    padding: 30px 20px;
}

.page-serviceitem .left .block5 .review-list .review-item-left {
    line-height: 11px;
}

.page-serviceitem .left .block5 .review-list .review-item-left img {
    width: 76px;
    height: 76px;
}

.page-serviceitem .left .block5 .review-list .review-item-left .review-item-name {
    font-size: 12px;
    margin: 10px 0;
}

.page-serviceitem .left .block5 .review-list .review-item-left .review-item-title-wrap {
    display: table;
    width: 140px;
    margin-bottom: 10px;
}

.page-serviceitem .left .block5 .review-list .review-item-left .user-title-icon {
    width: 25px;
    height: 22px;
    background: url("../ximg/user-title-icon.svg");
    display: inline-block;
    margin-right: 10px;
}

.page-serviceitem .left .block5 .review-list .review-item-left .review-item-title {
    color: #9C9C9C;
    font-size: 11px;
    display: table-cell;
    vertical-align: middle;
}

.page-serviceitem .left .block5 .review-list .review-item-left .review-item-company-wrap {
    font-size: 11px;
}

.page-serviceitem .left .block5 .review-list .review-item-left .review-item-company-in {
    color: #818181;
}

.page-serviceitem .left .block5 .review-list .review-item-right {
    position: relative;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-settings {
    width: 16px;
    height: 16px;
    background: url("../ximg/settings-icon.svg");
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-rating {
    font-size: 12px;
}

.page-serviceitem .left .block5 .review-list .review-item-right .rating-number {
    width: 27px;
    height: 27px;
    background-color: #0980ff;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    line-height: 27px;
    display: inline-block;
    margin-right: 5px;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-type {
    margin-top: 20px;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-header {
    color: #404040;
    font-weight: 700;
    margin-bottom: 5px;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-header i {
    color: #676767;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-header span {
    font-size: 12px;
    margin-left: 5px;
}

.page-serviceitem .left .block5 .review-list .review-item-right .review-item-body {
    color: #717171;
    font-size: 12px;
}

.page-serviceitem .right {
    padding: 0;
}

.page-serviceitem .right .block3 {
    padding: 20px 30px;
}

.page-serviceitem .right .block3 .offers-title {
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.page-serviceitem .right .block3 .offers-list {
    margin-top: 30px;
}

.page-serviceitem .right .block3 .offers-item {
    background-color: #ffffff;
    margin-top: 15px;
}

.page-serviceitem .right .block3 .offers-item .top {
    color: #676767;
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.page-serviceitem .right .block3 .offers-item .bottom {
    padding: 5px 10px;
    overflow: hidden;
}

.page-serviceitem .right .block3 .offers-item .bottom .price {
    float: left;
    line-height: 31px;
    color: #0980ff;
    font-size: 13px;
}

.page-serviceitem .right .block3 .offers-item .bottom .cost {
    font-weight: 700;
}

.page-serviceitem .right .block3 .offers-item .bottom .service-icon {
    float: right;
}





