.page-services button.btn.btn-primary {
    background-color: #2f76dc;
}

.page-services button.btn.btn-primary:hover {
    background-color: #ffffff;
}

.page-services .block1 {
    background: url("../ximg/uslugi-bg.svg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 389px;
    overflow: hidden;
}

.page-services .block1 .uslugi {
    background: url("../ximg/uslugi.png") no-repeat center;
    width: 290px;
    height: 295px;
    margin: 35px auto auto auto;
}

.page-services .block1 .right {
    margin-top: 40px;
}

.page-services .block1 .right > *{
    color: #ffffff;
}

.page-services .block1 .right p {
    margin-top: 20px;
}

.page-services .block1 .right .features {
    margin-top: 30px;
}

.page-services .block1 .right .features .feature-icon.icon-company {
    background: url("../ximg/uslugi-company.svg") no-repeat center;
}

.page-services .block1 .right .features .feature-icon.icon-orders {
    background: url("../ximg/uslugi-orders.svg") no-repeat center;
}

.page-services .block1 .right .features .feature-icon.icon-catalog-count {
    background: url("../ximg/uslugi-catalog-count.svg") no-repeat center;
}

.page-services .block1 .right .features .feature-icon {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.page-services .block1 .right .features .feature-text1 {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.page-services .block1 .right .features .feature-text2 {
    font-size: 43px;
    font-weight: 700;
    margin: 10px 0;
}

.page-services .block1 .right .features .feature-text3 {
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
}

.page-services .block2 {
    height: 68px;
    background-color: #0980ff;
}

.page-services .block2 .search {
    padding: 20px;
    overflow: hidden;
}

.page-services .block2 .search span {
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;
}

.page-services .block2 .search input {
    background: transparent;
    border: none;
    width: 80%;
    height: 30px;
    opacity: 0.47;
    font-size: 17px;
    font-weight: 400;
    color:#ffffff;
    padding: 0 10px;
}

.page-services .block2 .search input::-webkit-input-placeholder {color:#ffffff;}
.page-services .block2 .search input::-moz-placeholder          {color:#ffffff;}/* Firefox 19+ */
.page-services .block2 .search input:-moz-placeholder           {color:#ffffff;}/* Firefox 18- */
.page-services .block2 .search input:-ms-input-placeholder      {color:#ffffff;}

.page-services .block2 .search input:focus {
    outline: 1px solid #ffffff;
}

.page-services .block2 .region {
    padding: 15px 20px;
}

.page-services .block2 .region-inner {
    float: right;
}

.page-services .block2 .region .region-inner > span {
    color: #ffffff;
    font-size: 30px;
    float: left;
    margin-top: 5px;
}

.page-services .block2 .region .select {
    margin-left: 40px;
    position: relative;
}

.page-services .block2 .region .select-hint {
    color: #c2dcf9;
    font-size: 11px;
    font-weight: 400;
    white-space: nowrap;
}

.page-services .block2 .region .select-active {
    color: white;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

.page-services .block2 .region .select-wrap {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 5px 9px 1px rgba(31, 31, 31, 0.08);
    position: absolute;
    right: 10px;
    width: 190px;
    top: 50px;
    z-index: 100;
}

.page-services .block2 .region .select-wrap .select-angle {
    position: absolute;
    left: 50%; top: -14px;
    margin-left: -7px;
    border: 7px solid transparent;
    border-bottom: 7px solid #f8f8f8;
}

.page-services .block2 .region .select-wrap .scroller {
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
}

.page-services .block2 .region .select-wrap .scroller:focus {
    outline: none;
}

.page-services .block2 .region .select-wrap ul {
    list-style: none;
    margin: 10px 20px;
    padding: 0;
}

.page-services .block2 .region .select-wrap ul li {
    margin-bottom: 5px;
    cursor: pointer;
}

.page-services .block2 .region .select-search {
    height: 50px;
    background-color: #f8f8f8;
    padding: 10px;
    line-height: 30px;
    box-shadow: 0 7px 8px 0px rgba(31, 31, 31, 0.08)

}

.page-services .block2 .region .select-search span {
    color: #c6c6c6;
    font-size: 13px;
    margin-right: 5px;
}

.page-services .block2 .region .select-search input {
    background: transparent;
    border: none;
    font-size: 13px;
    color: #bcbcbc;
    padding: 0 10px;
    font-style: italic;
    width: 148px;
}

.page-services .block2 .region .select-search input:focus {
    outline: 1px solid #A9A9A9;
}

.page-services .block3 {
    padding: 25px 35px;
    border-bottom: 1px solid #e4e4e4;
}

.page-services .block3 .service-list {
    margin-top: 70px;
}

.service-item {
    position: relative;
    height: 210px;
    overflow: hidden;
}

.service-item:hover {
    overflow: visible;
}

.page-services .block3 .service-item-inner {
    padding: 10px;
    background: #ffffff;
}

.page-services .block3 .service-item-inner:hover {
    box-shadow: 0 5px 9px 1px rgba(170, 170, 170, 0.5);
    position: absolute;
    z-index: 1;
    width: 90%;
}

.page-services .block3 .service-item-inner .item-title {
    color: #676767;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ededed;
    margin-top: 20px;
}

.page-services .block3 .service-item-inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-services .block3 .service-item:hover ul {
}

.page-services .block3 .service-item-inner ul li {
    margin-bottom: 10px;
}

.page-services .block3 .service-item:hover .item-more {
    display: block;
}

.page-services .block3 .service-item-inner .item-more {
    border-top: 1px solid #ededed;;
    font-size: 12px;
    padding-top: 5px;
    margin-top: 10px;
    position: relative;
    display: none;
}

.page-services .block3 .service-item-inner .item-more span {
    color: #9b9b9b;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    top: 0;
}

.page-services .block4 {
    padding: 25px 35px 40px 25px;
}

.page-services .block4 h2 {
    max-width: 450px;
    margin-bottom: 20px;
}