.tags_form div.main_block,
.tags_form div.additional_block {
    width: 49%;
}
.tags_form .main_block {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.tags_form .main_block .objects_list {
    width: 100%;
    position: absolute;
    display: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    z-index: 100;
}
.tags_form .main_block .objects_list >ul {
    max-height: 200px;
    overflow-y: auto;
}
.tags_form .main_block .objects_list li {
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
    line-height: 15px;
}
.tags_form .main_block .objects_list li:hover {
    background-color: #eeeeee;
}
.tags_form .main_block .objects_list >div {
    padding: 0 5px 5px 5px;
}
.tags_form .main_block .objects_list input {
    width: 100%;
    box-sizing: border-box;
    background: url('../ximg/icons/search_13x13.png') 98% no-repeat;
}
.tags_form .main_block span.select, .main_block span.default {
    padding-right: 5px;
    font-size: 1.2em;
}
.tags_form .main_block span.select {
    display: none;
}

.tags_form .main_block .select_button {
    cursor: pointer;
    display: block;
    background-color: #e6e6e6;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);/* IE6-9 */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px #fff;
    color: #333;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}
.tags_form .main_block .select_button.active {
    background-color: #ffffff;/* Old browsers */
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(25%, #e6e6e6), to(#ffffff));/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #e6e6e6, #e6e6e6 25%, #ffffff);/* FF3.6+ */
    background-image: -ms-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* IE10+ */
    background-image: -o-linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* Opera 11.10+ */
    background-image: linear-gradient(#e6e6e6, #e6e6e6 25%, #ffffff);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);/* IE6-9 */
    border: 1px solid #cccccc;
    border-bottom: 0;
    padding-bottom: 7px;
}
.tags_form .main_block .arrow_down {
    height: 18px;
    width: 18px;
    background: url('../xlib/jquery/chosen/chosen-sprite.png') 6px 3px no-repeat;
    position: absolute;
    top: 6px;
    right: 14px;
}
.tags_form .main_block .objects_list ul li {
    cursor: pointer;
    background: url('/ximg/icons/add.png') 98% 6px no-repeat;
}
.tags_form .main_block .objects_list li.new {
    background-color: rgba(0, 255, 7, 0.26);
}
.tags_form .additional_block .selected_tag {
    margin-bottom: 5px;
    border-radius: 4px;
    background: #ffffff;
    cursor: move;
}
.tags_form .add_tag .tag {
    width: 60%;
}
/* можно переопределить для каждой страницы */
.tags {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 11px;
    background: url('/ximg/icons/tag-red.png') 0 6px no-repeat;
}
.tags a.tag {
    color: #727272;
    text-decoration: underline
}
.tags a.tag:hover {
    color: #a3a3a3;
}
.disabled {
    opacity: 0.5;
}