body {
    font-family: Tahoma;
    font-size: 12px;
}

.mceContentBody blockquote, .forceColors blockquote {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F3F3F3;
    padding: 10px;
    margin: 14px 15px;
}

.mceContentBody a.member, .forceColors a.member {
    background: url(/ximg/icons/user.png) no-repeat;
    padding-left: 16px;
}

.mceContentBody blockquote p.message_from, .forceColors blockquote p.message_from{
    border-bottom: 1px dotted #bcbcbc;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.mceContentBody blockquote p, .forceColors blockquote p{
    margin: 0;
}

.mceContentBody p, .forceColors p {
    word-wrap: break-word;
}

.mceContentBody img, .forceColors img {
    max-width: 475px;
}

.mceContentBody .incut {
    float: right;
    width: 265px;
    background-color: #DFDFDF;
    padding: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

hr.insert-cut {
    height: 0;
    border: 1px dashed red;
    color: transparent;
    background-color: transparent;
}

hr.spoiler {
    border: 1px dashed gray;
}

.h3 {
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: bold;
    padding-top: 12px;
    margin-bottom: 5px;
}
.fs13 {
    font-size: 13px;
}
.fs14 {
    font-size: 14px;
}
.mceContentBody .hint {
    font-size: 0.75em;
    margin: 0;
    padding: 0;
    color: #999;
    margin-top: -10px;
    margin-bottom: 10px;
}

.member_gray,
.member.gray
{
    display: inline-block;
    color: #727272;
    padding-left: 5px;
}

.mceContentBody p.attention {
    border: 1px solid #C5EEC9;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(45, 238, 45, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}