.switch {
    display: inline-block;
    box-sizing: border-box;
    width: 40px;
    height: 21px;
    border-radius: 999px;
    background-color: #b7b7b7;
    margin-bottom: 10px;
    -webkit-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
    -moz-transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
    transition: background-color cubic-bezier(.25, .46, .45, .94) .2s;
    float: right;
}
.switch .helper {
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: block;
    background-color: #fff;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    -moz-transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}
.switch.ui-checked {
    border-color: #4cd864;
    background-color: #4cd864
}
.switch.ui-checked .helper {
    -webkit-transform: translateX(19px);
    -moz-transform: translateX(19px);
    -ms-transform: translateX(19px);
    -o-transform: translateX(19px);
    transform: translateX(19px)
}