.best_authors .boxcnt {
    min-height: 275px;
}

.best_commenters .member_data div,
.best_commenters .member_data a,
.best_authors .member_data div,
.best_authors .member_data a {
    white-space: nowrap;
}

.best_commenters .boxcnt .top,
.best_authors .boxcnt .top {
    font-size: 0.9em;
    letter-spacing: -1px;
    color: #626b80;
    position: relative;
}
.best_authors .best_author {
    color: red;
}

.boxcnt .top .data .userpic {
    float: left;
    padding: 5px 5px 0 0;
    width: 40px;
    height: 40px;
}
.boxcnt .top .data .userpic div.comment_avatar_wrapper {
    height: 40px;
    width: 40px;
    position: absolute;
}
.boxcnt .top .data .userpic .comment_avatar {
    display: block;
    border: 1px solid #FFFFFF;
    height: 38px;
    width: 38px;
    overflow: hidden;
}
.boxcnt .top .data .member_data {
    min-height: 44px;
}

.boxcnt .top .data .userpic img {
/*    width: 38px;
    height: 38px;*/
}

.boxcnt .top .data .member_data > div {
    display: inline;
}

.boxcnt .top .data {
    clear: both;
    padding-bottom: 5px;
    padding-top: 5px;
    min-height: 38px;
    border-bottom: 1px solid #D8DAE2;
}
.boxcnt .top .data:last-child {
    border-bottom: 0;
}
.boxcnt .top .data .member_data .plus {
    float: right;
    background: url(/ximg/icons/plus.png) 0 10px no-repeat;
    padding: 3px 0 3px 11px;
    font-size: 16px;
    margin-top: 7px;
}

.boxcnt .top .data .member_data .member {
    font-size: 1.3em;
    width: 145px;
    display: inline-block;
}

.boxcnt .all {
    display: none;
}
.boxcnt hr {
    clear: both;
    margin-top: 10px;
}

.best_commenters .boxfooter,
.best_authors .boxfooter {
    border-top: 1px solid #D8DAE2;
    margin-top: -10px;
    text-align: center;
}
.boxfooter .ll {
/*    margin-left: 15px;
    margin-right: 15px;*/
}

.boxfooter a,
.boxfooter a:hover {
    text-decoration: none;
    border-bottom-style: none;
}

.boxfooter a:hover {
    border-bottom-style: solid;
}

.boxfooter .notactive {
    color: #4444ba;
}
.boxfooter .active {
    border-bottom: 0px!important;
    cursor: default!important;
}
.ajaxLoader {
    background: url(/ximg/loader.gif) 0 0 no-repeat;
    height: 32px;
    width: 32px;
    position: absolute;
    display: none;
    margin-left: 15px;
}
.hot_topics .topic_title a,
.best_topics .topic_title a,
.tag_topics .topic_title a
{
    line-height: 1.3;
    font-size: 16px;
    color: #4444ba;
}
div.hot_topics .topic_title a,
div.tag_topics .topic_title a
{
    font-size: 13px;
    font-weight: bold;
}
.hot_topics .member,
.tag_topics .member
{
    padding-top: 2px;
    font-size: 11px;
    color: #727272;
}
.hot_topics .member a,
.tag_topics .member a
{

}
.hot_topics .member .date,
.hot_topics .data .votes,
.tag_topics .member .date,
.tag_topics .member .votes
{
    font-size: 11px;
}
.hot_topics .data,
.tag_topics .data
{
    padding: 4px 0 7px;
}

div.best_topics,
div.similar_topics {
    margin-top: -5px;
    margin-bottom: -5px;
}
.best_topics table .votes,
div.similar_topics table .votes {
    background: url('../ximg/icons/plus-circle.png') no-repeat 5px 50%;
    padding: 1px 0 1px 24px;
    color: #727272;
}
.best_topics table .comments,
div.similar_topics table .comments {
    padding: 0 0 0 20px;
    color: #727272;
    background: url('../ximg/icons/comments.png') 0 0 no-repeat;
}
.best_topics table tr,
div.similar_topics table tr {
    border-top: 1px solid #eaeaea;
}
.best_topics table tr td,
div.similar_topics table tr td {
    padding: 8px 8px 8px 0;
}
.best_topics table tr:first-child,
div.similar_topics table tr:first-child {
    border: 0;
}
.best_topics table tr td:first-child,
div.similar_topics table tr td:first-child {
    width: 85%;
}

.online_users.box .boxfooter{
    text-align: right;
    margin-top: 0;
}
.online_users .boxfooter a:hover {
    border-bottom-width: 1px;
}