.top_list div span {
    display: block;
    font-size: 11px;
    color: #525252;
}

.top_list {
    padding-bottom: 30px;
}

.top_list > div {
    position: relative;
}

.top_list .comment_count {
    background: url(/ximg/icons/comments.png) 0 2px no-repeat;
    position: absolute;
    top: 8px;
    right: 50px;
    padding-left: 20px;
}