/*
 * todo: remove
 */
h2.pin {
    background: url(/ximg/icons/flag_green.png) 0 19px no-repeat;
    padding-left: 27px;
}

.publish {
    position: absolute;
    top: 14px;
    right: 20px;
}

.author_info {
    min-height: 50px;
}

.author_name {
    text-align: center;
    /*    border-bottom: 1px solid #E9E9E9;*/
    padding: 10px 0;
}

.company_name {
    text-align: center;
}

.company_name span {
    display: block;
    font-size: 1.1em;
}

.author_name a {
    display: block;
    font-size: 1.4em;
    margin-top: 2px;
    letter-spacing: -1px;
}

.author_name a span {
    display: block;
    font-size: 0.95em;
}

.author_pic {
    text-align: center;
}

.author_stat {
    width: 120px;
    display: inline-block;
}

.author_pic img {
    -webkit-box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.4);
    box-shadow: 2px 2px 6px 1px rgba(33, 33, 33, 0.4);
    border: 1px solid #444;
    padding: 1px;
}

/*.topic_controls .favourites {
    background: url(/ximg/icons/bookmark.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}*/

.topic_controls {
    clear: both;
    padding: 3px 0;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #727272;
    font-size: 11px;
    -webkit-box-shadow: 0 2px 0 0 #FAFAFA;
    box-shadow: 0 2px 0 0 #FAFAFA;
    line-height: 17px;
    min-height: 19px;
    position: relative;
    /*overflow: hidden;*/
    zoom: 1;
}

.topic_controls.topic_header {
    border-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.topic_controls > div {
    clear: right;
}

.topic_controls .vote .publication {
    cursor: pointer;
}

.topic_controls .topic_kind {
    margin-top: -4px;
}

.topic_moderation {
    float: right;
}

.moderation .topic_moderation {
    margin-top: -38px;
}

.topic_moderation .dropdown > div {
    color: #ffffff;
    background-color: #888888;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 11px;
    line-height: 17px;
}

.topic_moderation .dropdown-menu li > a {
    font-weight: normal;
    line-height: 20px;
    color: #333333;
}

.topic_moderation .dropdown-menu li > a {
    font-size: 11px;
}

.topic_text p {
    padding: 1px 0;
    word-wrap: break-word;
}

.topic_text p.h3,
.topic_text h2 {
    font-size: 17px;
    letter-spacing: -1px;
    font-weight: bold;
    padding-top: 12px;
    margin-bottom: 5px;
}

.topic_text img {
    max-width: 660px;
    margin: 0 15px 10px 0;
}

.topic_text p img {
    margin: 0;
}

.topic_text ul, .comment_text ul {
    list-style: disc;
    padding: 5px 20px 20px 18px;
}

.topic_text ol, .comment_text ol {
    list-style: decimal;
    padding: 5px 20px 20px 23px;
}

.topic_text blockquote {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F3F3F3;
    padding: 10px;
    margin: 14px 15px;
}

.topic_text blockquote p:last-child {
    margin-bottom: 0;
}

.topic_text blockquote ul {
    padding: 5px 20px 5px 18px;
}

.topic_text blockquote {
    quotes: "“" "”";
}

.topic_text blockquote p:first-child:before {
    content: "\00ab";
}

.topic_text blockquote p:last-child:after {
    content: "\00bb";
}

.topic_text .incut {
    float: right;
    width: 265px;
    background-color: #E5E5E5;
    padding: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.topic_text table {
    border: 1px solid #dedede;
    background-color: white;
    margin-bottom: 10px;
}

.topic_text table tr {
    border-bottom: 1px solid #dedede;
}

.topic_text table td {
    border-right: 1px solid #dedede;
    padding: 7px;
    vertical-align: top;
}

.topic_text table.transparent {
    background: none;
    border: none;
}

.topic_text table.transparent tr,
.topic_text table.transparent td {
    border: none !important;
}

.topic_text table.transparent td.pl0 {
    padding-left: 0;
}

.topic_text table img.author_avatar {
    border: 1px solid #ccc;
    padding: 1px;
}

/*ui-widget fix start*/
#page_preview_dialog {
    background: #F8F8F8;
}

.ui-widget .topic_text {
    color: #333;
    font-size: 13px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.ui-widget .topic_text a {
    color: #4444ba;
}

.ui-widget .topic_text a:hover {
    color: #5555e6;
    text-decoration: underline;
}

/*ui-widget fix end*/

.place-editor {
    height: 310px;
    *height: 330px;
}

div.mobile .place-editor {
    height: 250px !important;
    *height: 260px;
}

.comment_text blockquote {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #D7E1F7;
    padding: 10px 10px 1px 10px;
    margin: 14px 15px;
    font-size: 0.85em;
}

.comment_text blockquote p.message_from {
    border-bottom: 1px dotted #ACB2DB;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.comment_text p {
    word-wrap: break-word;
}

.comment_text img {
    max-width: 475px;
}

.topic_text span.ul, .comment_text span.ul {
    text-decoration: underline;
}

.topic_text p.subtitle {
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 20px;
    padding-top: 8px;
}

.comment_text p.subtitle {
    font-size: 1.2em;
    letter-spacing: -1px;
    line-height: 20px;
}

.topic_text .member, .comment_text .member {
    background: url(/ximg/icons/user.png) no-repeat;
    padding-left: 16px;
}

.topic_header {
    padding: 15px 0 6px 50px;
}

.topic_author {
    position: absolute;
    top: 0;
    font-size: 1.1em;
}

.topic_controls a, .comment_controls a {
    padding: 2px 0;
}

.viewall {
    padding: 8px 0;
}

.air {
    margin-bottom: 40px;
    margin-top: 10px;
}

.owner_controls {
    padding: 23px 0;
}

.owner_controls > div {
    display: inline;
    padding-right: 5px;
}

.topic_controls .ld > div, .comment_controls .ld > div {
    border-right: 1px #ddd;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

.topic_controls div,
.comment_controls .ld > div {
    float: left;
}

.topic_controls .ld> div:last-child,
.comment_controls .ld > div:nth-last-child(2) {
    border-right: 0;
}

.comment_controls .vote * {
    display: inline-block;
}

.comment_controls .ld {
    float: left;
    width: 90%;
}

.comment_controls .vote {
    float: right;
}

.topic_controls .topic_rating {
    position: absolute;
    right: 2px;
}

.topic_controls div.vote {
    position: absolute;
    right: -5px;
    margin: 0;
}

.topic_controls .topic_comments a {
    background: url(/ximg/icons/comments.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.topic_controls .topic_comments_team a {
    background: url(/ximg/icons/comments_team.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.controls .topic_comments_team a {
    background: url(/ximg/icons/comments_team.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.topic_controls a.visitors {
    background: url(/ximg/icons/user_blue.png) 0 2px no-repeat;
    padding: 3px 0 1px 20px
}

.topic_controls span.reads,
.topic_controls div.reads span {
    background: url(/ximg/icons/glass.png) 0 2px no-repeat;
    padding: 3px 0 1px 20px
}

div.topic_controls div.reads span {
    padding: 3px 0 3px 20px
}

.topic_controls .attached_files span {
    background: url(/ximg/icons/attachment.png) 0 1px no-repeat;
    padding: 3px 0 3px 20px
}

.corporate li .topic_author_avatar,
.topic_controls .topic_author_avatar {
    border: 1px solid #ccc;
    padding: 1px;
}

.topic_controls .topic_author_avatar {
    margin-top: -5px;
    position: absolute;
    width: 38px;
    height: 38px;
    top: 0;
    left: 0;
}

.topic_controls div.dropdown-menu {
    margin-top: 7px;
    padding: 0;
}

.topic_controls div.dropdown-menu > div {
    overflow-y: auto;
    padding: 8px;
    max-height: 300px;
    min-width: 400px;
}

div.topic_author_avatar a.author_avatar {
    display: block;
    height: 38px;
    width: 38px;
    overflow: hidden;
    padding: 0;
}

.corporate li div.topic_author_avatar {
    float: left;
    margin-right: 10px;
}

.corporate li {
    margin-bottom: 13px;
    clear: both;
    overflow: hidden;
}

.corporate li a,
.corporate li div {
    font-size: 12px;
}

.corporate li .member,
.corporate li .member a {
    font-size: 11px;
}

.corporate li .member a {
    color: #526080;
}

.corporate li .member.mr5 {
    float: left;
}

.corporate .topic-summary {
    display: block;
    width: 200px;
    float: left;
    margin-top: -4px;
}

.corporate .topic-summary > a {
    margin-bottom: 5px;
}

.vote a, .favourites a {
    width: 16px;
    height: 16px;
    display: block;
}

.topic_controls .vote > div > a {
    margin: 3px 6px;
}

.vote span {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 0 -4px 5px;
}

.vote img {
    margin: 0 0 -1px 5px;
}

.vote .vote_plus {
    background: url(/ximg/icons/plus-circle.png) no-repeat;
}

.vote .vote_minus {
    background: url(/ximg/icons/minus-circle.png) no-repeat;
}

.favourites a.add_favourite {
    background: url(/ximg/icons/star_gray.png) 0 2px no-repeat;
}

.favourites a.remove_favourite {
    background: url(/ximg/icons/star_yellow.png) 0 2px no-repeat;
}

.topic_controls .ld .favourites {
    background: url(/ximg/icons/star_yellow.png) 0 1px no-repeat;
    padding-left: 19px;
}

.favourites > div {
    margin-right: 5px;
}

/*
 * Comment controls
*/

.comment_tools {
    float: right;
}

.comment_tools .user_edit {
    background: url(/ximg/icons/user_edit.png) no-repeat;
    padding-left: 16px;
    height: 15px;
    display: inline-block;
}

.comment_tools .comment_edit {
    background: url(/ximg/icons/edit.png) no-repeat;
    background-size: 16px, 16px;
    margin-right: 8px;
    height: 16px;
    width: 16px;
    display: inline-block;
}

.comment_controls {
    margin-left: 5px;
    margin-top: 1px;
    font-size: 0.85em;
    padding: 3px 0px 7px 0;
    line-height: 17px;
    overflow: hidden;
    zoom: 1;
    transition: All 250ms linear;
    -webkit-transition: All 250ms linear;
    -moz-transition: All 250ms linear;
    -o-transition: All 250ms linear;
}

.comment_content {
    background: #F2F2F8;
    border: 1px solid #D8DAE2;
    padding: 5px 10px 5px 7px;
    border-radius: 5px;
    position: relative;
}

.topic_comment,
.add_comment {
    clear: both;
    font-size: 1.3em;
    padding: 10px 0;
}

.comment {
    min-height: 60px;
    margin-bottom: 10px;
    padding: 10px 0 0 50px;
    position: relative;
}

.comment_controls .complaint {
    background: url(/ximg/icons/alert.png) no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

.comment_controls .www_link {
    display: none;
    float: none;
    width: 100%;
}

.comment_controls .web_link {
    background: url(/ximg/icons/web_link.png) no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    cursor: pointer;
}

section div.comment_avatar_wrapper {
    border: 1px solid #ccc;
    padding: 1px;
    top: 10px;
    left: 0px;
    height: 40px;
    width: 40px;
    position: absolute;
}

section .comment_avatar {
    /*border: 1px solid #ccc;
    padding: 1px;
    top: 10px;
    left: 0px;
    width: 48px;
    position: absolute;*/
    display: block;
    border: 1px solid #FFFFFF;
    height: 38px;
    width: 38px;
    overflow: hidden;
}

.owner {
    background: #FFFEDD;
    border: 1px solid #FAF0D6;
}

.my {
    background: #E6F8DC;
    border: 1px solid #C7F0B8;
}

.technical {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
}

.comment_content .comment_header {
    font-size: 0.9em;
    position: relative;
}

.comment_content .comment_header .reply_username {
    background: url(/ximg/icons/arrow_reply.png) 5px no-repeat;
    padding-left: 25px;
}

.content .topic_text,
.comment_content .comment_text {
    position: relative;
}

.vote .val, .topic_rating {
    border-radius: 5px;
    border: 1px solid #EEE;
    padding: 2px 4px;
    font-weight: bold;
    color: #949494;
}

.vote .pos, .topic_controls .pos {
    color: #61cf4d;
    background-color: rgba(45, 238, 45, 0.1);
    border: 1px solid #C5EEC9;
    font-size: 11px;
}

.vote .neg, .topic_controls .neg {
    color: #eb7065;
    background-color: rgba(245, 31, 31, 0.1);
    border: 1px solid #F3CBCB;
}

.vr img {
    margin: 6px;
}

.cl1 {
    margin-left: 20px;
}

.cl2 {
    margin-left: 40px;
}

.cl3 {
    margin-left: 60px;
}

.cl4 {
    margin-left: 80px;
}

.cl5 {
    margin-left: 100px;
}

.cl6 {
    margin-left: 120px;
}

.markItUp {
    width: 99%;
}

.markItUpEditor {
    width: 99%;
    height: 120px;
}

.rubric_menu {
    background: url(/ximg/icons/folder.png) 0 2px no-repeat;
    list-style-type: none;
    margin-top: -22px;
    margin-bottom: 27px;
    font-size: 12px;
    padding-left: 24px;
}

.rubric_menu li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px #ddd;
    border-right-style: solid;
}

.rubric_menu li:last-child {
    border: 0;
}

.company_blog {
    background: url(/ximg/icons/go-home.png) 0 1px no-repeat;
    padding-left: 24px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.period_menu, .publications_type {
    width: 49%;
    list-style-type: none;
    margin-top: -22px;
    margin-bottom: 27px;
    font-size: 12px;
}

.period_menu {
    float: left;
}

.publications_type {
    float: right;
}

.publications_type li {
    float: right;
    padding-right: 10px;
}

.period_menu li {
    float: left;
    padding-right: 10px;
}

.period_menu .active span, .publications_type .active * {
    padding: 2px 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #4D5DCF;
    background-color: rgba(45, 68, 238, 0.1);
    border: 1px solid #C1C3EE;
}

.quoting_menu {
    position: absolute;
    z-index: 50;
    background-color: #F1DE79;
    padding: 3px 5px;
    border-radius: 7px;
    border: 1px solid #C4AE6A;
    color: #6F5622;
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 1px rgba(107, 85, 38, 0.5);
    box-shadow: 0 0 3px 1px rgba(107, 85, 38, 0.5);
}

.attached_files > div {
    background: url(/ximg/icons/attachment.png) 0 1px no-repeat;
    padding-left: 20px;
}

.content > div.attached_files {
    margin-bottom: 15px;
}

.voted_members {
    background: #E8F7EA;
    border: 1px solid #B4E4BB;
    padding: 5px 10px 5px 7px;
    border-radius: 5px;
    position: relative;
    min-height: 20px;
}

/* messages */
.thanks {
    border: 1px solid #89CA92;
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin-top: 5px;
    font-size: 1.2em;
    background: #C0EBC0 url(/ximg/white_arrow.png) 97% 12px no-repeat;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.85);
}

/* vote controls */
#topic-sandbox-votes-form button {
    font-size: 0.9em;
    margin: 0 5px 5px 0;
}

#topic-sandbox-votes-form button:first-child {
    margin-left: 0;
}

#topic-sandbox-votes-form button.green {
    color: #346423;
    border-bottom-color: #b1cb49;
}

#topic-sandbox-votes-form .buttons {
    margin: 15px 0;
}

.vote-stats ul li {
    list-style: none;
}

span.vote_type {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACZ0lEQVR4XpWTT0gUURzHv2/mrQ66tivqbqyKyhrkIVEKMlwIKrq0mUuXyCSwWIJVw8gIDDoEXaJQd7qYCRFB1sHAIOjPKQ+ejCCjQ2B1MCUUrd2dHXdmXr83DCEhkZ/Zz87j936/73ssLDYT7Uwr0YTevq97PH2099HcyStPlxKXnywduvBwrrXrXjqaSLdHO3UFW9GY0Kv2n72vd19/ZgwOvxJX9TdicOS1GLjzUvTdeiHO3ZgWHZceG61dY/ou6oWHm1bXMRKuriqbONBck6oJlWkOgKYIx6lYOc4crEBLvQbGgFC5X9tdV5Eq36FNNJxIh0Hw2mPDamWgZGhPYyjuUxVkjQKEANqbqxEIBEDQex1vP87Dsh0o1FMbCsQN0xqqPz46oBT51LaGSDCpqgxZ06ImAdtx8OFrDsFg0PX9QoZqVKe9DcumEIbKYEmSq6yNtZweG93btLNPpeQ/CMCRj01vIRVwKNQNsRx5Ezfoy/f1NC8rKYoBDIWCAwkjU/FqlJaWwufzQWIYBq49mIdp2jALNgo0LG8phIhxrdgXKdg2hAMoCoPk9tQ3jFyMgXMOSSaTwaeFFW8IpICEMRbhskgfSnWQy5lY/ZXHWsaEpmnw+/3wcE91AXNlDC48m9tYXFnLhZdXs/hJgxalKbRrWRY2w6i2BYt8LZOfoVNb5QmqooCrCrbBDLdsMSkgkjRYjO1hkpPytrP0NYZNTN887P6AHnLt1v5Czswy738QBjBOxvF/PCfPf57qXVZAyAWAHvIumf/HYN7r6fFm4AZ4IT8A9JNHSJ18Ry5LvbXu7fW7vR6/AcEVCYDAQ3OAAAAAAElFTkSuQmCC") no-repeat;
    cursor: pointer;
    padding-left: 20px;
}

.topic_kind .news,
#topic_form .topic_kind .news:hover,
.file_class span:nth-child(1) {
    border-color: #be1f39;
    background-color: #be1f39;
}

#topic_form .topic_kind span.gray.news {
    border-color: #be1f39;
    color: #be1f39;
}

.topic_kind .article,
#topic_form .topic_kind .article:hover,
.file_class span:nth-child(2) {
    border-color: #2155db;
    background-color: #2155db;
}

#topic_form .topic_kind span.gray.article {
    border-color: #2155db;
    color: #2155db;
}

.topic_kind .interview,
#topic_form .topic_kind .interview:hover,
.file_class span:nth-child(3) {
    border-color: #d35d0f;
    background-color: #d35d0f;
}

#topic_form .topic_kind span.gray.interview {
    border-color: #d35d0f;
    color: #d35d0f;
}

.topic_kind .instruction,
#topic_form .topic_kind .instruction:hover,
.file_class span:nth-child(4) {
    border-color: #a72ab8;
    background-color: #a72ab8;
}

#topic_form .topic_kind span.gray.instruction {
    border-color: #a72ab8;
    color: #a72ab8;
}

.topic_kind .overview,
#topic_form .topic_kind .overview:hover,
.file_class span:nth-child(5) {
    border-color: #61972e;
    background-color: #61972e;
}

#topic_form .topic_kind span.gray.overview {
    border-color: #61972e;
    color: #61972e;
}

.topic_kind .view,
#topic_form .topic_kind .view:hover,
.file_class span:nth-child(6) {
    border-color: #2ab836;
    background-color: #2ab836;
}

#topic_form .topic_kind span.gray.view {
    border-color: #2ab836;
    color: #2ab836;
}

.topic_kind .experience,
#topic_form .topic_kind .experience:hover,
.file_class span:nth-child(7) {
    border-color: #8e94b1;
    background-color: #8e94b1;
}

#topic_form .topic_kind span.gray.experience {
    border-color: #8e94b1;
    color: #8e94b1;
}

.topic_kind .faq,
#topic_form .topic_kind .faq:hover,
.file_class span:nth-child(8) {
    border-color: #cac837;
    background-color: #cac837;
}

#topic_form .topic_kind span.gray.faq {
    border-color: #cac837;
    color: #cac837;
}

.topic_kind .education,
#topic_form .topic_kind .education:hover,
.file_class span:nth-child(9) {
    border-color: #00bfff;
    background-color: #00bfff;
}

#topic_form .topic_kind span.gray.education {
    border-color: #00bfff;
    color: #00bfff;
}

#topic_form .topic_kind span.gray,
.file_class span.gray {
    background-color: #cccccc;
}

#topic_form .topic_kind span.gray {
    background-color: #ffffff;
}

#topic_form .topic_kind span.gray:hover {
    color: #ffffff;
}

.topic.topic_kind {
    position: absolute;
    margin: 10px;
    display: block;
    z-index: 1000;
}

.topic_kind {
    display: inline-block;
}

.topic_kind span {
    border: 1px solid;
}

.topic_kind span,
.file_class span {
    margin-right: 4px;
    -moz-margin-end: 3px;
    color: #FFF;
    padding: 4px 5px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 5px;
    font-size: 11px;
    line-height: 13px;
}

#file .file_class span {
    margin-top: -30px;
}

#file .file_class span:hover {
    cursor: default;
    background-color: #be1f39;
}

.topic_kind span:nth-last-child(2),
.file_class span:nth-last-child(2) {
    margin-right: 0;
}

.topic_kind a,
.topic_kind a:visited,
.topic_kind a:hover {
    text-decoration: none;
}

.topic_kind a,
.topic_kind a:visited {
    color: #fff;
}

.topic_kind span:hover,
.file_class span:hover {
    border-color: #ddddea;
    background-color: #ddddea;
}

.topic_kind span:hover a,
.topic_kind span a:hover {
    color: #4444ba;
}

#topic_form .topic_kind span,
.file_class span {
    cursor: pointer;
}

.social-like {
    margin-left: 10px;
}

hr.insert-cut {
    display: none;
}

.topic_rubrics {
    color: #727272;
    font-size: 12px;
}

.rubric_subscribe {
    position: absolute;
    /* top: 77px;*/
}

div.rubric_wrap {
    min-height: 40px;
    clear: both;
}

div.rubric_wrap ul.rubric_menu {
    width: 80%;
    float: left;
    margin-top: -10px;
}

div.rubric_wrap div.topic_kind {
    float: right;
    margin-top: -14px;
}

.comment_cntarea {
    width: 98%;
}

#topic-comment-form {
    /*position: absolute;*/
    z-index: 100;
    /*visibility: 'hidden'*/
}

.elements {
    clear: both;
}

div.tags {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 11px;
    background: url('/ximg/icons/tag-red.png') 0 6px no-repeat;
}

div.tags a.tag {
    color: #727272;
    text-decoration: underline
}

div.tags a.tag:hover {
    color: #a3a3a3;
}

.box.wide_box {
    width: 100%;
}

#razdel_id.errorMessage {
    position: absolute;
}

.user_for_search .user {
    overflow: hidden;
    display: inline-block;
    width: 33%;
    height: 60px;
}

.user_for_search div.user_search {
    margin: 0 0 40px 0;
}

.user_for_search div.user_search > * {
    vertical-align: middle;
}

.user_for_search div.user_search input {
    display: inline-block;
    padding: 6px;
    font-size: 1.1em;
    width: 760px;
}

.user_for_search .user .avatar_wrapper {
    border: 1px solid #ccc;
    padding: 1px;
    position: relative;
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

.user_for_search .user > span {
    display: table-cell;
    vertical-align: middle;
}

.user_for_search .user .avatar {
    display: block;
    height: 38px;
    width: 38px;
    overflow: hidden;
    padding: 0;
}

.user_for_search .user .member_data {
    padding: 0 10px;
}

.user_for_search .user .member_data .member {
    display: block;
}

.user_for_search .user .member_data .username {
    font-size: 0.9em;
    color: #626b80;
    float: left;
}

#topic_form .buttons *:not(:first-child) {
    margin-left: 8px;
}

#topic_form .buttons .ll {
    color: #4444ba;
    border-bottom: 1px dashed;
}

#comments .friends {
    font-size: 11px;
    margin: 10px 0;
    /*    color: #999;*/
}

p.attention {
    border: 1px solid #C5EEC9;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(45, 238, 45, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}