.markItUp {
    width: 960px;
}

.markItUpEditor {
    width: 960px;
    height: 450px;
}

.attached_files > div {
    background: url(/ximg/icons/attachment.png) 0 1px no-repeat;
    padding-left: 20px;
}

.attached_files {
    padding-bottom: 10px;
}

.file_delete {
    background: url(/ximg/icons/delete.png) 2px 1px no-repeat;
    cursor: pointer;
    padding-left: 20px;
    display: inline;
}

.warning {
    margin-top: -22px;
    margin-bottom: 25px;
    background: url(/ximg/icons/dialog_warning.png) 3px 50% no-repeat;
    padding-left: 40px;
}

.rule {
    font-size: 12px;
}

span.preview {
    position: absolute;
    margin-right: 10px;
    right: 0;
}

p.attention {
    border: 1px solid #C5EEC9;
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(45, 238, 45, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}