.controls {
    padding: 3px 0;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 32px;
    color: #727272;
    font-size: 0.85em;
    -webkit-box-shadow: 0 2px 0 0 #FAFAFA;
    box-shadow: 0 2px 0 0 #FAFAFA;
    line-height: 17px;
    min-height: 19px;
    position: relative;
    overflow: hidden;
    zoom: 1;
}

.controls > div {
    float: left;
    border-right: 1px #ddd;
    border-right-style: solid;
    padding-right: 8px;
    margin-right: 8px;
}

.controls > div:last-child {
    border: 0;
}

.controls a {
    padding: 2px 0;
}

.reject {
    padding: 6px 0;
    font-style: italic;
}

.title {
    font-size: 1.4em;
}

.controls .topic_comments a {
    background: url(/ximg/icons/comments.png) 0 1px no-repeat;
    padding-left: 20px;
}

.controls .topic_comments_team a {
    background: url(/ximg/icons/comments_team.png) 0 2px no-repeat;
    padding: 3px 0 3px 20px
}

.controls .topic_reads span {
    background: url(/ximg/icons/glass.png) no-repeat;
    padding-left: 20px;
}

.controls .file_downloads span {
    background: url(/ximg/icons/downloads.png) 0 1px no-repeat;
    padding-left: 20px;
    padding: 3px 0 3px 20px;
}

.controls .topic_rating {
    background: url(/ximg/icons/plus-circle.png) no-repeat;
    padding-left: 20px;
}

.controls .topic_favourite_count {
    background: url(/ximg/icons/star_yellow.png) no-repeat;
    padding-left: 20px;
}

.controls .topic_author a {
    background: url(/ximg/icons/user.png) 0 2px no-repeat;
    padding: 3px 0 3px 18px;
}

.controls .company-name a {
    color: #cc3333;
}

.controls .location,
.controls .location a {
    background: url('/ximg/icons/marker.png') 0 2px no-repeat;
    padding-left: 20px;
}

.rubric_menu {
    background: url(/ximg/icons/folder.png) 0 2px no-repeat;
    list-style-type: none;
    margin-bottom: 10px;
    font-size: 12px;
    padding-left: 24px;
}

.rubric_menu li {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
    border-right: 1px #DDD;
    border-right-style: solid;
}

.rubric_menu li:last-child {
    border: 0;
}

/* раздел "Компании" */

.content .company {
    position: relative;
    display: block;
    float: left;
    padding: 15px;
    margin-bottom: 16px;
    background: #fff;
    border: 1px solid #ccc;
    width: 650px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.content .company .c_data {
    margin-bottom: 10px;
}

.content .company .c_data .bc_name {
    font-size: 16px;
}

.content .company .c_controls {
    padding-top: 10px;
    margin-left: -5px;
}

.content .company .c_controls > div {
    border-right: 1px solid #ddd;
    display: inline;
    padding: 0 5px;
}

.content .company .c_controls > div:last-child {
    border: 0;
}

img.profile-photo {
    margin: 0;
}

div#member.profile_topics h1 {
    font-size: 26px;
    padding: 20px 0;
    line-height: 26px;
}

div#member h1 .edit,
.myfavourites .edit {
    display: inline-block;
    background: url('../ximg/icons/edit_16x16.png');
    height: 16px;
    width: 16px;
    margin-left: 8px;
    cursor: pointer;
}

.myfavourites .edit {
    transform: rotateY(-180deg);
}

div#member h1 div.profile_name {
    display: inline;
}

div#member .editBlock {
    margin: 0; /*перекрываем стандартное поведение */
}

div#member .editBlock .submit,
.myfavourites .submit {
    display: inline-block;
    background: url('../ximg/icons/save.png') no-repeat;
    height: 16px;
    width: 16px;
    margin-left: 4px;
    cursor: pointer;
}

.myfavourites .submit {
    margin-left: 8px;
}

.myfavourites .editBlock .title {
    padding: 4px;
    font-size: 1.4em;
    width: 90%;
    line-height: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    background: white;
    border: 1px solid #ccc;
}

div#member .editBlock .cancel {
    display: inline-block;
    background: url('../ximg/icons/cancel.png');
    height: 16px;
    width: 16px;
    margin-left: 8px;
    cursor: pointer;
}

div#member .editBlock input {
    font-size: 19px;
    width: 24%;
    line-height: 1em;
}

div#member .editBlock input#last_name {
    margin-left: 6px;
}

div#member .error {
    font-size: 11px;
}

div#member.profile div.author_info {
    padding-top: 10px;
    float: left;
    width: 380px;
}

div.gallery a.fl-l {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 1px solid #ccc;
    background: url(/ximg/icons/add.png) 50% no-repeat;
}

div.member-activity div.sign,
div.profile_topics div.sign {
    width: 88px;
    float: right;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

div.member-activity div.sign.sandbox,
div.profile_topics div.sign.sandbox {
    background-color: #dc963b;
}

.member-activity .sign.publish,
div.profile_topics .sign.publish {
    background-color: green;
}

.member-activity .sign.reject,
div.profile_topics .sign.reject {
    cursor: help;
    background-color: red;
}

.member-activity .sign.draft,
div.profile_topics .sign.draft {
    background-color: #808080;
}

div#member.profile .member-activity .sign,
div#member.profile_topics .sign {
    color: #ffffff;
    margin-top: 1.2em;
    padding: 4px 8px;
}

div#member.profile .member-activity .statistic a,
div#member.profile .member-activity .statistic span,
div.profile_topics .statistic a,
div.profile_topics .statistic span {
    border-right: 1px solid #ddd;
    padding-right: 8px;
    margin-right: 8px;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

div#member.profile .member-activity .statistic a:last-child,
div#member.profile .member-activity .statistic span:last-child,
div.profile_topics .statistic a:last-child,
div.profile_topics .statistic span:last-child {
    border: 0;
}

/*Копия topic.css */
div#member.profile .member-activity .statistic .topic_reads,
div.profile_topics .statistic .topic_reads {
    background: url(/ximg/icons/glass.png) no-repeat;
    padding: 0 8px 1px 20px
}

div#member.profile .member-activity .statistic .topic_comments,
div.profile_topics .statistic .topic_comments {
    background: url(/ximg/icons/comments.png) no-repeat;
    padding: 0 8px 1px 20px
}

div#member.profile .member-activity .statistic .topic_vote,
div.profile_topics .statistic .topic_vote {
    background: url(/ximg/icons/plus-circle.png) no-repeat;
    padding: 0 8px 1px 20px
}

a.add_post {
    top: 38px;
    right: -7px;
    float: right;
    position: absolute;
}
