.box.ordered-topics {
    background-color: #ff661d;
}

.box.ordered-topics ul > li {
    margin: 12px 0;
}

.box.ordered-topics > .title {
    color: #fff;
    margin-top: -2px;
}

.box.ordered-topics > .title .glyphicon {
    font-size: 25px;
    margin-right: 10px;
    margin-top: -6px;
    float: left;
}

.box.ordered-topics a {
    color: white;
    font-size: 12px;
    line-height: 15px;
}

.r-new-market-addresses .address-photo img {
    padding: 1px;
    border: 1px solid #ccc;
}

.r-new-market-addresses li {
    clear: both;
}

.r-new-market-addresses li div span a,
.boxcnt.corporate li > div span a {
    white-space: nowrap;
    color: #2f76dc;
    font-size: 13px;
    font-weight: bold;
}

.r-new-market-addresses .company-name {
    font-size: 11px;
}

.r-new-market-addresses .boxcnt li > div {
    display: block;
    margin-bottom: 10px;
}

.r-new-market-addresses .boxcnt li > div span,
.boxcnt.corporate li > div span {
    overflow: hidden;
    display: block;
    position: relative;
    width: 140px;
}

.r-new-market-addresses .boxcnt li > div,
.r-new-market-addresses .boxcnt li > div span,
.boxcnt.corporate li > div span {
    word-wrap: normal;
    color: #9b9b9b;
    font-size: 13px;
}

.r-new-market-addresses .boxcnt li .address-photo {
    margin: 4px 13px auto 0;
    position: relative;
    float: left;
}

.r-new-market-addresses .company-name {
    font-weight: normal;
    line-height: 14px;
    font-size: 11px;
}

.r-new-market-addresses .boxfooter {
    float: right;
    font-size: 13px;
}

.r-new-market-addresses .boxfooter {
    font-size: 13px;
}

.r-more-to-come > div {
    font-size: 11px;
    border-top: 1px solid #dedede;
    padding-top: 7px;
    margin-top: -7px;
}

.box .glyphicon-fire {
    color: #000;
}

.box .glyphicon-leaf {
    color: #90C683;
}

.box .glyphicon-star {
    color: #FFEF38;
}

/*
.responses_by_company .boxtitle li small.sign,
.last_comments .boxtitle li small.sign {
    cursor: default;
    border: 1px solid #C1C3EE;
}

.latest-services .boxbottom,
.addresses-by-company .boxbottom {
    border-top: 1px solid #ccc;
    font-size: 11px;
}
*/