#ya-site-results
{
    color: #000000;
    background: #F8F8F8;
}

yass-div.b-wrapper {
    background: #F8F8F8;
}

#ya-site-results .b-pager__current,
#ya-site-results .b-serp-item__number
{
    color: #000000 !important;
}

#ya-site-results
{
    font-family: Arial !important;
}

#ya-site-results a:link,
#ya-site-results a:active,
#ya-site-results .b-pseudo-link,
#ya-site-results .b-head-tabs__link,
#ya-site-results .b-head-tabs__link:link,
#ya-site-results .b-head-tabs__link:visited,
#ya-site-results .b-dropdown__list .b-pseudo-link,
#ya-site-results .b-dropdowna__switcher .b-pseudo-link,
#ya-site-results .b-popupa .b-popupa__content .b-menu__item,
#ya-site-results .b-foot__link:link,
#ya-site-results .b-copyright__link:link,
#ya-site-results .b-serp-item__mime,
#ya-site-results .b-pager :link,
#ya-site-results a.b-serp-item__title-link yass-span
{
    color: #4444ba !important;
}

#ya-site-results :link:hover,
#ya-site-results :visited:hover,
#ya-site-results span.b-pseudo-link:hover,
#ya-site-results a.b-serp-item__title-link yass-span:hover
{
    color: #5555e6 !important;
    text-decoration: underline;
}

#ya-site-results .l-page,
#ya-site-results .b-bottom-wizard
{
    font-size: 13px;
}

#ya-site-results .b-pager
{
    font-size: 1.25em;
}

#ya-site-results .b-serp-item__text,
#ya-site-results .ad
{
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-serp-item__title-link,
#ya-site-results .ad .ad-link
{
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .ad .ad-link a
{
    font-weight: bold;
}

#ya-site-results .b-serp-item__title,
#ya-site-results .ad .ad-link
{
    font-size: 16px;
}

#ya-site-results .b-serp-item__title-link:link,
#ya-site-results .b-serp-item__title-link
{
    font-size: 1em;
}

#ya-site-results .b-serp-item__number
{
    font-size: 13px;
}

#ya-site-results .ad .ad-link a
{
    font-size: 0.88em;
}

#ya-site-results .b-serp-url,
#ya-site-results .b-direct .url,
#ya-site-results .b-direct .url a:link,
#ya-site-results .b-direct .url a:visited
{
    font-size: 13px;
    font-style: normal;
    font-weigth: normal;
    color: #329932;
}

#ya-site-results .b-serp-item__links-link
{
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #000000 !important;
}

#ya-site-results .b-pager__inactive,
#ya-site-results .b-serp-item__from,
#ya-site-results .b-direct__head-link,
#ya-site-results .b-image__title,
#ya-site-results .b-video__title
{
    color: #000000 !important;
}

#ya-site-results .b-pager__current,
#ya-site-results .b-pager__select
{
    background: #E0E0E0;
}

#ya-site-results .b-foot,
#ya-site-results .b-line
{
    border-top-color: #E0E0E0;
}

#ya-site-results .b-dropdown__popup .b-dropdown__list,
#ya-site-results .b-popupa .b-popupa__content
{
    background-color: #FFFFFF;
}

#ya-site-results .b-popupa .b-popupa__tail
{
    border-color: #E0E0E0 transparent;
}

#ya-site-results .b-popupa .b-popupa__tail-i
{
    border-color: #FFFFFF transparent;
}

#ya-site-results .b-popupa_direction_left.b-popupa_theme_ffffff .b-popupa__tail-i,
#ya-site-results .b-popupa_direction_right.b-popupa_theme_ffffff .b-popupa__tail-i
{
    border-color: transparent #FFFFFF;
}

#ya-site-results .b-dropdowna__popup .b-menu_preset_vmenu .b-menu__separator
{
    border-color: #E0E0E0;
}

#ya-site-results .b-specification-list,
#ya-site-results .b-specification-list .b-pseudo-link,
#ya-site-results .b-specification-item__content label,
#ya-site-results .b-specification-item__content .b-link,
#ya-site-results .b-specification-list .b-specification-list__reset .b-link
{
    color: #000000 !important;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-calendar__title
{
    font-family: Arial;
    color: #000000;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

#ya-site-results .b-calendar-month__day_now_yes
{
    color: #E0E0E0;
}

#ya-site-results .b-calendar .b-pseudo-link
{
    color: #000000;
}

#ya-site-results .b-popupa .b-popupa__tail-i
{
    background: #F8F8F8;
    border-color: #E0E0E0 !important;
}
.yandex_search {
    margin: 5px 0 0 10px!important
}
.yandex_search input.search {
    width: 69%;
    display: inline-block;
    line-height: normal;
    font-size: 1.2em!important;
}
.yandex_search .market_categories {
}

#ya-site-results .b-pager__page {
    margin: 0!important;
}

div#ya-site-results yass-div.b-wrapper yass-div.b-bottom-wizard yass-div.b-pager__pages a.b-pager__page:link {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #333!important;
    text-decoration: none!important;
}
div#ya-site-results .b-pager .b-pager__pages b.b-pager__current {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #141440!important;
    font-weight: bold!important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6))!important;/* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6)!important;/* Chrome10+,Safari5.1+ */
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6)!important;/* FF3.6+ */
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6)!important;/* IE10+ */
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6)!important;/* Opera 11.10+ */
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6)!important;/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0)!important;/* IE6-9 */
}