.tool_description ul {
    list-style: disc;
    margin-left: 25px;
    padding-bottom: 10px;
}

.name {
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.activesList {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.liabilitiesList {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.activesList input, .activeSumm input {
    width: 20%;
    display: inline-block;
    float: right;
    height: 20px;
    margin-bottom: 4px;
}
.liabilitiesList input, .liabilitiesSumm input, .finalSumm input, .realSumm input {
    height: 20px;
    width: 20%;
    display: inline-block;
    float: right;
    margin-bottom: 4px;
}
.activesList li {
/*    width: 75%;*/
    clear: both;
    margin-bottom: 10px;
}
.liabilitiesList li {
/*    width: 75%;*/
    clear: both;
    margin-bottom: 10px;
}
.activesList label, .activeSumm label {
    float: left;
}
.liabilitiesList label, .liabilitiesSumm label {
    float: left;
}
.finalSumm, .realSumm {
    padding-top: 10px;
    clear: both;
}
.LASumm {
    clear: both;
    padding-top: 15px;
}
.LASumm div {
    display: inline-block;
    width: 100%;
}
.LASumm label {
    display: block;
}
.percentage {
    clear: both;
    margin-top: 10px;
    padding-top: 10px;
}
.percentageName {
    font-weight: bold;
    font-size: 1.1em;
    padding-bottom: 10px;
}
.percentage .percent label, .percentage .decimalFraction label, .percentage .simpleFraction label {
    float: left;
    width: 30%;
}
.percentage .percent input:nth-of-type(odd),.percentage .simpleFraction input:nth-of-type(odd) {
    width: 4%;
}
.percentage .percent input:nth-of-type(even), .percentage .simpleFraction input:nth-of-type(even) {
    width: 5%;
}
.percentage .decimalFraction input:nth-of-type(odd) {
    width: 2%;
}
.percentage .decimalFraction input:nth-of-type(even) {
    width: 7%;
}
.realSumm input, .finalSumm input {
    font-weight: bold;
    height: 20px;
}
.error {
    display: none;
     color: #ff0000;
}
.outcome {
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 20px;
}

.activesList .actives div, .liabilitiesList .liabilities div, .activeSumm div, .liabilitiesSumm div, .finalSumm div, .realSumm div {
    display: inline-block;
    width: 78%;
    border-bottom: 1px dotted;
    float: left;
    height: 25px;
}
.activesList .actives div label, .liabilitiesList .liabilities div label, .activeSumm label, .liabilitiesSumm label, .finalSumm label, .realSumm label {
    line-height: 36px;
    background-color: #F8F8F8;
    padding-right: 4px ;
}