.name {
    font-size: 1.1em;
    padding-right: 10px;
}
.shareholder .sh, .newShName {
    width: 160px;
}
.sh input, .newShName input{
    width: 150px;
}
.shareholder .shCapitalMoney, .newShCapitalMoney {
    width: 160px;
}
.shCapitalMoney input, .newShCapitalMoney input {
    width: 150px;
}
.shareholder .shCapitalPercent {
    width: 120px;
}
.shareholder .shCapitalFraction {
    width: 120px;
}
.small, .newShCapitalPercent input{
    width: 92px;
}
.tiny {
    width: 30px;
}
.shareholder span.delimiter {
    padding: 2px;
}
.shareholder {
    padding-bottom: 5px;
}

.shareholders {
    clear: both;
    padding: 5px;
}
.shareholders span, .shareholders input {
    float: none;
}
.shareholder div, .newShareholder div {
    display: inline-block;
}
.newShareholder {
    padding-top: 10px;
}
.input_ctrl {
    margin-left: 5px;
    margin-top: 0!important;
    float: none!important;
    display: inline-block;
    position: absolute!important;
}
.input_ctrl .info {
    display: none;
    width: 16px;
    height: 16px;
    cursor: help;
    background: url('/ximg/icons/alert_yellow.png') no-repeat;
    margin-left: 5px;
}

.help {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: help;
    background: url('/ximg/icons/ico-help.png') no-repeat;
    margin-left: 5px;
    margin-bottom: -3px;
}

.green {
    color: green;
}
.red {
    color: red;
}

.overallResults {
    margin-top: 15px;
    display: none;
}
.overallResults span {
    /*padding-left: 10%;*/
}
.overallResults p, .bold {
    font-weight: bold;
}
.overallResults label {
    display: inline-block;
    width: 136px;
}

#renewFractionsAndCapital {
    float: right;
}
.information {
    padding: 5px;
    overflow: hidden;
}
.right {
    float: right;
    overflow: hidden;
}
.left {
    float: left;
    overflow: hidden;
}
.border {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.padding {
    padding: 5px;
}

.additionalCalculators {
    padding-top: 20px;
}

/*
.choice {
    margin-bottom: 10px;
}
.choice span {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #87cefa;
}
.choice:hover span {
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.choice .dropdownSelect {
    display: none;
    background-color: #87cefa;
    border-radius: 4px;
    cursor: pointer;
}
.choice:hover .dropdownSelect {
    display: block;
    position: absolute;
}
.choice .dropdownSelect li {
    padding: 5px;
    border-top: 1px solid #B0B0B0);
}*/
.sharesRedistribution {
    display: none;
}
.dropdownSelect {
    display: inline-block;
    background-color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    border: 1px solid #EBEBEB;
    border-bottom-color: #bbb;
}
.visible li {
    /*border-bottom: 1px dotted;*/
    /*padding: 5px;*/
   /* border-bottom: 1px solid #b4b4b4;*/
}
.dropdownSelect li {
    padding: 5px;
}
.dropdownSelect li:not(.current) {
    display: none;
}
.dropdownSelect li.current {
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    text-shadow: 0 1px 1px #fff;
    color: #333;
}
.dropdownSelect li:hover {
    background-color: #e1e1e1;
}
.choice {
    position: relative;
    min-height: 36px;
}
.dropdownSelect li {
    width: 200px;
}
.dropdownSelect li .cursor {
    float: right;
    height: 11px;
    width: 11px;
    /*background: url('/ximg/arrowb.png') no-repeat;*/
    display: none;
    margin-top: 3px;
}
.dropdownSelect li.current .cursor {
    display: inline-block;
}
.visible li.current .cursor {
    display: none;
}
.choiceSlider {
    clear: both;
    padding-left: 349px;
}
/*.choiceSlider span {
    display: inline-block;
    font-weight: bold;
    padding: 0 10px 0 10px;
}*/
.dropdownHelp {
    margin-left: 217px;
    margin-top: 7px;
    position: absolute;
}
.shHelp {
/*    display: none;*/
}
.shHelp .help {
    padding-top: 23px;
}
.slider {
    border-radius: 4px;
    display: inline-block;
    height: 22px;
    width: 75px;
    background: url('/ximg/iphone_switch.png') no-repeat;
}
.additionalCalculators {
    padding-left: 5px;
}

/*
.newShCapitalPercent, .newShCapitalFraction, .newShCapitalMoney {
    display: none;
}*/
.clearCharterCapital {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('/ximg/icons/close_white.png') no-repeat;
    margin-left: -29px;
    margin-top: 9px;
}
.clearCharterCapital:hover {
    background: url('/ximg/icons/close.png') no-repeat;
}