/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp .markItUpButton1 a	{
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton2 a	{
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton3 a	{
	background-image:url(images/underline.png);
}

.markItUp .markItUpButton4 a	{
    background-image:url(images/title.png);
}

.markItUp .link a	{
	background-image:url(images/link.png);
}

.markItUp .in_quotes a	{
    background-image:url(images/in_quotes.png);
}

.markItUp .member a	{
    background-image:url(images/user-add.png);
}

.markItUp .list-bullet a	{
	background-image:url(images/list-bullet.png);
}
.markItUp .list-numeric a	{
	background-image:url(images/list-numeric.png);
}
.markItUp .list-item a	{
	background-image:url(images/list-item.png);
}

.markItUp .quote a	{
	background-image:url(images/quotes.png);
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
