/* Height hack for float wrappers */
.services {
	overflow: auto;
}

.auth-icon {
    display: inline-block;
	width: 32px;
	height: 32px;
	background: url("../images/auth.png") no-repeat;
}

.auth-icon-small {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url("../images/auth_small.png") no-repeat;
}

.auth-icon.google,
.auth-icon.google_oauth {
	background-position: 0 -34px;
}

.auth-icon.twitter {
	background-position: 0 -68px;
}

.auth-icon.yandex,
.auth-icon.yandex_oauth {
	background-position: 0 -102px;
}

.auth-icon.vkontakte {
	background-position: 0 -136px;
}

.auth-icon.facebook {
	background-position: 0 -170px;
}

.auth-icon.mailru {
	background-position: 0 -204px;
}

.auth-icon.moikrug {
	background-position: 0 -238px;
}

.auth-icon.odnoklassniki {
	background-position: 0 -272px;
}

.auth-icon.linkedin {
	background-position: 0 -306px;
}

.auth-icon.github {
	background-position: 0 -340px;
}

.auth-icon.live {
	background-position: 0 -372px;
}

.auth-icon-small.google,
.auth-icon-small.google_oauth {
    background-position: 0 -21px;
}

.auth-icon-small.twitter {
    background-position: 0 -42px;
}

.auth-icon-small.yandex,
.auth-icon-small.yandex_oauth {
    background-position: 0 -64px;
}

.auth-icon-small.vkontakte {
    background-position: 0 -85px;
}

.auth-icon-small.facebook {
    background-position: 0 -106px;
}

.auth-icon-small.mailru {
    background-position: 0 -127px;
}

.auth-icon-small.moikrug {
    background-position: 0 -238px;
}

.auth-icon-small.odnoklassniki {
    background-position: 0 -272px;
}

.auth-icon-small.linkedin {
    background-position: 0 -306px;
}

.auth-icon-small.github {
    background-position: 0 -340px;
}

.auth-icon-small.live {
    background-position: 0 -372px;
}

.auth-icon-small.google,
.auth-icon-small.google_oauth {
    background-position: 0 -21px;
}

.auth-icon-small.twitter {
    background-position: 0 -42px;
}

.auth-icon-small.yandex,
.auth-icon-small.yandex_oauth {
    background-position: 0 -64px;
}

.auth-icon-small.vkontakte {
    background-position: 0 -85px;
}

.auth-icon-small.facebook {
    background-position: 0 -106px;
}

.auth-icon-small.mailru {
    background-position: 0 -127px;
}

.auth-icon-small.moikrug {
    background-position: 0 -238px;
}

.auth-icon-small.odnoklassniki {
    background-position: 0 -272px;
}

.auth-icon-small.linkedin {
    background-position: 0 -306px;
}

.auth-icon-small.github {
    background-position: 0 -340px;
}

.auth-icon-small.live {
    background-position: 0 -372px;
}

.auth-link:hover .auth-icon i,
.auth-link:focus .auth-icon i {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../images/auth.png") 0 0 no-repeat;
}

.auth-left {
    float: left;
    line-height: 20px;
}

.auth-services {
	/*margin: 0 0 1em;*/
	list-style: none;
	/* Height hack for float wrappers */
	overflow: auto;
    padding-left: 5px;
}

.auth-service {
	display: inline-block;
	margin: 0.2em 1em 0 0;
}

.auth-services .auth-service .auth-link {
	display: block;
	width: 100px;
    height: 40px;
	/*padding: 0 0.4em;*/
}

.auth-service .auth-link .auth-icon {
	margin: 0 auto;
}

.auth-service .auth-link .auth-title {
	/*display: block;
	margin-top: 0.4em;
	text-align: center;*/
    padding-left: 10px;
    position: absolute;
    padding-top: 8px;
}